<div ng-controller="HomeController as vm">
    <div class="row">
        <div class="date-filters cell">
            <span><i18n>massmailing.from</i18n></span>
            <span class="date-picker">
            <date-picker ng-model="vm.filter.start_date"
                         ng-change="vm.fetchData()"></date-picker>
        </span>
            <span><i18n>massmailing.to</i18n></span>
            <span class="date-picker">
            <date-picker ng-model="vm.filter.end_date"
                         ng-change="vm.fetchData()"></date-picker>
        </span>
        </div>
        <div class="right-magnet">
            <button disabled>
                <i18n>massmailing.massmail.mail</i18n>
            </button>
        </div>
    </div>
    <div class="row vertical-spacing-twice">
        <i class="filter cell" ng-click="vm.openForm()">&nbsp;</i>
        <div class="cell" ng-repeat="(type, val) in vm.filter.status">
            <div class="card horizontal-margin-small horizontal-spacing" ng-if="vm.filter.status[type]">
                [[lang.translate('massmailing.types.' + type)]]
            </div>
        </div>
        <div class="cell" ng-repeat="(massmailState, val) in vm.filter.massmailing_status">
            <div class="card horizontal-margin-small horizontal-spacing"
                 ng-if="vm.filter.massmailing_status[massmailState]">
                [[lang.translate('massmailing.massmailed.' + massmailState)]]
            </div>
        </div>
    </div>
    <div class="grid horizontal-spacing-twice massmail-status row vertical-spacing-six widget-alerts">
        <div ng-repeat="(status, val) in vm.massmailingStatus" class="massmailing-status-alert cell">
            <div class="card [[status]] widget-alert">
                <span class="value">[[val]]</span>
                <p class="subtitle">
                    [[lang.translate('massmailing.alerts.' + status + '.text')]]
                </p>
            </div>
        </div>
    </div>
    <div class="horizontal-spacing-twice massmail-anomalies row vertical-spacing-six">
        <div class="hr">&nbsp;</div>
        <div class="row">
            <h4 class="title">
                <i18n>massmailing.anomalies.title</i18n>
            </h4>
        </div>
        <div class="row chips">
            <div class="chip" ng-repeat="type in vm.getKeys(vm.massmailingCount)"
                 ng-class="{ selected: vm.filter.anomalies[type]}"
                 data-ng-click="vm.filter.anomalies[type] = !vm.filter.anomalies[type]">
                <span class="no-style">
                    <i class="incidents">&nbsp;</i> [[ vm.massmailingCount[type] ]]
                    <i18n>massmailing.anomalies</i18n>
                    [[ type ]]
                </span>
            </div>
        </div>
        <div class="row vertical-spacing" ng-show="vm.filter.anomalies.MAIL">
            <table>
                <thead>
                <th width="20%" class="text-align-left">
                    <i18n>massmailig.student</i18n>
                </th>
                <th width="10%">
                    <i18n>massmailing.class</i18n>
                </th>
                <th width="10%">
                    <i18n>massmailing.number</i18n>
                </th>
                <th width="20%" ng-repeat="type in vm.getKeys(vm.massmailingCount)">
                    [[lang.translate('massmailing.anomalies.' +
                    type)]]
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="anomaly in vm.massmailingAnomalies">
                    <td>[[anomaly.displayName]]</td>
                    <td class="text-center">[[anomaly.className]]</td>
                    <td class="text-center counters-cell">
                        <div class="counters">
                            <div ng-repeat="countType in vm.getKeys(anomaly.count)" class="[[countType]] counter">
                                [[anomaly.count[countType] ]]
                            </div>
                        </div>
                    </td>
                    <td class="text-center" ng-repeat="type in vm.getKeys(vm.massmailingCount)">
                        [[lang.translate('massmailing.anomalies.student.' + type)]]
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <lightbox show="vm.filter.show" on-close="vm.filter.show = false" class="massmailing-filters">
        <div ng-include="'/massmailing/public/template/home_filters.html'"></div>
    </lightbox>
</div>