&.sniplet-presence-form {
  .sniplet-form {

    /* title */
    .sniplet-header {
      display: flex;
      align-items: center;
      padding: 32px 16px;

      &-icon {
        font-size: 40px;
        padding-right: 24px;

        i::before {
          color: $presences-black;
        }
      }

      &-title {
        color: $presences-black;
      }
    }

    /* input */
    .sniplet-input {
      padding: 0 16px 24px 16px;
      display: flex;
      flex-direction: column;

      &-alert-rule {
        input[type=checkbox]:checked+span::before {
          background-color: unset !important;
          border-color: $presences-orange !important;
          content: "" !important;
        }
        input[type=checkbox]+span::before {
          border-color: $presences-orange !important;
          background-color: $presences-orange !important;
          transform: rotate(0deg);
          content: "\e871";
        }
      }

      &-title {
        padding-bottom: 16px;

        &-large {
          font-size: 24px;
        }
      }

      &-color {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        align-items: center;

        li {
          margin-right: 24px;
        }

        li.active {
          border-color: $presences-black;
          border-style: solid;
        }
      }

      &-flex {
        display: flex;
      }
    }

    /* add / lists */
    .sniplet-addList {
      padding: 0 16px 32px 16px;
      display: flex;
      flex-direction: column;

      button {
        width: 97px;
        margin-bottom: 24px;
        background-color: $presences-orange;

        &:disabled {
          background: $disabled-color;
        }
      }

      &-content {
        &-list {
          list-style-type: none;
          padding: 0;
          font-weight: bold;
          display: flex;
          flex-flow: wrap;

          &-item {
            list-style: none;
            display: flex;
            width: 50%;
            line-height: 25px;
            justify-content: space-between;

            &-icon {

              &-orange {
                color: $presences-orange;
              }

              &-yellow {
                color: $presences-main;
              }
            }

            &-title {
              align-self: center;
              display: flex;

              .presence-edit {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.3s linear, opacity 0.3s linear;
              }

              &:hover .presence-edit {
                visibility: visible;
                opacity: 1;
              }

              &-color {
                margin: 0 8px;
              }

            }

            &-icons {
              width: 100px;
            }
          }

          &-punishment-item {
            list-style: none;
            display: flex;
            width: 500px;
            line-height: 25px;
            justify-content: space-between;
          }
        }

        &-punishment-list {
          list-style-type: none;
          padding: 0;
          font-weight: bold;
        }
      }
    }

    .codeMassmailing {
      position: relative;
      display: inline-block;
    }

    .codeMassmailing .tooltiptext {
      font-family: Roboto;
      visibility: hidden;
      min-width: 120px;
      font-size: 12px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.26);
      position: absolute;
      background-color: $presences-white;
      color: $presences-black;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      z-index: 1;
      bottom: 140%;
      left: -5%;
      opacity: 0;
      transition: opacity 0.3s;

      &.tooltipDoubleLine {
        bottom: 120% !important;
      }
    }

    .codeMassmailing .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid $presences-white;
    }

    .codeMassmailing:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  .sniplet-form-lightbox {

    .content {
      padding: 0;
    }

    &-head {
      background: $presences-blue !important;
      margin-bottom: 8px;
    }

    &-body {
      display: flex;
      flex-direction: column;

      &-warning {
        color: $presences-red;
      }

      &-input {
        margin: 16px 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }

      &-color {
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          padding: 0;
        }

        li {
          margin-right: 24px;
        }

        li.active {
          border-color: $presences-black;
          border-style: solid;
        }
      }

      &-regularisable, &-compliance, &-alert-rule {
        display: flex;
        margin: 16px 0;
      }
      &-alert-rule {
        input[type=checkbox]:checked+span::before {
          background-color: unset !important;
          border-color: $presences-orange !important;
          content: "" !important;
        }
        input[type=checkbox]+span::before {
          border-color: $presences-orange !important;
          background-color: $presences-orange !important;
          transform: rotate(0deg);
          content: "\e871";
        }
      }
    }
  }

  editor {
    lightbox {
      .flex-row {
        text-align: unset;
        width: 80%;
      }

      .content {
        padding: 15px;
      }

      .close-lightbox {
        color: unset;
      }
    }

    .mathjax {
      lightbox {
        .close-lightbox {
          display: none;
        }
      }
    }
  }

}