&.sniplet-presence-form {
  .sniplet-form {

    /* title */
    .sniplet-header {
      display: flex;
      align-items: center;
      padding: 32px 16px;
      &-icon {
        font-size: 40px;
        padding-right: 24px;
      }
      &-title {
        color: $presences-black;
      }
    }

    /* input */
    .sniplet-input {
      padding: 0 16px 24px 16px;
      display: flex;
      flex-direction: column;
      &-title {
        padding-bottom: 16px;
      }
      &-color {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        align-items: center;
        li {
          margin-right: 24px;
        }
        li.active {
          border-color: $presences-black;
          border-style: solid;
        }
      }
    }

    /* add / lists */
    .sniplet-addList {
      padding: 0 16px 32px 16px;
      display: flex;
      flex-direction: column;
      button {
        width: 97px;
        margin-bottom: 24px;
        background-color: $presences-orange;
       &:disabled{
          background: $disabled-color;
        }
      }
      &-content {
        &-list {
          list-style-type: none;
          padding: 0;
          font-weight: bold;
          display: flex;
          flex-flow: wrap;
          &-item {
            list-style: none;
            display: flex;
            width: 50%;
            line-height: 25px;
            justify-content: space-between;
            &-title {
              align-self: center;
              display: flex;
              .presence-edit {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.3s linear,opacity 0.3s linear;
              }
              &:hover .presence-edit {
                visibility: visible;
                opacity: 1;
              }
              &-color {
                margin: 0 8px;
              }
            }
            &-icons {
              width: 100px;
            }
          }
        }
      }
    }
  }

  .sniplet-form-lightbox {

    .content {
      padding: 0;
    }

    &-head {
      background: $presences-blue!important;
      margin-bottom: 8px;
    }

    &-body {
      display: flex;
      flex-direction: column;
      &-warning {
        color: $presences-red;
      }
      &-input {
        margin: 16px 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      &-color {
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          padding: 0;
          align-items: center;
        }
        li {
          margin-right: 24px;
        }
        li.active {
          border-color: $presences-black;
          border-style: solid;
        }
      }
      &-regularisable, &-compliance {
        margin: 16px 0;
      }
    }
  }

}