<div class="row">
    <!--Title-->
    <h1 class="cell paddingRight">
        <i18n>presences.presences.title</i18n>
    </h1>

    <!-- Personnal search bar -->
    <div class="cell three paddingLeft" workflow="presences.search">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-disabled="false"
                                data-ng-model="vm.usersSearch.user"
                                data-ng-change="vm.selectUser"
                                data-on-search="vm.searchUser"
                                data-options="vm.usersSearch.users"
                                data-placeholder="presences.search.personnal"
                                data-search="vm.usersSearch.user">
            </async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="user in vm.usersSearch.selectedUsers">
                    [[user.displayName]] <i class="close"
                                            data-ng-click="vm.removeSelectedUsers(user)"></i>
                </li>
            </ul>
        </div>
    </div>

    <!-- Students search bar -->
    <div class="cell three paddingLeft" workflow="presences.searchStudents">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-disabled="false"
                                data-ng-model="vm.studentsSearch.student"
                                data-ng-change="vm.selectStudent"
                                data-on-search="vm.searchStudent"
                                data-options="vm.studentsSearch.students"
                                data-placeholder="presences.exemptions.search.student"
                                data-search="vm.studentsSearch.student">
            </async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="student in vm.studentsSearch.selectedStudents">
                    [[student.displayName]] <i class="close"
                                               data-ng-click="vm.removeSelectedStudents(student)"></i>
                </li>
            </ul>
        </div>
    </div>

    <!-- Audience search bar -->
    <div class="cell three paddingLeft" workflow="presences.searchStudents">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-disabled="false"
                                data-ng-model="vm.groupsSearch.group"
                                data-ng-change="vm.selectGroup"
                                data-on-search="vm.searchGroup"
                                data-options="vm.groupsSearch.groups"
                                data-placeholder="presences.exemptions.search.audience"
                                data-search="vm.groupsSearch.group">
            </async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="group in vm.groupsSearch.selectedGroups" data-ng-show="vm.groupsSearch.selectedGroups.length > 0">
                    [[group.toString()]] <i class="close" data-ng-click="vm.removeSelectedGroups(group)"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Date filter -->
<div class="row top5">

    <date-range-picker
            start-date="vm.filter.startDate"
            end-date="vm.filter.endDate"
            on-update="vm.updateFilter">
    </date-range-picker>

    <!-- Button menu -->
    <div class="four cell">
        <sniplet workflow="presences.createPresences" template="presence-form" application="presences"></sniplet>
        <button class="right-magnet" ng-click="vm.exportCsv()">
            <i18n>presences.export.tocsv</i18n>
        </button>
    </div>
</div>

<!-- Presences Filter -->
<div class="register registry-eventTypeFilter" ng-if="!isTeacher()">
    <div class="chips">
        <!-- key for presence filter "mine" is vm.presencesFilter[0] -->
        <label class="chip" ng-class="{selected: vm.filter.presencesFilter.mine}"
               data-ng-click="vm.togglePresencesFilter(vm.presencesFilter[0])">
            <i18n>presences.presences.mine</i18n>
        </label>
    </div>
</div>
