/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
.idea/
node_modules
*.iml
*/build
*/src/main/resources/public/dist
*/src/main/resources/public/temp
*/src/main/resources/public/js
*/src/main/resources/public/template/entcore
*/src/main/resources/view/
*/rev-manifest.json
coverage/
presences/src/main/resources/public/font
