.history-lightbox {

  .header-lightbox {
    margin-bottom: 0;
  }

  /* reajdust padding list students/groups */
  .search-input-ul {
    padding: 8px 0 0 0;
  }

  input {
    margin-bottom: 0;
  }
}