$presences-main: #ffb600;
$presences-orange: #FF8500;
$presences-red: #e61610;
$presences-pink: #ff8a84;
$presences-beige-light: #fff8eb;
$presences-purple: #9c29b7;
$presences-green: #72bb53;
$presences-water-green: #b0ead5;
$presences-blue: #2a9cc8;
$presences-remark: #2f5be0;
$presences-grey: #aaaaaa;
$presences-grey-clear: #eeeeee;
$presences-grey-incident: #d6d6d6;
$presences-grey-light: #f0f0f0;
$presences-grey-smoke: #f7f7f7;
$presences-white: #ffffff;
$presences-middle-grey: #929292;
$presences-black: rgba(0, 0, 0, .87);

$massmailing-card-shadow: 0 5px 5px rgba(0, 0, 0, 0.21);

/* ----------------------------
    Spacing
---------------------------- */
$spacing-XXL: 68px;
$spacing-XML: 60px;
$spacing-XM: 48px;
$spacing-XL: 42px;
$spacing-L: 24px;
$spacing-M: 16px;
$spacing-S: 12px;
$spacing-XLXS: 10px;
$spacing-LXS: 8px;
$spacing-XXS: 4px;