.forgotten-registers-widget {
  &-tooltip {
    display: flex;
    align-items: center;
    padding: 8px 0;

    &-text {
      padding: 0 8px;
    }

    .switch input[type=checkbox]:checked + .tick {
      background: $presences-light-green;

      &:before {
        background: $presences-dark-green;
      }
    }
  }
  .card-slider.empty {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .empty-title {
      width: auto !important;
    }

    .tick-color {
      &:first-child {
        margin-right: 50px;
      }

      &:last-child {
        margin-left: 50px;
      }
    }
  }
}