.statements-widgets {
  &-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
  }

  /* content each card css */
  .statement {
    display: flex;
    height: 110px;
    border-radius: 7px;
    box-shadow: $box-shadow;
    margin: 0 16px 16px 0;
    width: 30%;
    cursor: pointer;

    &:hover {
      background: $presences-main;
      color: $presences-white;
    }

    &-description {
      padding: 8px 16px;
      flex: 2;

      &-title {
        margin-bottom: 8px;
      }

      /* description */
      &-inside {
      }
    }

    &-date {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 7px;
      border-left: 1px solid $presences-grey-incident;

      &.same {
        justify-content: center;
      }

      &-time {
        display: flex;
        flex-direction: column;
      }
    }
  }

  /* empty state css */
  .empty-state {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    &-title {
      width: auto;
      color: $presences-middle-grey;
      font-size: 18px;
      text-align: center;
    }

    .tick-color {
      &:first-child {
        margin-right: 50px;
      }

      &:last-child {
        margin-left: 50px;
      }
    }
  }
}