<div class="table global-indicator">
    <!-- Header -->
    <div class="thead">
        <div class="tr">
            <div class="th">
                <i18n>statistics-presences.classes</i18n>
            </div>
            <div class="th student" style="text-align: left;">
                <i18n>statistics-presences.students</i18n>
            </div>
            <div ng-if="vm.indicator.absenceSelected()" class="th ellipsis">
                <i18n>statistics-presences.indicator.filter.type.ABSENCE_TOTAL.abbr</i18n>
            </div>
            <div class="th ellipsis" ng-repeat="type in vm.indicator._filterTypes" ng-if="type.selected()">
                [[
                idiom.translate('statistics-presences.indicator.filter.type.' + type.name() + '.abbr')
                ]]
            </div>
        </div>
    </div>

    <!-- Main line : totals -->
    <div class="count tbody" ng-if="vm.indicator.values.students.length > 0" sticked>
        <div class="tr text-center">
            <div class="td student-count">
                <i18n>statistics-presences.indicator.students.total.1</i18n>
                [[vm.indicator.values.count.STUDENTS]]
                <i18n>statistics-presences.indicator.students.total.2</i18n>
            </div>
            <div class="td" ng-if="vm.indicator.absenceSelected()">
                <!-- display total absence -->
                <span ng-if="vm.indicator.values.count.ABSENCE_TOTAL > 0">
                    [[vm.indicator.displayGlobalValue('ABSENCE_TOTAL')]]
                    <em class="metadata"
                        ng-if="vm.indicator.values.slots.ABSENCE_TOTAL > 0 && vm.indicator.filter('HOUR_DETAIL').selected">
                        <br>
                        ([[vm.indicator.values.slots.ABSENCE_TOTAL]] <i18n>statistics-presences.slots</i18n>)
                    </em>
                </span>
                <!-- total absence empty state -->
                <span ng-if="vm.indicator.values.count.ABSENCE_TOTAL === 0">
                    -
                </span>
            </div>
            <div class="td" ng-repeat="type in vm.indicator._filterTypes" ng-if="type.selected()">

                <!-- display total type of event -->
                <span ng-if="vm.indicator.values.count[type.name()] && vm.indicator.values.count[type.name()] > 0">
                    [[vm.indicator.displayGlobalValue(type.name())]]
                    <em class="metadata"
                        ng-if="vm.indicator.values.slots[type.name()] > 0 && vm.indicator.filter('HOUR_DETAIL').selected">
                        <br>
                        ([[ vm.indicator.values.slots[type.name()] ]] <i18n>statistics-presences.slots</i18n>)
                    </em>
                </span>

                <!-- total type empty state -->
                <span ng-if="!vm.indicator.values.count[type.name()] || vm.indicator.values.count[type.name()] === 0">
                    -
                </span>
            </div>
        </div>
    </div>

    <!-- Students statistics -->
    <div class="tbody">
        <div class="cell-values tr" ng-repeat="student in vm.indicator.values.students">
            <!-- Audience name -->
            <div class="td text-center flex-row row__6">
                <span class="flex-col col__1 justify-center">
                    <i class="last-absent reload" ng-click="vm.refreshStudentsStatistics([student.id])"
                       ng-class="{'disabled': vm.loading}"></i>
                </span>
                <span class="audience flex-col col__4 justify-center">
                    [[student.audience]]
                </span>
            </div>
            <!-- Student name -->
            <div class="td student ellipsis flex-row text-center">
                <student-name name="student.name" id="student.id" class="ellipsis"></student-name>
            </div>
            <!-- Total absences -->
            <div ng-if="vm.indicator.absenceSelected()" class="td flex-row text-center indicator-value">
                <span ng-if="student.statistics.ABSENCE_TOTAL !== undefined">
                    [[vm.indicator.displayStudentValue(student, 'ABSENCE_TOTAL')]]
                </span>
                <span ng-if="student.statistics.ABSENCE_TOTAL === undefined">
                   -
                </span>
            </div>
            <!-- Other event types -->
            <div ng-repeat="type in vm.indicator._filterTypes" ng-if="type.selected()"
                 class="cell-values td flex-row text-center indicator-value"
                 ng-class="{'max-value': student.statistics[type.name()].max}">
                <span ng-if="student.statistics[type.name()] !== undefined">
                    [[vm.indicator.displayStudentValue(student, type.name())]]
                    <em class="metadata" ng-class="{'em-slots-rate': vm.indicator.rateDisplay}"
                        ng-if="student.statistics[type.name()].slots > 0 && vm.indicator.filter('HOUR_DETAIL').selected">
                        ([[student.statistics[type.name()].slots]] <i18n>statistics-presences.slots</i18n>)
                    </em>
                </span>
                <span ng-if="student.statistics[type.name()] === undefined">
                   -
                </span>
            </div>
        </div>
    </div>
</div>
<infinite-scroll scrolled="vm.indicator.page = vm.indicator.page + 1; vm.launchResearch()"></infinite-scroll>