<!-- display table mode -->
<div class="monthly" ng-if="vm.indicator._display === vm.displayType.TABLE">
    <monthly-table indicator="vm.indicator"></monthly-table>
    <infinite-scroll scrolled="vm.indicator.page = vm.indicator.page + 1; vm.launchResearch()"></infinite-scroll>
</div>

<!-- display graphic chart mode -->
<div class="statistics-chart">
    <chart-statistics ng-if="vm.indicator._display === vm.displayType.GRAPH"
                      indicator="vm.indicator"
                      filter="vm.filter"
                      on-change="vm.launchResearch()"></chart-statistics>
</div>

