<!--  SMS codes content -->
<div class="content">

    <!-- Codes for absences -->
    <div class="sniplet-input-title font-bold">
        <i18n>massmailing.codes.for.absences</i18n>&#58;
    </div>

    <!-- Student name [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codePDFName"
                  data-ng-click="vm.copyCode('codePDFName', 'tooltipPDFName')"
                  data-ng-mouseleave="vm.outCopy('tooltipPDFName')">
                                    <i18n>massmailing.codes.child.name</i18n>
                                </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipPDFName" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.students.name.label</i18n>
    </div>

    <!-- Class name [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codePDFClass"
                  data-ng-click="vm.copyCode('codePDFClass', 'tooltipPDFClass')"
                  data-ng-mouseleave="vm.outCopy('tooltipPDFClass')">
                <i18n>massmailing.codes.class.name</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipPDFClass" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.class.label</i18n>
    </div>

    <!-- Absence number [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codePDFAbsence"
                  data-ng-click="vm.copyCode('codePDFAbsence', 'tooltipPDFAbsence')"
                  data-ng-mouseleave="vm.outCopy('tooltipPDFAbsence')">
                <i18n>massmailing.codes.absence.number</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipPDFAbsence" class="tooltiptext tooltipDoubleLine"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.absences.number.label</i18n>
    </div>

    <!-- lateness number [CODE] -->
    <div class="margin-bottom-lg">
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codePDFLateness"
                  data-ng-click="vm.copyCode('codePDFLateness', 'tooltipPDFLateness')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailLateness')">
                <i18n>massmailing.codes.lateness.number</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipPDFLateness" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.lateness.number.label</i18n>
    </div>

    <!-- Codes for unique punishment/sanction -->
    <div class="sniplet-input-title font-bold">
        <i18n>massmailing.codes.unique.punishment.sanction</i18n>&#58;
    </div>

    <!-- punishment type [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailPunitionType"
                  data-ng-click="vm.copyCode('codeMailPunitionType', 'tooltipMailPunitionType')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailPunitionType')">
                <i18n>massmailing.codes.punishment.type</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailPunitionType" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.type.label</i18n>
    </div>

    <!-- Sanction type [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailSanctionType"
                  data-ng-click="vm.copyCode('codeMailSanctionType', 'tooltipMailSanctionType')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailSanctionType')">
                <i18n>massmailing.codes.sanction.type</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailSanctionType" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.sanction.type.label</i18n>
    </div>

    <!-- Responsible [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailResponsible"
                  data-ng-click="vm.copyCode('codeMailResponsible', 'tooltipMailResponsible')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailResponsible')">
                <i18n>massmailing.codes.punishment.responsible</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailResponsible" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.responsible.label</i18n>
    </div>

    <!-- Description punishment/sanction [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailDescriptionPunishment"
                  data-ng-click="vm.copyCode('codeMailDescriptionPunishment', 'tooltipMailDescriptionPunishment')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailDescriptionPunishment')">
                <i18n>massmailing.codes.punishment.description</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailDescriptionPunishment" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.description.label</i18n>
    </div>

    <!-- Date punishment/sanction [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailDatePunishment"
                  data-ng-click="vm.copyCode('codeMailDatePunishment', 'tooltipMailDatePunishment')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailDatePunishment')">
                <i18n>massmailing.codes.punishment.date</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailDatePunishment" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.date.label</i18n>
    </div>

    <!-- Punishment Day number [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailPunishmentDayNumber"
                  data-ng-click="vm.copyCode('codeMailPunishmentDayNumber', 'tooltipMailPunishmentDayNumber')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailPunishmentDayNumber')">
                <i18n>massmailing.codes.punishment.day.number</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailPunishmentDayNumber" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.day.number.label</i18n>
    </div>

</div>