<lightbox class="sniplet presences sniplet-presence-form sniplet-form-lightbox" show="vm.editReasonLightbox"
          on-close="vm.closeReasonLightbox()">

    <!-- Header -->
    <section class="sniplet-form-lightbox-head head">
        <h3>
            <i18n>presences.absence.reason.edit</i18n>
        </h3>
    </section>

    <!-- Body -->
    <section class="sniplet-form-lightbox-body body lightbox-form">

        <!-- Warning -->
        <span class="sniplet-form-lightbox-body-warning">
            <i18n>presences.absence.edit.warning</i18n>
        </span>

        <!-- Input -->
        <div class="cell ten search-input sniplet-form-lightbox-body-input">
            <input type="text" data-ng-model="vm.formEdit.label" class="twelve cell">
        </div>

        <!-- Regularisable form -->
        <label ng-if="vm.reasonTypeId == 1">
            <i18n>presences.regularisable</i18n>
        </label>
        <div ng-if="vm.reasonTypeId == 1" class="sniplet-form-lightbox-body-regularisable">
            <div class="md-radio md-radio-inline">
                <input id="reasonLightBoxRegularisable-true-[[vm.reasonTypeId]]"
                       data-ng-model="vm.formEdit.proving"
                       type="radio"
                       ng-value="false"
                       name="reasonLightBoxRegularisable-[[vm.reasonTypeId]]"
                       ng-checked="true">
                <label for="reasonLightBoxRegularisable-true-[[vm.reasonTypeId]]">
                    <i18n>true.maj</i18n>
                </label>
            </div>
            <div class="md-radio md-radio-inline">
                <input id="reasonLightBoxRegularisable-false-[[vm.reasonTypeId]]"
                       data-ng-model="vm.formEdit.proving"
                       type="radio"
                       ng-value="true"
                       name="reasonLightBoxRegularisable-[[vm.reasonTypeId]]">
                <label for="reasonLightBoxRegularisable-false-[[vm.reasonTypeId]]">
                    <i18n>false.maj</i18n>
                </label>
            </div>
        </div>

        <!-- Compliance -->
        <label>
            <i18n>presences.compliance.absence</i18n>
        </label>
        <div class="sniplet-form-lightbox-body-compliance">
            <div class="md-radio md-radio-inline">
                <input id="reasonLightboxCompliance-true-[[vm.reasonTypeId]]"
                       data-ng-model="vm.formEdit.absenceCompliance"
                       type="radio"
                       ng-value="true"
                       name="reasonLightboxCompliance-[[vm.reasonTypeId]]"
                       ng-checked="true">
                <label for="reasonLightboxCompliance-true-[[vm.reasonTypeId]]">
                    <i18n>true.maj</i18n>
                </label>
            </div>
            <div class="md-radio md-radio-inline">
                <input id="reasonLightboxCompliance-false-[[vm.reasonTypeId]]"
                       data-ng-model="vm.formEdit.absenceCompliance"
                       type="radio"
                       ng-value="false"
                       name="reasonLightboxCompliance-[[vm.reasonTypeId]]">
                <label for="reasonLightboxCompliance-false-[[vm.reasonTypeId]]">
                    <i18n>false.maj</i18n>
                </label>
            </div>
        </div>
        <!-- Alert rule -->
        <label ng-if="vm.reasonTypeId == 1">
            <i18n>presences.alert.rules</i18n>
        </label>
        <div class="sniplet-form-lightbox-body-alert-rule flex-column no-margin">
            <div ng-if="vm.reasonTypeId == 1" class="flex-center-input flex-row">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.formEdit.excludeAlertRegularised">
                    <span></span>
                </label>
                <i18n class="eleven text-align-left">presences.alert.rules.regularised</i18n>
            </div>
            <div ng-if="vm.reasonTypeId == 1" class="flex-center-input flex-row">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.formEdit.excludeAlertNoRegularised">
                    <span></span>
                </label>
                <i18n class="eleven text-align-left">presences.alert.rules.no.regularised</i18n>
            </div>
            <div ng-if="vm.reasonTypeId == 2" class="flex-center-input flex-row">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.formEdit.excludeAlertLateness">
                    <span></span>
                </label>
                <i18n>presences.alert.rules</i18n>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="sniplet-form-lightbox-footer">
        <!-- Button/submit -->
        <div class="sniplet-form-lightbox-footer-button row">

            <!-- Submit mode -->
            <button class="right-magnet" data-ng-click="vm.updateReason()"
                    data-ng-disabled="!vm.isFormValid(vm.formEdit)">
                <i18n>edit</i18n>
            </button>

            <!-- Cancel mode  -->
            <button class="right-magnet cancel" data-ng-click="vm.closeReasonLightbox()">
                <i18n>evaluations.devoir.annuler</i18n>
            </button>
        </div>
    </section>

</lightbox>
