<div class="ten sniplet presences sniplet-presence-form presences-manage-alert">
    <div class="sniplet-form">

        <!-- header -->
        <div class="sniplet-header">
            <span class="sniplet-header-icon"><i class="alertes" aria-hidden="true"></i></span>
            <h3 class="sniplet-header-title">
                <i18n>presences.alerts.title</i18n>
            </h3>
        </div>

        <!-- Input -->
        <div class="sniplet-input">
            <label>
                <i18n>presences.alerts.form.input</i18n>
            </label>

            <div class="flex-column" ng-repeat="threshold in vm.inputThreshold">
                <div class="top20 flex-center-text-input">
                    <label class="cell one flex-center-input">
                        [[threshold.label]]
                    </label>
                    <div class="flex-center-input">
                        <i class="minus-sign"
                           data-ng-click="vm.updateThreshold(threshold, false)"></i>
                        <input type="number" class="format-input"
                               data-ng-model="threshold.threshold" ng-change="vm.manualUpdateThreshold(threshold)">
                        <i class="plus-sign"
                           data-ng-click="vm.updateThreshold(threshold, true)"></i>
                    </div>
                </div>
            </div>

            <div class="sniplet-input-alert-rule margin-top-1em">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.setting.exclude_alert_absence_no_reason" ng-change="vm.save()">
                    <span></span>
                </label>
                <i18n class="eleven text-align-left">presences.alerts.exclude.absence.no.reason</i18n>
            </div>

            <div class="sniplet-input-alert-rule margin-top-1em">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.setting.exclude_alert_lateness_no_reason" ng-change="vm.save()">
                    <span></span>
                </label>
                <i18n class="eleven text-align-left">presences.alerts.exclude.lateness.no.reason</i18n>
            </div>

            <div class="sniplet-input-alert-rule margin-top-1em">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.setting.exclude_alert_forgotten_notebook" ng-change="vm.save()">
                    <span></span>
                </label>
                <i18n class="eleven text-align-left">presences.alerts.exclude.foregotten.notebook</i18n>
            </div>
        </div>
    </div>
</div>