<div class="ten sniplet presences sniplet-presence-form presences-manage-alert">
    <div class="sniplet-form">

        <!-- header -->
        <div class="sniplet-header">
            <span class="sniplet-header-icon"><i class="alertes" aria-hidden="true"></i></span>
            <h3 class="sniplet-header-title">
                <i18n>presences.alerts.title</i18n>
            </h3>
        </div>

        <!-- Input -->
        <div class="sniplet-input">
            <label>
                <i18n>presences.alerts.form.input</i18n>
            </label>

            <div class="flex-column" ng-repeat="threshold in vm.inputThreshold">
                <div class="top20 flex-center-text-input">
                    <label class="cell one flex-center-input">
                        [[threshold.label]]
                    </label>
                    <div class="flex-center-input">
                        <i class="minus-sign"
                           data-ng-click="vm.decrementThreshold(threshold.label)"></i>
                        <input type="number" class="format-input"
                               ng-model="threshold.threshold" ng-change="vm.save()">
                        <i class="plus-sign"
                           data-ng-click="vm.incrementThreshold(threshold.label)"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>