<div class="incident-filters">
    <div class="row">
        <h1 class="cell paddingRight">
            <i18n>incidents.title</i18n>
        </h1>

        <div class="cell four">
            <div class="cell twelve search-input">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="vm.filter.student.search"
                                    data-ng-change="vm.selectStudents"
                                    data-on-search="vm.searchStudent"
                                    data-options="vm.studentsSearch.students"
                                    data-placeholder="incidents.search.student"
                                    data-search="vm.studentsSearch.student">
                </async-autocomplete>
            </div>

            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="student in vm.filter.students">
                        [[student.displayName]] <i class="close" data-ng-click="vm.removeStudents(student)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="incident-filters-options row top5">
        <div class="incident-filters-options-date cell eight">
            <i18n>incident.date.from</i18n>
            :
            <span class="card date-picker">
                 <date-picker ng-change="vm.updateDate();" ng-model="vm.filter.startDate"></date-picker>
            </span>
            <i18n>incident.date.to</i18n>
            :
            <span class="card date-picker">
                <date-picker ng-change="vm.updateDate();" ng-model="vm.filter.endDate"></date-picker>
            </span>
        </div>

        <div class="four cell">
            <sniplet application="incidents" template="incident-form"></sniplet>
            <button class="right-magnet" data-ng-click="vm.exportCsv()">
                <i18n>incidents.export.tocsv</i18n>
            </button>
        </div>
    </div>
</div>