<div class="incident-filters">
    <div class="row">
        <h1 class="cell paddingRight">
            <i18n>incidents.title</i18n>
        </h1>

        <!-- Student search bar -->
        <div class="cell four paddingRight">
            <div class="cell twelve search-input">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="vm.filter.student.search"
                                    data-ng-change="vm.selectStudents"
                                    data-on-search="vm.searchStudent"
                                    data-options="vm.studentsSearch.students"
                                    data-placeholder="incidents.search.student"
                                    data-search="vm.studentsSearch.student">
                </async-autocomplete>
            </div>

            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="student in vm.filter.students">
                        [[student.displayName]] <i class="close" data-ng-click="vm.removeStudents(student)"></i>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Classes/Groups search bar -->
        <div class="cell four paddingLeft">
            <div class="cell twelve search-input">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="vm.groupsSearch.group"
                                    data-ng-change="vm.selectGroup"
                                    data-on-search="vm.searchGroup"
                                    data-options="vm.groupsSearch.groups"
                                    data-placeholder="presences.exemptions.search.audience"
                                    data-search="vm.groupsSearch.group">
                </async-autocomplete>
            </div>

            <!-- Group search results -->
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="class in vm.groupsSearch.selectedGroups">
                        [[class.name]] <i class="close" data-ng-click="vm.removeSelectedGroups(class)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="incident-filters-options row top5">
        <date-range-picker
                start-date="vm.filter.startDate"
                end-date="vm.filter.endDate"
                on-update="vm.updateDate">
        </date-range-picker>

        <div class="four cell">
            <sniplet application="incidents" template="incident-form"></sniplet>
            <!-- export csv/pdf -->
            <export-form display-pdf="false"
                         display-csv="true"
                         is-disabled="vm.incidents.all.length === 0"
                         on-submit="vm.exportCsv"
                         lightbox-preference="'INCIDENTS_EXPORT_INCIDENTS_DISPLAY_POPUP'">
            </export-form>
        </div>
    </div>
</div>
