.massmail-anomalies {
  .title {
    font-size: 18px;
    font-weight: normal;
  }

  .counters-cell {
    padding: 0;
    position: relative;

    .counters {
      height: 100%;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      width: 100%;

      .counter {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;

        &.JUSTIFIED {
          background: $presences-pink;
        }

        &.UNJUSTIFIED {
          background: $presences-red;
        }

        &.LATENESS {
          background: $presences-purple;
        }
      }
    }
  }
}