.massmailing-card {
  background-color: $presences-white;
  color: $presences-black;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &-header {
    background-color: $presences-main;
    color: $presences-white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    padding: 8px 16px;
    flex-direction: column;

    &-title {
      display: flex;
    }
  }

  &-body {
    display: flex;
    padding: 8px 16px;
    overflow-y: auto;
    max-height: 400px;

    &-descriptionHTML {
      tr {
        background: none;
        box-shadow: none;
        color: unset;
      }
      a {
        //color: $presences-black;
        color: $dark-grey;
        &:hover {
          color: $presences-main
        }
      }
    }
  }
}

.massmailing-card-stats {

  &-item {
    height: 120px;
    border-radius: 7px;
    background-color: $white;
    position: relative;
    box-shadow: $massmailing-card-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:after {
      content: ' ';
      width: 100%;
      height: 10px;
      position: absolute;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      display: block;
      bottom: 0;
      right: 0;
    }

    &.absences:after, &.NO_REASON:after, &.ABSENCE:after {
      background-color: $presences-red;
    }

    &.REGULARIZED:after {
      background-color: $presences-green;
    }

    &.PUNISHMENT:after, &.SANCTION:after {
      background-color: $presences-main;
    }

    &.UNREGULARIZED:after {
      background-color: $presences-pink;
    }

    &.lateness:after, &.LATENESS:after {
      background-color: $presences-purple;
    }

    &.bold {
      font-weight: bold;
    }

    .value {
      color: $black;
      font-size: 33px;
      font-weight: bold;
      margin-top: 20px;
    }

    .subtitle {
      font-size: 14px;
      margin: 8px 0;
      text-align: center;
    }
  }
}