.massmailing-prefetch {
  table {
    margin-bottom: 0;
  }

  .head-table {
    z-index: 1;
    position: relative;
  }

  .list-table {
    z-index: 0;
    position: relative;
  }

  .students {
    max-height: 200px;
    overflow-y: auto;
  }

  .sub-row {
    background: rgba(235, 235, 235, 0.4);
  }

  i {
    &.mail::before {
      font-family: 'material-icons';
      content: "\F1EE";
      color: $presences-black;
    }
  }

  .massmailing-counters {
    .counter {
      height: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin-right: 25px;

      i.incident {
        color: $presences-red;
        margin-right: 10px;
        font-size: 20px;
      }

      .number {
        font-size: 30px;
        margin-right: 5px;
        font-weight: bold;
      }
    }
  }

  .template-preview {
    height: 75px;
    overflow-y: auto;
    padding: 5px;
    color: rgba(0, 0, 0, 0.4);
    border: solid 1px rgba(192, 192, 192, 0.25);
    border-radius: 5px;
    font-size: 14px;
  }
}