<div class="registry-event-card">
    <div class="registry-event-card-header">
        <div class="registry-event-card-header-title">
            <span>[[vm.eventCardData.displayName]]</span>
            <i class="close-xs" data-ng-click="vm.closeEventCard()"></i>
        </div>
        <span>[[vm.eventCardData.date]]</span>
    </div>
    <div class="registry-event-card-body">
        <ul>
            <!-- forgotten-notebook case -->
            <li data-ng-if="vm.eventCardData.forgottenNotebook" class="registry-event-card-body-description">
                <div class="legends forgotten-notebook"></div>
                <div>
                    <span class="registry-event-card-body-description-title">
                        <i18n>presences.register.event_type.forgotten.notebook</i18n>
                    </span>
                </div>
            </li>
            <!-- list events -->
            <li ng-repeat="event in vm.eventCardData.events | orderBy:'start_date'">
                <div class="registry-event-card-body-description">
                    <div class="legends"
                         ng-class="{
                           'absence-no-reason': event.type === vm.eventType[0] && !event.reason && counsellorRegularisation,
                           'absence-regularized': event.type === vm.eventType[0] && event.reason && counsellorRegularisation,
                           'absence-no-regularized': event.type === vm.eventType[0] && !event.reason && !counsellorRegularisation,
                           'lateness': event.type === vm.eventType[1],
                           'incident': event.type === vm.eventType[2],
                           'departure': event.type === vm.eventType[3]
                         }">
                    </div>

                    <!-- absence case -->
                    <div data-ng-if="event.type === vm.eventType[0]">
                        <span class="registry-event-card-body-description-title">
                            <i18n>presences.register.event_type.absences</i18n>
                        </span>
                        <span class="registry-event-card-body-description-date">
                             [[vm.formatDate(event.start_date)]]-[[vm.formatDate(event.end_date)]]
                        </span>
                    </div>

                    <!-- lateness title case -->
                    <div data-ng-if="event.type === vm.eventType[1]">
                        <span class="registry-event-card-body-description-title">
                            <i18n>presences.register.event_type.lateness</i18n>
                        </span>
                        <span class="registry-event-card-body-description-date">
                            [[vm.formatDate(event.end_date)]]
                        </span>
                    </div>

                    <!-- incident case -->
                    <div data-ng-if="event.type === vm.eventType[2]">
                        <span class="registry-event-card-body-description-title">[[event.incident_type]]</span>
                        <span class="registry-event-card-body-description-date">
                            [[vm.formatDate(event.start_date)]]
                        </span>
                        <span class="registry-event-card-body-description-title">[[event.place]]</span>
                    </div>

                    <!-- departure case -->
                    <div data-ng-if="event.type === vm.eventType[3]">
                        <span class="registry-event-card-body-description-title">
                            <i18n>presences.register.event_type.departure</i18n>
                        </span>
                        <span class="registry-event-card-body-description-date">
                            [[vm.formatDate(event.start_date)]]
                        </span>
                    </div>

                </div>

                <!-- incident case -->
                <span class="registry-event-card-body-description-option" data-ng-if="event.type === vm.eventType[2]">
                    [[event.protagonist_type]]
                </span>

                <!-- absence case -->
                <span class="registry-event-card-body-description-option"
                      data-ng-if="event.type === vm.eventType[0] && !event.reason">
                    <i18n>presences.absence.no.reason</i18n>
                </span>

                <!-- absence w/ reason case -->
                <span class="registry-event-card-body-description-option"
                      data-ng-if="event.type === vm.eventType[0] && event.reason">
                    <i18n>presences.absence.reason</i18n> : [[event.reason]]
                </span>

            </li>
        </ul>
    </div>
</div>