<!-- Empty state -->
<div class="registry-table-empty" data-ng-show="vm.registries.length === 0">
    <div class="registry-table-empty-description">
        <span class="red-bar"></span>
        <span class="registry-table-empty-description-title">[[lang.translate(vm.emptyState)]]</span>
        <span class="yellow-bar"></span>
    </div>
    <img data-ng-src="/presences/public/img/absences_empty.svg" alt="empty registry">
</div>

<!-- Template -->
<div class="registry-table" data-ng-show="vm.registries.length > 0">
    <ul class="registry-table-title">
        <li class="registry-table-title-student">
            <i18n>presences.register.legend.students</i18n>
        </li>
        <li class="registry-table-title-days"
            ng-repeat="dayNumber in vm.monthLength track by $index">
            [[dayNumber + 1]]
        </li>
    </ul>
    <div class="registry-table-event" ng-repeat="studentEvent in vm.registries track by $index">
        <div class="registry-table-event-student"
             ng-class="{
                m28: studentEvent.days.length === 28,
                m29: studentEvent.days.length === 29,
                m30: studentEvent.days.length === 30,
                m31: studentEvent.days.length === 31,
              }">
            <span class="registry-table-event-student-name"><student-name name="studentEvent.displayName"
                                                                          id="studentEvent.id"/></span>
        </div>
        <ul class="registry-table-event-period">
            <li class="registry-table-event-period-list"
                ng-repeat="day in studentEvent.days track by $index"
                ng-class="{'day-off': day.exclude }"
                data-ng-click="vm.openEventCard($event, studentEvent.displayName, day, day.events)">
                <div class="absent h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="day.eventsDisplay.length > 0 && vm.hasEventType(day.eventsDisplay, vm.eventType[0])
                                    && !vm.hasReason(day.eventsDisplay)">
                    &nbsp;
                </div>
                <div class="absent-reason-unregularized h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="!vm.isAbsenceRegularized(day.eventsDisplay) && vm.hasReason(day.eventsDisplay)
                                && day.eventsDisplay.length > 0 && vm.hasEventType(day.eventsDisplay, vm.eventType[0])">
                    &nbsp;
                </div>
                <div class="absent-reason-regularized h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="vm.isAbsenceRegularized(day.eventsDisplay) && vm.hasReason(day.eventsDisplay)
                                    && day.eventsDisplay.length > 0 && vm.hasEventType(day.eventsDisplay, vm.eventType[0])">
                    &nbsp;
                </div>
                <div class="lateness h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="vm.hasEventType(day.eventsDisplay, vm.eventType[1])">
                    &nbsp;
                </div>
                <div class="incident h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="vm.hasEventType(day.eventsDisplay, vm.eventType[2])">
                    &nbsp;
                </div>
                <div class="departure h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="vm.hasEventType(day.eventsDisplay, vm.eventType[3])">
                    &nbsp;
                </div>

                <div class="forgotten-notebook h[[day.eventsDisplay.length + (day.forgottenNotebook ? 1 : 0)]]"
                     data-ng-show="day.forgottenNotebook">
                    &nbsp;
                </div>
            </li>
        </ul>
    </div>
    <!-- Event card clicked -->
    <div id="event-card"
         data-ng-show="vm.eventCardData.events && vm.eventCardData.events.length > 0 || vm.eventCardData.forgottenNotebook"
         ng-include="'/presences/public/template/registry/event-card.html'"></div>

</div>
