<div class="row top5">
    <date-range-picker
            start-date="vm.filter.start_date"
            end-date="vm.filter.end_date"
            on-update="vm.updateDate">
    </date-range-picker>
    <div class="cell four">
        <sniplet template="exemption-form" application="presences"></sniplet>
        <button class="right-magnet"
                ng-click="vm.export()"
                workflow="presences.export">
            <i18n>presences.export.tocsv</i18n>
        </button>

    </div>
</div>
