<div class="row top20">
    <loader ng-show="vm.exemptions.loading" min-height="'250px'"/>
    <div class="nine empty-content" data-ng-show="vm.exemptions.all.length === 0 &amp;&amp; !vm.exemptions.loading">
        <img data-ng-src="/presences/public/img/exemptions_empty.svg" class="four">
        <div class="eight description">
            <span class="purple-bar bar"></span>
            <i18n>presences.exemptions.empty</i18n>
            <span class="yellow-bar bar"></span>
        </div>
    </div>
    <div ng-show="!vm.exemptions.loading && vm.exemptions.all.length > 0" class="twelve">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="25%">
                    <i18n>presences.exemptions.student</i18n>
                </th>
                <th width="10%">
                    <i18n>presences.exemptions.audience</i18n>
                </th>
                <th width="10%">
                    <i18n>presences.exemptions.subject</i18n>
                </th>
                <th width="15%">
                    <i18n>presences.exemptions.dates</i18n>
                </th>
                <th width="35%">
                    <i18n>presences.exemptions.comment</i18n>
                </th>
                <th width="5%">
                    <i18n>presences.exemptions.attendance</i18n>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-disabled="hasRight('manageExemption') != true"
                ng-click="vm.editExemption(exemption)"
                data-ng-repeat="exemption in vm.exemptions.all">
                <th class="uppercase flex-th">
                    <span class="avatar"
                          ng-style="{'background-image': 'url(/userbook/avatar/' + exemption.studentId + ')'}">&nbsp;</span>
                    <span>[[exemption.student.lastName]] [[exemption.student.firstName]]</span>
                </th>
                <th class="uppercase playdown text-center">[[exemption.student.classeName]]</th>
                <th class="uppercase playdown">[[exemption.subject.name]]</th>
                <th class="highlight text-center">
                    <span class="half"><i18n>presences.from</i18n> [[vm.dateFormater(exemption.startDate)]]</span>
                    <span class="half"><i18n>presences.to</i18n> [[vm.dateFormater(exemption.endDate)]]</span>
                </th>
                <th>[[exemption.comment]]</th>
                <th class="text-center">
                    <i ng-show="!exemption.attendance" class="account-outline"></i>
                    <i ng-show="exemption.attendance" class="account"></i>
                </th>
            </tr>
            </tbody>
        </table>
        <pagination page-count="vm.exemptions.pageCount"
                    page-number="vm.exemptions.page"
                    class="pagination"
        ></pagination>
    </div>

</div>