<div class="row"
     ng-if="::hasRight('search')"
>
    <div class="cell six paddingRight">
        <div class="cell twelve search-input">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.studentSearchInput"
                                ng-change="vm.selectFilterStudent"
                                on-search="vm.searchByStudent"
                                options="vm.students.all"
                                placeholder="presences.exemptions.search.student"
                                search="vm.students.all.displayName"></async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="student in vm.studentsFiltered">
                    [[student.toString()]] <i class="close" ng-click="vm.excludeStudentFromFilter(student)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="cell six paddingLeft">
        <div class="cell twelve search-input">
            <autocomplete
                    options="vm.audiences.all"
                    ng-change="vm.filters(null, ngModel)"
                    ng-model="vm.audienceFiltered"
            ></autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="audience in vm.audiencesFiltered">
                    [[audience.name]] <i class="close" ng-click="vm.excludeAudienceFromFilter(audience)"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row top20">
    <div class="cell eight">
        <p> Du:
            <span class="search-input">
                    <date-picker ng-change="vm.updateDate();" ng-model="vm.filter.start_date"></date-picker>
                </span>
            Au:
            <span class="search-input">
                    <date-picker ng-change="vm.updateDate();" ng-model="vm.filter.end_date"></date-picker>
                </span>
        </p>
    </div>
    <div class="four cell">
        <!--<button class="right-magnet" ng-click="getCsv()">
            <i18n>presences.export.tocsv</i18n>
        </button>-->
        <button class="right-magnet"
                ng-click="vm.createExemption()"
                ng-if="::hasRight('manageExemption')"
        >
            <i18n>presences.exemptions.create</i18n>
        </button>

    </div>
</div>