<div class="row" ng-if="::hasRight('search')">
    <h1 class="cell paddingRight">
        <i18n>presences.navigation.exemption</i18n>
    </h1>
    <div class="cell four paddingRight">
        <div class="cell twelve search-input">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.studentSearchInput"
                                ng-change="vm.selectFilterStudent"
                                on-search="vm.searchByStudent"
                                options="vm.students.all"
                                placeholder="presences.exemptions.search.student"
                                search="vm.students.searchValue"></async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="student in vm.studentsFiltered">
                    [[student.displayName]] <i class="close" ng-click="vm.excludeStudentFromFilter(student)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="cell four paddingLeft">
        <div class="cell twelve search-input">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.classesSearchInput"
                                ng-change="vm.selectFilterClass"
                                on-search="vm.searchByClass"
                                options="vm.classes"
                                placeholder="presences.exemptions.search.audience"
                                search="vm.filter.className"></async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="class in vm.classesFiltered">
                    [[class.name]] <i class="close" ng-click="vm.excludeClassFromFilter(class)"></i>
                </li>
            </ul>
        </div>
    </div>
</div>