<div class="row"
     ng-if="::hasRight('search')"
>
    <div class="cell six paddingRight">
        <div class="cell twelve search-input">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.studentSearchInput"
                                ng-change="vm.selectFilterStudent"
                                on-search="vm.searchByStudent"
                                options="vm.students.all"
                                placeholder="presences.exemptions.search.student"
                                search="vm.students.all.displayName"></async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="student in vm.studentsFiltered">
                    [[student.toString()]] <i class="close" ng-click="vm.excludeStudentFromFilter(student)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="cell six paddingLeft">
        <div class="cell twelve search-input">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.classesSearchInput"
                                ng-change="vm.selectFilterClass"
                                on-search="vm.searchByClass"
                                options="vm.classes"
                                placeholder="presences.exemptions.search.audience"
                                search="vm.classes.name"></async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="class in vm.classesFiltered">
                    [[class.name]] <i class="close" ng-click="vm.excludeClassFromFilter(class)"></i>
                </li>
            </ul>
        </div>
    </div>
</div>