<lightbox show="vm.createExemptionLightBox" on-close="vm.closeCreateExemption()">
    <section class="head">
        <h3>
            <i18n>presences.exemptions.create</i18n>
        </h3>
    </section>
    <section class="body lightbox-form">
        <div class="row">

            <div class="cell twelve paddingRight">
                <div class="cell twelve search-input">
                    <async-autocomplete ng-disabled="false"
                                        ng-model="vm.studentSearchFormInput"
                                        ng-change="vm.selectStudentForm"
                                        on-search="vm.searchFormByStudent"
                                        options="vm.studentsFrom.all"
                                        placeholder="presences.exemptions.search.student"
                                        search="vm.studentsFrom.all.displayName"></async-autocomplete>
                </div>
                <div class="cell twelve">
                    <ul class="cell twelve search-input-ul">
                        <li ng-repeat="stud in vm.form.students">
                            [[stud.toString()]] <i class="close"
                                                    ng-click="vm.excludeStudentFromForm(stud)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row spacing">

            <div class="twelve cell">
                <i18n>presences.exemptions.dates</i18n>
            </div>
            <div class="twelve cell">
                Du:
                <span class="card date-picker"><date-picker required
                                                            ng-model="vm.form.startDate"></date-picker></span>
                Au:
                <span class="card date-picker"><date-picker required ng-model="vm.form.endDate"></date-picker></span>
            </div>
            <label class="twelve cell twelve-mobile">
                <div class="twelve margin-bottom-md">
                    <i18n>presences.exemptions.subject</i18n>
                </div>
                <select required
                        ng-model="vm.form.subject"
                        ng-options="subject.label for subject in vm.subjects.all track by subject.id">
                        <option value="" disabled selected>[[vm.translate('presences.exemptions.subject')]]</option>
                </select>
            </label>
        </div>

        <div class="row spacing">

            <label class="twelve cell twelve-mobile">
                <span class="left-magnet"><i18n>presences.exemptions.form.attendance</i18n></span>
                <switch class="vertical-spacing" ng-model="vm.form.attendance">
                    <label class="switch"> </label>
                </switch>
            </label>
        </div>

        <div class="row spacing">
            <label class="twelve cell twelve-mobile">
                <div class="twelve margin-bottom-md">
                    <i18n>presences.exemptions.comment</i18n>
                    <input
                            class="twelve"
                            type="text"
                            ng-model="vm.form.comment"
                            placeholder="[[vm.translate('presences.exemptions.form.defautValue.comment')]]"
                    >
                </div>
            </label>
        </div>
        <div class="row">
            <div class="twelve cell">
                <button ng-if="vm.form.id" ng-click="vm.deleteExemption()">
                    <i18n>presences.exemptions.form.delete</i18n>
                </button>
                <button class="right-magnet" ng-disabled="!vm.form.isValidOnForm()" ng-click="vm.saveExemption()">
                    <i18n>presences.exemptions.form.submit</i18n>
                </button>
                <button class="right-magnet cancel" ng-click="vm.closeCreateExemption()">
                    <i18n>presences.exemptions.form.cancel</i18n>
                </button>

            </div>
        </div>
    </section>

</lightbox>