.absentLightbox {

  /* Header part */
  &-head {

  }

  /* Body part */
  &-body {
    background: $presences-grey-smoke;
    &-title {
      color: $black;
    }
    &-info {

      &-startDate {
        margin: 16px 0 8px 0;
        &-datepicker {
          margin-right: 24px;
        }
      }

      &-endDate {
        margin: 8px 0 16px 0;
        &-datepicker {
          margin-right: 24px;
        }
      }

      &-reason {
        select {
          border: unset !important;
        }
      }
    }

    &-timeslot {
      /* Select css */
      @include select-timeslot(0, $box-shadow-1);

      .select {
        height: unset;
      }

      &-margin {
        margin-right: 10px;

        &-bottom {
          margin-bottom: 7px;
        }
      }
    }
  }

  /* Footer part */
  &-footer {
    &-button {
      padding: 8px;
      button {
        margin: 8px;
      }
    }
  }
}