/* ----------------------------
    Period bar history
---------------------------- */

.period li {
  list-style: none;
  float: left;
  width: 2%;
  position: relative;
}

.period li:before {
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid $presences-grey;
  display: block;
  z-index: 1;
  position: relative;
  border-radius: 50%;
  background: $presences-grey;
  color: $presences-grey;
  text-align: center;
  font-weight: bold;
  top: 2px;
}

.period li:nth-child(4):after {
  width: 64px;
}

.period li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: $presences-grey;
  top: 18px;
  left: -50%;

}

.period li:first-child:after, .period li:last-child:before {
  content: none;
}

.tableEdit:after {
  font-family: 'material-icons';
  content: "\F4F0";
  font-size: 25px;
}

.period li:last-child:after {
  width: 25.5px;
}

.period li.empty:before {
  cursor: not-allowed;
}

.period li.absent:before {
  border-color: $presences-red;
  background: $presences-red;
}

.period li.justified:before {
  border-color: $presences-pink;
  background: $presences-pink;
}

.period li.late:before {
  border-color: $presences-purple;
  background: $presences-purple;
}

.period li.departure:before {
  border-color: $presences-green;
  background-color: $presences-green;
}