.events-content {
  &-empty {
    text-align: center;

    &-description {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 24px;

      &-title {
        color: $presences-middle-grey;
        padding: 0 12px;
      }
    }

    img {
      width: 25%;
    }
  }

  &-end {
    display: flex;
    justify-content: center;
  }
}