.flex-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  min-height: 42px;

  .flex-col {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: left;
    align-items: center;
  }

  @for $i from 1 through 16 {
    &.row__#{$i} {
      .flex-col {
        @for $j from 1 through 16 {
          &.col__#{$j} {
            width: percentage($j / $i);
          }
        }
      }
    }
  }
}

.flex-content, .flex-collapse {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-collapse {
  .flex-content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: visibility 0.25s, opacity 0.25s ease-out, max-height 0.2s;
  }

  &.open-details {
    .flex-content {
      opacity: 1;
      visibility: visible;
      max-height: 100%;
      transition: visibility 0.25s, opacity 0.25s ease-in;
    }
  }
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: $presences-grey-smoke;

  .flex-row {
    .flex-col {
      justify-content: center;
      align-items: center;
      text-align: start;
    }
  }

  .flex-head {
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    color: rgba($presences-grey, 0.7);
    align-items: center;
  }

  .flex-body {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;

    .flex-row {
      box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);

      &:hover {
        background-color: rgba($presences-grey, 0.2);
        cursor: pointer;
      }
    }
  }
}