<button class="right-magnet"
        data-ng-click="vm.openAbsenceLightbox()">
    <i18n>presences.register.event_type.absences</i18n>
</button>

<lightbox class="absentLightbox" show="vm.createAbsenceLightBox" on-close="vm.closeAbsenceLightbox()">
    <section class="absentLightbox-head head">
        <h3 ng-if="!vm.form.id"><i18n>presences.absence.create</i18n></h3>
        <h3 ng-if="vm.form.id"><i18n>presences.absence.edit</i18n></h3>
    </section>

    <section class="absentLightbox-body body lightbox-form">

        <h3 class="absentLightbox-body-title row spacing"><i18n>presences.absence.form.title</i18n></h3>

        <!-- Info Date/reason -->
        <div class="absentLightbox-body-info row spacing">

            <!-- Start date -->
            <div class="twelve absentLightbox-body-timeslot-margin-bottom">
                <i18n>presences.from</i18n>
                <span class="card date-picker">
                    <date-picker required ng-model="vm.form.startDate"></date-picker>
                </span>

                <span ng-show="vm.display.isFreeSchedule"
                      class="card incident-lightbox-body-dateAndPlace-date-content-timePicker
                            absentLightbox-body-info-endDate-datepicker">
                    <time-picker required ng-model="vm.form.startDateTime"></time-picker>
                </span>

                <label ng-show="!vm.display.isFreeSchedule"
                       class="absentLightbox-body-timeslot">
                    <label class="timeslot-select">
                        <i class="time-picker"></i>
                        <select data-ng-model="vm.timeSlotTimePeriod.start"
                                data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.START_HOUR)"
                                ng-options="item.name + ' : ' + item.startHour for item in vm.structureTimeSlot.slots
                                        | orderBy:vm.timeSlotHourPeriod.START_HOUR">
                            <option value="">[[lang.translate('presences.pick.timeslot')]]</option>
                        </select>
                    </label>
                </label>

                <i18n>presences.to</i18n>
                <span class="card date-picker">
                    <date-picker required ng-model="vm.form.endDate"></date-picker>
                </span>

                <span ng-show="vm.display.isFreeSchedule"
                      class="card incident-lightbox-body-dateAndPlace-date-content-timePicker">
                    <time-picker required ng-model="vm.form.endDateTime"></time-picker>
                </span>

                <label ng-show="!vm.display.isFreeSchedule" class="absentLightbox-body-timeslot">
                    <label class="timeslot-select">
                        <i class="time-picker"></i>
                        <select data-ng-model="vm.timeSlotTimePeriod.end"
                                data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.END_HOUR)"
                                ng-options="item.name + ' : ' + item.endHour for item in vm.structureTimeSlot.slots
                                    | orderBy:vm.timeSlotHourPeriod.END_HOUR">
                            <option value="">[[lang.translate('presences.pick.timeslot')]]</option>
                        </select>
                    </label>
                </label>
            </div>

            <div class="presenceLightbox-body-info-choice">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.display.isFreeSchedule"/>
                    <span class="presenceLightbox-body-info-checkbox">
                        <i18n>incidents.choice.time.slot</i18n>
                    </span>
                </label>
            </div>

            <!-- Reasons -->
            <div class="absentLightbox-body-info-reason twelve cell table-reason">
                <label>
                    <select data-ng-model="vm.form.reason_id"
                            data-ng-change="vm.selectReason()"
                            ng-options="reason.id as reason.label for reason in vm.reasons"
                            options-disabled="reason.hidden for reason in vm.reasons">
                        <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                    </select>
                </label>
            </div>

            <!-- Regularisation -->
            <div class="presenceLightbox-body-info-choice" ng-if="vm.form.id">
                <label class="checkbox">
                    <input type="checkbox"
                           data-ng-model="vm.form.absences[0].counsellor_regularisation"
                           data-ng-change="vm.toUpdateRegularisation()"
                           data-ng-disabled="(vm.form.reason_id == null || !vm.canRegularize)"/>
                    <span class="presenceLightbox-body-info-checkbox">
                        <i18n>presences.widgets.absences.regularized</i18n>
                    </span>
                </label>
            </div>
        </div>
    </section>

    <section class="absentLightbox-footer">

        <!-- Button/submit -->
        <div class="absentLightbox-footer-button row">
            <!-- Submit mode -->
            <button class="right-magnet"
                    ng-if="!vm.form.id"
                    data-ng-click="vm.createAbsence()"
                    data-ng-disabled="!vm.isFormValid()">
                <i18n>presences.absence.form.create</i18n>
            </button>

            <!-- Edit mode  -->
            <button class="right-magnet"
                    ng-if="vm.form.id"
                    data-ng-click="vm.updateAbsence()"
                    data-ng-disabled="!vm.isFormValid()">
                <i18n>presences.absence.form.edit</i18n>
            </button>

            <!-- Cancel mode  -->
            <button class="right-magnet cancel" data-ng-click="vm.closeAbsenceLightbox()">
                <i18n>presences.exemptions.form.cancel</i18n>
            </button>

            <!-- Delete mode  -->
            <button ng-if="vm.form.id"
                    data-ng-click="vm.deleteAbsence()">
                <i18n>presences.exemptions.form.delete</i18n>
            </button>
        </div>

    </section>

</lightbox>
