<button class="forgotten" data-ng-click="vm.openForgottenNotebook()">
    <i18n>presences.forgotten.notebook</i18n>
</button>

<lightbox class="forgotten-notebook-form" show="vm.openForgottenNotebookLightBox"
          on-close="vm.closeForgottenNotebook()">

    <section class="head">
        <h3>
            <i18n>presences.forgotten.notebook.form.title</i18n>
        </h3>
    </section>

    <div class="forgotten-notebook-form-body body lightbox-form">

        <h3 class="row spacing">
            [[vm.student]]
        </h3>

        <!-- date -->
        <span class="forgotten-notebook-form-body-dateTitle twelve cell"><i18n>presences.exemptions.dates</i18n></span>
        <div class="forgotten-notebook-form-body-date twelve cell">
            <i18n>presences.the</i18n>
            :
            <span class="card date-picker">
                <date-picker required ng-model="vm.form.date"></date-picker>
            </span>
        </div>

        <!-- forgotten notebook recap -->
        <div class="forgotten-notebook-form-body-forgottenNotebook twelve cell table-reason">
            <i18n>presences.forgotten.notebook.form.recap</i18n>
            <ul ng-if="vm.after_threshold > 0" class="forgotten-notebook-list">
                <li ng-repeat="i in [].constructor(vm.threshold_forgotten_notebook) track by $index" class="forgotten-notebook-node active"></li>
                <li> + [[ vm.after_threshold ]]</li>
            </ul>
            <ul ng-if="vm.after_threshold === 0">
                <li ng-repeat="i in [].constructor(vm.count_forgotten_notebook) track by $index" class="forgotten-notebook-node active"></li>
                <li ng-repeat="i in [].constructor(vm.threshold_forgotten_notebook - vm.count_forgotten_notebook) track by $index" class="forgotten-notebook-node"></li>
            </ul>
        </div>

    </div>

    <!-- footer/buttons -->
    <div class="forgotten-notebook-form-footer row">
        <!-- reset mode  -->
        <button disabled class="forbidden">
            <i18n>presences.reset</i18n>
        </button>

        <!-- delete mode -->
        <button ng-if="vm.form.id" data-ng-click="vm.deleteForbiddenNotebook()">
            <i18n>presences.absence.form.delete</i18n>
        </button>

        <!-- submit mode -->
        <button class="right-magnet" ng-if="!vm.form.id" data-ng-click="vm.createForbiddenNotebook()"
                data-ng-disabled="!vm.form.date">
            <i18n>presences.exemptions.form.submit</i18n>
        </button>

        <!-- edit mode -->
        <button class="right-magnet" ng-if="vm.form.id" data-ng-click="vm.updateForbiddenNotebook()"
                data-ng-disabled="!vm.form.date">
            <i18n>presences.absence.form.edit</i18n>
        </button>

        <!-- punishment & sanction mode  -->
        <!--        <button disabled class="right-magnet forbidden">-->
        <!--            <i18n>presences.punishments.and.sanction</i18n>-->
        <!--        </button>-->
    </div>
</lightbox>
