<div class="sniplet presences">
    <nav role="navigation" aria-label="main navigation">
        <div class="nav">
            <div class="items">
                <div role="menuitem" ng-if="structures.length > 1"
                     class="item structure-choice-item"
                     data-ng-click="hoverIn('STRUCTURES')"
                     data-ng-mouseover="hoverIn('STRUCTURES')"
                     data-ng-mouseleave="hoverOut()">
                    <i class="open-right">&nbsp;</i>
                </div>
                <a role="menuitem" href="/presences#/dashboard" class="item"
                   ng-class="{active: getCurrentState() === 'dashboard'}">
                    <i class="presence-home" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>presences.home</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   ng-if="::hasRight('readRegister')"
                   ng-class="{active: getCurrentState() === 'registers'}"
                   href="/presences#/registers">
                    <i class="register" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>presences.register</i18n>
                    </span>
                </a>
                <div role="menuitem" class="item"
                     ng-class="{active: getCurrentState() === 'exemptions'}"
                     data-ng-click="hoverIn('ABSENCES')"
                     data-ng-mouseover="hoverIn('ABSENCES')"
                     data-ng-mouseleave="hoverOut()">
                    <i class="absence" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>presences.events.title</i18n>
                    </span>
                </div>
                <!-- Présences -->
                <a role="menuitem" href="/presences#/presences" class="item"
                   ng-if="::hasRight('readPresences')"
                   ng-class="{active: getCurrentState() === 'presences'}">
                    <i class="presence" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>presences.title</i18n>
                    </span>
                </a>
                <div role="menuitem" class="item"
                     ng-class="{active: getCurrentState() === 'incidents'}"
                     data-ng-click="hoverIn('INCIDENTS')"
                     data-ng-mouseover="hoverIn('INCIDENTS')"
                     data-ng-mouseleave="hoverOut()">
                    <i class="events" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>presences.incidents</i18n>
                    </span>
                </div>
                <a role="menuitem" ng-if="::hasMassmailingRight('access')" class="item" href="/massmailing#/">
                    <i class="mass-mailing" aria-hidden="true"></i>
                    <span class="label-navbar" ng-if="::hasMassmailingRight('access')">
                        <i18n>presences.publipostage</i18n>
                    </span>
                </a>
            </div>
        </div>
        <div class="sub-nav" role="navigation" aria-label="sub navigation">
            <div class="items">
                <div class="item structure-choice-item">
                    <div class="sub-items" data-ng-mouseover="hoverIn('STRUCTURES')"
                         data-ng-mouseleave="hoverOut()"
                         ng-class="{hovered: menu.hovered === 'STRUCTURES'}">
                        <h2>
                            <i18n>presences.structures</i18n>
                        </h2>
                        <div ng-repeat="structure in structures" class="sub-item"
                             ng-class="{active: menu.structure.id === structure.id}"
                             data-ng-click="setStructure(structure)">
                            <i>&nbsp;</i><span>[[structure.name]]</span>
                        </div>
                    </div>
                </div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item">
                    <div class="sub-items" ng-class="{hovered: menu.hovered === 'ABSENCES'}"
                         data-ng-mouseover="hoverIn('ABSENCES')"
                         data-ng-mouseleave="hoverOut()">
                        <h2>
                            <i18n>presences.events.title</i18n>
                        </h2>
                        <a href="/presences#/events" class="sub-item"
                           ng-if="::hasRight('readEvent')">
                            <i class="absence" aria-hidden="true"></i>
                            <span><i18n>presences.navigation.event.list</i18n></span>
                        </a>
                        <a href="/presences#/alerts" class="sub-item" ng-if="::hasRight('widget_alerts')">
                            <i class="alertes" aria-hidden="true"></i>
                            <span><i18n>presences.alerts.title</i18n></span>
                        </a>
                        <a href="#" class="sub-item forbidden">
                            <i class="testimony" aria-hidden="true"></i>
                            <span><i18n>presences.navigation.statements.online</i18n></span>
                        </a>
                        <a href="/presences#/exemptions"
                           ng-if="::hasRight('readExemption')"
                           ng-class="{active: getCurrentState() === 'exemptions'}"
                           class="sub-item">
                            <i class="permission" aria-hidden="true"></i>
                            <span><i18n>presences.navigation.exemption</i18n></span>
                        </a>
                        <!--                        <a href="/presences#/group-absences" class="sub-item forbidden">-->
                        <a class="sub-item forbidden">
                            <i class="group-absence" aria-hidden="true"></i>
                            <span><i18n>presences.navigation.absence.group</i18n></span>
                        </a>
                    </div>
                </div>
                <div class="item"></div>
                <div class="item">
                    <div class="sub-items" ng-class="{hovered: menu.hovered === 'INCIDENTS'}"
                         data-ng-mouseover="hoverIn('INCIDENTS')"
                         data-ng-mouseleave="hoverOut()">
                        <h2>
                            <i18n>incidents.navigation.management</i18n>
                        </h2>
                        <a class="sub-item"
                           href="/incidents#/incidents"
                           ng-if="::hasIncidentRight('access')"
                           ng-class="{active: getCurrentState() === 'incidents'}">
                            <i class="incident" aria-hidden="true"></i>
                            <span><i18n>incidents.title</i18n></span>
                        </a>
                        <a class="sub-item forbidden" href="#">
                            <i class="punishment" aria-hidden="true"></i>
                            <span><i18n>incidents.navigation.punishment.sanction</i18n></span>
                        </a>
                    </div>
                </div>
                <div class="item"></div>
            </div>
        </div>
    </nav>
</div>