<div class="presences row sniplet vertical-spacing-six" ng-if="!vm.initialized && (vm.hasRight('initSettings1D') || vm.hasRight('initSettings2D'))">
    <div class="align-center flex-row sniplet-input">
        <button ng-if="vm.hasRight('initSettings1D') && !vm.hasRight('initSettings2D')" data-ng-click="vm.init('ONE_D')" class="right-spacing-twice" style="margin-bottom: 0;">
            <i18n>presences.init.button</i18n>
        </button>
        <button ng-if="vm.hasRight('initSettings2D')" data-ng-click="vm.init('TWO_D')" class="right-spacing-twice" style="margin-bottom: 0;">
            <i18n>presences.init.button</i18n>
        </button>
        <span class="right-spacing-four sniplet-input-title"><i18n>presences.init.title</i18n></span>
    </div>
</div>
<div class="sniplet presences presences-manage navigation">
    <div class="flex-row row__9">
        <!-- reason -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('absence')">
            <div class="presence-icon flex-row"><i class="absence" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.absence.reason.title</i18n></span>
        </a>

        <!-- multiple slots -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('multiple-slots')">
            <div class="presence-icon flex-row"><i class="register" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.multiple.slots.manage.title</i18n></span>
        </a>

        <!-- absence actions -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('action')">
            <div class="presence-icon flex-row"><i class="add" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.absence.actions</i18n></span>
        </a>

        <!-- alerts -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('alert')">
            <div class="presence-icon flex-row"><i class="alertes" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.alerts.title</i18n></span>
        </a>

        <!-- presences // discipline -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('discipline')">
            <div class="presence-icon flex-row"><i class="presence" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.title</i18n></span>
        </a>

        <!-- incidents -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('incidents')">
            <div class="presence-icon flex-row"><i class="events" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>incidents.title</i18n></span>
        </a>

        <!-- punishment/sanctions -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('punishment')">
            <div class="presence-icon flex-row"><i class="punishment-active" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.punishments</i18n>&nbsp<i18n>presences.sanctions</i18n></span>
        </a>

        <!-- publipostage -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('massmailing', 'start')">
            <div class="presence-icon flex-row"><i class="publipostage" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.publipostage</i18n></span>
        </a>

        <!-- statistics -->
        <a class="flex-col col__1 presence-navigation-item" data-ng-click="vm.scrollToElement('statistics')">
            <div class="presence-icon flex-row"><i class="presences-statistics" aria-hidden="true"></i></div>
            <span class="flex-row"><i18n>presences.statistics</i18n></span>
        </a>
    </div>
</div>

<!-- Absence/reason-->
<div class="sniplet presences absence" id="absence">
    <sniplet
            template="presences-manage/reason-manage/sniplet-presences-reason-manage-absence"
            application="presences">
    </sniplet>
</div>

<!-- Lateness/reason-->
<div class="sniplet presences absence" id="lateness">
    <sniplet
            template="presences-manage/reason-manage/sniplet-presences-reason-manage-lateness"
            application="presences">
    </sniplet>
</div>

<!-- Multiple slots -->
<div class="sniplet presences" id="multiple-slots">
    <sniplet
            template="presences-manage/multiple-slots-manage/sniplet-presences-multiple-slots-manage"
            application="presences">
    </sniplet>
</div>

<!-- Action-->
<div class="sniplet presences" id="action">
    <sniplet
            template="presences-manage/action-manage/sniplet-presences-action-manage"
            application="presences">
    </sniplet>
</div>

<!-- Alerts-->
<div class="sniplet presences" id="alert">
    <sniplet
            template="presences-manage/alert-manage/sniplet-presences-alert-manage"
            application="presences">
    </sniplet>
</div>

<!-- Disciplines -->
<div class="sniplet presences absence" id="discipline">
    <sniplet
            template="presences-manage/discipline-manage/sniplet-presences-disciplines-manage"
            application="presences">
    </sniplet>
</div>


<!--INCIDENTS MODULES SNIPLETS -->

<div class="sniplet presences incidents" id="incidents">
    <!-- Incidents Type -->
    <sniplet template="incidents-manage/sniplet-incidents-type-manage" application="incidents"></sniplet>

    <!-- Places -->
    <sniplet template="incidents-manage/sniplet-incidents-places-manage" application="incidents"></sniplet>

    <!-- Protagonists Type -->
    <sniplet template="incidents-manage/sniplet-incidents-protagonists-manage" application="incidents"></sniplet>

    <!-- Serioussness Type-->
    <sniplet template="incidents-manage/sniplet-incidents-seriousness-manage" application="incidents"></sniplet>

    <!-- Partners-->
    <sniplet template="incidents-manage/sniplet-incidents-partners-manage" application="incidents"></sniplet>

    <!-- lightbox edit incident -->
    <sniplet template="incidents-manage/sniplet-incidents-manage-lightbox" application="incidents"></sniplet>
</div>

<!-- INCIDENTS MODULE SNIPLETS / PUNISHMENT -->
<div class="sniplet presences incidents" id="punishment">
    <!-- Punishment -->
    <sniplet template="punishments-manage/sniplet-punishments-type-manage" application="incidents"></sniplet>
</div>

<!-- MASSMAILING MODULE SNIPLETS -->
<div class="sniplet presences massmailing" id="massmailing">
    <!-- Massmailing -->
    <sniplet template="massmailing-manage/sniplet-template-form" application="massmailing"></sniplet>
</div>


<div class="sniplet presences statistics" id="statistics">
    <sniplet
            template="presences-manage/statistics-manage/sniplet-statistics-manage"
            application="presences">
    </sniplet>
</div>

<!-- lightbox edit presence -->
<sniplet template="presences-manage/sniplet-presences-manage-lightbox" application="presences"></sniplet>