.empty-content {
  margin: 0 auto;
  display: flex;

  .description {
    height: 300px;
    font-size: 18px;
    color: $presences-middle-grey;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
}

.empty-content-vertical {
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    height: 70px;
    font-size: 18px;
    color: $presences-middle-grey;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }
}

.bar {
  &:first-child {
    margin-right: 20px;
  }

  &:last-child {
    margin-left: 20px;
  }
}