nav {
  .structure-choice-item {
    position: absolute !important;
    top: 0;

    .sub-item {
      position: relative;

      i {
        width: 5px !important;
      }
    }
  }

  .nav, .sub-nav {
    position: fixed;
    left: 0;
    top: $portal-header-height;
    height: calc(100% - #{$portal-header-height});
    background-color: $white;
    width: $navbar-width;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

    a {
      color: $presences-black !important;
      position: relative;
      display: block;
    }

    i {
      &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: block;
        background-color: transparent;
        width: 5px;
      }

      &.home {
        font-size: 28px;
        width: 28px;
        height: 28px;
        margin-right: 0;
      }
    }

    .items {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .item {
        display: block;
        color: $presences-black !important;
        padding-top: 5px;
        margin: 5px 0;
        text-align: center;
        font-size: 24px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: 55px;

        &:hover {
          color: $presences-main !important;
        }

        &.active, &:hover {
          > i::after {
            background-color: $presences-main;
          }
        }
      }
    }

    .sub-items {
      position: absolute;
      font-size: 16px;
      display: block;
      min-width: 200px;
      text-align: left;
      top: 0;
      color: $presences-black !important;
      background-color: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      padding: 10px;
      transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
      left: -500%;

      &-structure {
        overflow: auto;
        margin: 0 -10px 0 0;
        max-height: 600px;
      }

      &.hovered {
        left: 100%;
      }

      h2 {
        color: $presences-main;
        font-weight: bold;
        line-height: 20px;
      }

      .sub-item {
        padding: 7px 0;

        &:hover, &.active {
          color: $presences-main !important;

          i::after {
            background-color: $presences-main;
            left: -10px;
          }
        }

        &:hover {
          i {
            color: $presences-main;
          }
        }


        i {
          font-size: 22px;
          width: 40px;
          display: inline-block;
          text-align: center;
        }
      }
    }

    .label-navbar {
      font-size: 12px;
      padding: 5px 0;
      display: block;
      line-height: 16px;
    }
  }

  .sub-nav {
    z-index: 1000;
  }
}

@media screen and (max-width: $tablette) {
  nav .nav, nav .subnav {
    top: $responsive-portal-header-height;
    height: calc(100% - #{$responsive-portal-header-height});
  }
}