<table class="absences-table table table-hover"
       data-ng-show="vm.events.all && vm.events.all.length > 0">
    <thead>
    <tr>
        <th width="15%">
            <i18n>presences.exemptions.student</i18n>
        </th>
        <th width="6%">
            <i18n>presences.exemptions.dates</i18n>
        </th>
        <th width="1%">
            <i18n>presences.absence.period</i18n>
        </th>
        <th width="2%">
            <i18n>presences.absence.reason</i18n>
        </th>
        <th width="1%">
            <i18n>presences.absence.file</i18n>
        </th>
        <th width="1%">
            <i18n>presences.absence.action</i18n>
        </th>
        <th width="1%">
            <i18n>presences.absence.regularise</i18n>
        </th>
    </tr>
    </thead>
    <tbody class="absences-table-body" data-ng-repeat="event in vm.events.all track by $index">
    <tr data-id="[[$index]]" data-ng-click="vm.toggleCollapse($event)">

        <!-- Profile -->
        <th class="absences-table-body-student">
            <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" height="43"
                 width="43">
            <!--            <img src="/userbook/avatar/[[vm.filter.student.id]]">-->

            <div class="absences-table-body-student-content">
                <span>[[event.displayName]]</span>
                <span>[[event.classeName]]</span>
            </div>
        </th>

        <!-- Date -->
        <th class="absences-table-body-date uppercase text-center">[[event.date | date: 'dd/MM/yyyy']]</th>

        <!-- Period -->
        <th class="absences-table-body-period text-center">
            <ul class="period"
                data-ng-click="vm.period($event)"
                data-ng-mousedown="vm.setAbsent($event)"
                data-ng-mouseup="vm.treatAbsentAfterMouseLeave(event)"
                data-ng-mouseover="vm.drawAbsent($event)">

                <!-- planning  -->
                <li ng-repeat="periods in event.dayHistory track by $index"
                    data-ng-mousemove="vm.indexDayHistory = $index;"
                    data-ng-click="vm.interactAbsent(periods, event, $event, $parent.$index)"
                    class="[[vm.eventTypeState(periods, event)]]"
                    tooltip="[[periods.name]]">
                </li>

                <li><i class="tableEdit" data-ng-click="vm.editPeriod($event)"></i></li>
            </ul>
        </th>

        <!-- Select reason-->
        <th class="table-reason text-center">
            <label>
                <select data-ng-model="event.globalReason"
                        data-ng-click="vm.reasonSelect($event)"
                        data-ng-change="vm.changeReason(event)"
                        ng-options="reason.id as reason.label for reason in vm.filterSelect(vm.eventReasonsType, event)">
                    <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                </select>

            </label>
        </th>

        <!-- Download file-->
        <th class="absences-table-body-file text-center">
            <i class="attach forbidden" data-ng-click="vm.downloadFile($event)"></i>
        </th>

        <!-- Action -->
        <th class="text-center"><i class="add forbidden" data-ng-click="vm.doAction($event)"></i></th>

        <!-- Absence regularised -->
        <th class="text-center">
            <label class="checkbox" ng-class="{half: vm.regularizedChecked(event)}"
                   data-ng-click="vm.stopAbsencePropagation($event)">
                <input type="checkbox" data-ng-model="event.globalCounsellorRegularisation"
                       data-ng-change="vm.toggleAllAbsenceRegularised(event)">
                <span></span>
            </label>
        </th>

        <!-- description content -->
    <tr ng-class="{open: vm.isCollapsibleOpen($index)}" class="absences-table-body-description">
        <td colspan="7" data-ng-show="event.events.length !== 0">
            <div class="absences-table-body-description-content"
                 data-ng-repeat="history in event.events |  orderBy:'+end_date'">

                <!--Add space-->
                <span></span>
                <span></span>

                <!--Date-->
                <span class="absences-table-body-description-content-date">[[history.start_date | date:'HH:mm']]-[[history.end_date | date:'HH:mm']]</span>

                <!--Select-->
                <span class="absences-table-body-description-content-select table-reason">
                     <label>
                        <select data-ng-model="history.reason_id"
                                data-ng-change="vm.changeDescriptionReason(history, event)"
                                ng-options="reason.id as reason.label for reason in vm.eventReasonsTypeDescription">
                            <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                        </select>
                    </label>
                </span>

                <!--Regularized-->
                <label class="absences-table-body-description-content-checkbox checkbox">
                    <input type="checkbox" data-ng-model="history.counsellor_regularisation"
                           data-ng-change="vm.toggleAbsenceRegularised(history, event)">
                    <span></span>
                </label>

            </div>
        </td>
    <tr>
    </tr>
    </tbody>
</table>