<div class="row">
    <h1 class="cell paddingRight">
        <i18n>presences.register.list.title</i18n>
    </h1>
    <div class="cell eight" workflow="presences.search">
        <div class="cell six paddingRight">
            <div class="cell twelve search-input">
                <async-autocomplete ng-disabled="false"
                                    ng-model="vm.filter.teacher"
                                    ng-change="vm.selectTeacher"
                                    on-search="vm.searchTeacher"
                                    options="vm.filter.teachers"
                                    placeholder="presences.search.teacher"
                                    search="vm.filter.teacher"></async-autocomplete>
            </div>
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="teacher in vm.filter.selected.teachers"
                        ng-click="vm.dropFilter(teacher, 'teachers')">
                        [[teacher.displayName]]
                        <i class="close"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell six paddingLeft">
            <div class="cell twelve search-input">
                <async-autocomplete ng-disabled="false"
                                    ng-model="vm.filter.class"
                                    ng-change="vm.selectClass"
                                    on-search="vm.searchClass"
                                    options="vm.filter.classes"
                                    placeholder="presences.search.class"
                                    search="vm.filter.class"></async-autocomplete>
            </div>
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="class in vm.filter.selected.classes"
                        ng-click="vm.dropFilter(class, 'classes')">
                        [[class.toString()]]
                        <i class="close"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row vertical-spacing">
    <span><i18n>presences.from</i18n></span>
    <span class="card date-picker">
            <date-picker ng-model="vm.filter.start_date"
                         ng-change="vm.changeFiltersDate()"></date-picker>
        </span>
    <span><i18n>presences.to</i18n></span>
    <span class="card date-picker">
            <date-picker ng-model="vm.filter.end_date"
                         ng-change="vm.changeFiltersDate()"></date-picker>
        </span>
    <button class="right-magnet" ng-click="vm.export()" workflow="presences.export">
        <i18n>presences.export.tocsv</i18n>
    </button>
</div>
<div class="row">
    <div class="chips">
        <label class="chip" ng-class="{selected: vm.filter.forgotten}"
               data-ng-click="vm.switchForgottenFilter()">
            <i18n>presences.register.forgotten</i18n>
        </label>
        <label class="chip" ng-class="{selected: !vm.filter.searchTeacher}"
               data-ng-click="vm.switchSearchTeacherFilter()"
               ng-show="!isTeacher() || hasRight('widget_forgotten_registers')">
            <i18n>presences.register.disable.without.teacher</i18n>
        </label>
    </div>
</div>
<div class="row card-slider">
    <!-- empty case -->
    <div class="nine empty-content" data-ng-show="vm.courses.all.length === 0 &amp;&amp; !vm.courses.loading">
        <div class="eight description">
            <span class="red-bar bar"></span>
            <i18n>presences.registers.empty</i18n>
            <span class="purple-bar bar"></span>
        </div>
        <img data-ng-src="/presences/public/img/registers_empty.svg" class="four">
    </div>
    <!-- loading -->
    <loader ng-show="vm.courses.loading"
            title="lang.translate('presences.register.loading.text')"
            min-height="'250px'"></loader>

    <!-- content table -->
    <!--    <div class="row" ng-repeat="date in vm.courses.keysOrder" ng-if="vm.courses.all.length > 0">-->
    <div class="row" ng-repeat="date in vm.courses.keysOrder" ng-if="vm.courses.all.length > 0">
        <h2 class="capitalized">[[::vm.formatDayDate(date)]]</h2>
        <div class="card cell" ng-repeat="course in vm.courses.map.get(date)"
             data-ng-click="vm.openRegister(course, $event)"
             ng-class="{active: (vm.isCurrentRegister(course)) && course.allowRegister,
             disabled: (vm.isFuturCourse(course)) || !course.allowRegister}">
            <div ng-if="!isTeacher() || hasRight('widget_forgotten_registers')" class="row has-search-right">
                <div class="row hour">
                    <span>[[::vm.formatHour(course.startDate)]] - [[::vm.formatHour(course.endDate)]]</span>
                    <i class="right-magnet notify-bell"
                       ng-if="vm.canNotify(course.startDate, course.register_state_id) && course.allowRegister"
                       ng-class="{active: course.notified}">&nbsp;</i>
                </div>
                <div class="row teachers">
                    <span ng-repeat="teacher in course.teachers">[[::teacher.displayName]]</span>
                </div>
                <em class="row metadata ellipsis">[[::course.subjectName]]</em>
                <div class="classes row ellipsis">
                    <span ng-repeat="group in ::vm.getGroups(course.classes, course.groups)">[[::group]]</span>
                </div>
            </div>
            <div ng-if="isTeacher() && !hasRight('widget_forgotten_registers')" class="row">
                <div class="row hour">[[::vm.formatHour(course.startDate)]] -
                    [[::vm.formatHour(course.endDate)]]
                    <!--icon register created by personnel-->
                    <div class="personnel-icon right-magnet">
                        <i ng-if="course.isOpenedByPersonnel" class="clipboard-alert-outline">&nbsp;</i>
                        <span class="register-tooltip">
                            <span><i18n>presences.register.opened.by.personnel</i18n></span>
                        </span>
                    </div>
                </div>
                <div class="row classes ellipsis">
                    <span ng-repeat="group in ::vm.getGroups(course.classes, course.groups)">[[::group]]</span>
                </div>
                <div class="row subject ellipsis">[[::course.subjectName]]</div>
            </div>
        </div>
    </div>
</div>
<infinite-scroll scrolled="vm.onScroll()"></infinite-scroll>