<div class="register-header row">
    <div class="four cell">
        <i18n>presences.register.legend.student</i18n>
    </div>
    <div class="two cell">
        <i18n>presences.register.legend.state</i18n>
    </div>
    <div class="six cell">
        <i18n>presences.register.legend.history</i18n>
    </div>
</div>
<div class="student" ng-repeat="student in vm.register.students|orderBy:'name'"
     role="row">
    <div class="four">
        <div class="absence-button" role="button"
             ng-class="{
             active: student.absence !== undefined,
             disabled: vm.isAbsenceDisabled(student)
             }"
             ng-click="vm.toggleAbsence(student)">
            &nbsp;
        </div>
        <div class="absence-student">
            <span ng-click="vm.openPanel(student)" class="student-name">
                    [[student.name]]
            </span>
            <i class="last-absent" data-ng-show="student.last_course_absent"></i>
            <i class="forgotten-notebook" data-ng-show="student.forgotten_notebook"></i>
        </div>
    </div>
    <div class="register-event-status two">
        <div class="absence" ng-show="student.absence !== undefined">&nbsp;</div>
        <div class="lateness" ng-show="student.lateness !== undefined">&nbsp;</div>
        <div class="departure" ng-show="student.departure !== undefined">&nbsp;</div>
        <div class="remark" ng-show="student.remark.id !== undefined">
            &nbsp;
        </div>
    </div>
    <div class="six history-container">
        <ul class="history" ng-if="student.day_history.length > 0"
            ng-class="{ disabled: vm.isEmptyDayHistory(student) }">
            <li ng-repeat="slot in student.day_history"
                class="[[vm.getHistoryEventClassName(slot.events, slot)]]"
                ng-class="{current: vm.isCurrentSlot(slot)}">
                <!-- tooltip hovered -->
                <span class="tooltip-top"
                      ng-if="vm.findEvent(slot.events) != undefined">
                    <span class="font-bold">[[vm.formatHourTooltip(slot.start)]] - [[vm.formatHourTooltip(slot.end)]]</span>
                    <br><i18n>presences.created.by</i18n>&nbsp;&#58;<br>
                    <span class="font-bold">[[vm.findEvent(slot.events).owner.displayName]]</span>
                </span>
            </li>
        </ul>
    </div>
</div>