<div class="student-panel" ng-if="vm.filter.student !== undefined">
    <div class="bio">
        <div class="row">
            <div class="cell three horizontal-spacing">
                <img ng-src="/viescolaire/structures/[[structure.id]]/students/[[vm.filter.student.id]]/picture">
            </div>
            <div class="cell nine">
                <i class="close" data-ng-click="vm.closePanel()"></i>
                <h4>
                    <student-name name="vm.filter.student.name" id="vm.filter.student.id"/>
                </h4>
                <div>
                    <i class="mail"></i>
                    <i class="bar-chart"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Forgotten notebook (teacher only) -->
    <div ng-show="isTeacher()" class="forgotten-notebook eleven vertical-spacing"
         ng-class="{ disabled: vm.filter.student.forgotten_notebook }">
        <sniplet template="forgotten-notebook-form" application="presences"></sniplet>
    </div>

    <!-- Absence (CPE only) -->
    <div ng-if="hasSearchRight()" class="eleven centered vertical-spacing">
        <div class="row">
            <label class="checkbox">
                <input type="checkbox"
                       ng-click="vm.toggleAbsence(vm.filter.student)"
                       ng-checked="vm.filter.student.absence !== undefined"/>
                <span><i18n>presences.register.event_type.absences</i18n></span>
            </label>
            <div class="select-reason-absences right-magnet margin-bottom-md">
                <label>
                    <select ng-model="vm.filter.student.absence.reason_id"
                            ng-options="reason.id as reason.label for reason in vm.reasons"
                            options-disabled="reason.hidden for reason in vm.reasons"
                            ng-change="vm.manageAbsence(vm.filter.student.absence, vm.filter.student)">
                        <option value="">
                            [[lang.translate('presences.absence.select.empty')]]
                        </option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <!-- Lateness -->
    <div class="lateness eleven centered vertical-spacing">
        <div class="row">
            <label class="checkbox">
                <input type="checkbox"
                       ng-disabled="(vm.filter.student.exempted_subjectId ===
                       vm.register.subject_id && vm.filter.student.exempted && !vm.filter.student.exemption_attendance)"
                       ng-checked="vm.filter.student.lateness !== undefined"
                       ng-click="vm.toggleLateness(vm.filter.student)"/>
                <span><i18n>presences.register.event_type.lateness</i18n></span>
            </label>
            <time-picker
                    ng-disabled="vm.filter.student.absence !== undefined ||
                    (vm.filter.student.exempted_subjectId ===
                    vm.register.subject_id && vm.filter.student.exempted && !vm.filter.student.exemption_attendance)"
                    ng-model="vm.filter.student.lateness.end_date_time"
                    ng-change="vm.updateLateness()"></time-picker>
        </div>
        <div class="row">
            <label>
                <i18n>presences.lateness.reason</i18n>
                <textarea
                        ng-disabled="vm.filter.student.lateness === undefined && vm.filter.student.absence !== undefined ||
                        (vm.filter.student.exempted_subjectId ===
                        vm.register.subject_id && vm.filter.student.exempted && !vm.filter.student.exemption_attendance)"
                        ng-model="vm.filter.student.lateness.comment"
                        end-user-typing="vm.filter.student.lateness.update()"></textarea>
            </label>
        </div>
    </div>

    <!-- Departure -->
    <div class="departure eleven centered vertical-spacing">
        <div class="row">
            <label class="checkbox">
                <input type="checkbox"
                       ng-disabled="vm.filter.student.absence !== undefined ||
                       (vm.filter.student.exempted_subjectId ===
                       vm.register.subject_id && vm.filter.student.exempted && !vm.filter.student.exemption_attendance)"
                       ng-checked="vm.filter.student.departure !== undefined"
                       ng-click="vm.toggleDeparture(vm.filter.student)"/>
                <span><i18n>presences.register.event_type.departure</i18n></span>
            </label>
            <time-picker
                    ng-disabled="vm.filter.student.absence !== undefined  ||
                    (vm.filter.student.exempted_subjectId ===
                    vm.register.subject_id && vm.filter.student.exempted && !vm.filter.student.exemption_attendance)"
                    ng-model="vm.filter.student.departure.start_date_time"
                    ng-change="vm.updateDeparture()"></time-picker>
        </div>
        <div class="row">
            <label>
                <i18n>presences.departure.reason</i18n>
                <textarea
                        ng-disabled="vm.filter.student.departure === undefined && vm.filter.student.absence !== undefined ||
                        (vm.filter.student.exempted_subjectId ===
                        vm.register.subject_id && vm.filter.student.exempted && !vm.filter.student.exemption_attendance)"
                        ng-model="vm.filter.student.departure.comment"
                        end-user-typing="vm.filter.student.departure.update()"></textarea>
            </label>
        </div>
    </div>
    <div class="remark eleven centered vertical-spacing">
        <label>
            <i18n>presences.register.event_type.remark</i18n>
            <textarea ng-model="vm.filter.student.remark.comment"
                      end-user-typing="vm.handleRemark(vm.filter.student)"></textarea>
        </label>
    </div>
</div>