<h1>
    <i18n>presences.register.register.title</i18n>
</h1>
<loader ng-show="vm.isLoading()"
        title="lang.translate('presences.register.loading.text')"
        min-height="'250px'"></loader>
<user-cards users="vm.register.teachers"
            workflow="presences.search"
            ng-model="vm.filter.selected.registerTeacher"
            notified="vm.register.notified"
            can-notify="vm.canNotify(vm.register.start_date, vm.register.state_id)"
            on-notify="::vm.notify"
            ng-change="vm.switchRegisterTeacher"
            ng-if="vm.register && vm.register.teachers"
            ng-show="!vm.register.loading && vm.register.teachers.length > 0">
</user-cards>
<div class="row register" ng-if="!vm.isLoading() && !vm.isEmptyGroupRegister()">
    <panel opened="vm.filter.student !== undefined">
        <container template="register-panel"></container>
    </panel>

    <div class="row vertical-spacing">
        <span data-ng-click="vm.previousDate()">
            <i class="left-open"></i>
        </span>
        <span class="card date-picker">
            <date-picker ng-model="vm.filter.date" ng-change="vm.changeDate()"></date-picker>
        </span>
        <span data-ng-click="vm.nextDate()">
            <i class="open-right"></i>
        </span>
    </div>
    <div class="row card-slider">
        <div class="card cell" ng-repeat="course in vm.courses.all|orderBy:'timestamp'"
             data-ng-click="vm.openRegister(course)"
             ng-class="{active: vm.isCurrentRegister(course), disabled: (vm.isFuturCourse(course) || !course.allowRegister)}">
            <div class="row hour">[[::vm.formatHour(course.startDate)]] -
                [[::vm.formatHour(course.endDate)]]
            </div>
            <div class="row classes">
                <span ng-repeat="class in course.classes">[[::class]]</span>
                <span ng-repeat="group in course.groups">[[::group]]</span>
            </div>
            <div class="row subject ellipsis">[[::course.subjectName]]</div>
        </div>
    </div>
    <div class="align-end flex-row settings" ng-if="vm.register">
        <div class="cell view-settings" ng-if="vm.register.groupMap !== undefined">
            <i class="show-list"
               ng-click="template.open('register', 'register/list-view')"
               ng-class="{ active: template.contains('register', 'register/list-view') }"></i>
            <i class="split-view"
               ng-click="template.open('register', 'register/split-view')"
               ng-class="{ active: template.contains('register', 'register/split-view') }"></i>
        </div>
        <div class="card radius cell">
            <span class="cell horizontal-spacing vertical-spacing-twice" style="padding-right: 0;">
                <i18n>presences.registers.attenders</i18n> :
            </span>
            <div class="horizontal-spacing vertical-spacing-twice font-bold cell">
                [[vm.register.students.length - vm.register.absenceCounter]]
                /
                [[vm.register.students.length]]
            </div>
        </div>
        <!-- EVENT LEGENDS -->
        <events-legend absence="true" lateness="true" departure="true" remark="true" previously-absent="true"
                       widget-forgotten-notebook="true">
        </events-legend>

        <div ng-show="vm.register && !vm.register.loading" class="valid-content flex-column flex-one right-magnet">
            <div ng-show="vm.register.state_id == 3">
                <p class="no-margin"><i18n>presences.register.validated</i18n><i class="check-circle"></i></p>
            </div>

            <!-- Register validation top button -->
            <button data-ng-click="vm.validRegister()">
                <i18n>presences.register.validation</i18n>
            </button>
        </div>
    </div>
    <div class="row vertical-spacing-four" role="grid"
         ng-show="vm.register && !vm.register.loading">

        <!-- Student list -->
        <container template="register"></container>
    </div>
    <!-- Register validation bottom button -->
    <button data-ng-click="vm.validRegister()"
            ng-show="vm.register && !vm.register.loading">
        <i18n>presences.register.validation</i18n>
    </button>
</div>
<div class="row register" ng-if="!vm.isLoading() && vm.isEmptyGroupRegister()">
    <div class="nine empty-content">
        <div class="eight description">
            <span class="red-bar bar"></span>
            <i18n>presences.registers.group.empty</i18n>
            <span class="purple-bar bar"></span>
        </div>
        <img data-ng-src="/presences/public/img/registers_empty.svg" class="four">
    </div>
</div>