<div class="row" ng-repeat="(groupName, students) in vm.register.groupMap">
    <h4>[[groupName]]</h4>
    <div class="register-header row">
        <div class="four cell">
            <i18n>presences.register.legend.student</i18n>
        </div>
        <div class="two cell">
            <i18n>presences.register.legend.state</i18n>
        </div>
        <div class="six cell">
            <i18n>presences.register.legend.history</i18n>
        </div>
    </div>
    <div class="student" ng-repeat="student in students|orderBy:'name'"
         role="row">
        <div class="four">
            <div class="absence-button" role="button"
                 ng-class="{
                 active: student.absence !== undefined,
                 disabled: vm.isAbsenceDisabled(student)
                 }"
                 ng-click="vm.toggleAbsence(student)">
                &nbsp;
            </div>
            <span ng-click="vm.openPanel(student)"
                  class="student-name"
                  ng-class="{'last-course-absent': student.last_course_absent}">
                        [[student.name]]
                    </span>
        </div>
        <div class="register-event-status two">
            <div class="absence" ng-show="student.absence !== undefined">&nbsp;</div>
            <div class="lateness" ng-show="student.lateness !== undefined">&nbsp;</div>
            <div class="departure" ng-show="student.departure !== undefined">&nbsp;</div>
            <div class="remark" ng-show="student.remark.id !== undefined">
                &nbsp;
            </div>
        </div>
        <div class="six history-container">
            <ul class="history" ng-if="student.day_history.length > 0"
                ng-class="{ disabled: vm.isEmptyDayHistory(student) }">
                <li ng-repeat="slot in student.day_history"
                    class="[[vm.getHistoryEventClassName(slot.events)]]"
                    ng-class="{current: vm.isCurrentSlot(slot)}"
                    tooltip="[[::slot.name]]">
                    &nbsp;
                </li>
            </ul>
        </div>
    </div>
</div>