<div class="course-item-container" id="[[item.id]]"
     data-ng-click="vm.actionEventForm(item)"
     data-ng-mouseenter="hoverEvents($event, item)" data-ng-mouseleave="hoverOutEvents()">
    <!-- ^ hovering events absence ^ -->

    <!-- color css handling -->
    <div class="exemption" ng-if="item.exempted" ng-class="{
     'absent': item.absences.length > 0 || vm.absenceEvents(item).length > 0,
     'absent-not-regularized': (!item.containsAbsence && item.containsReasonAbsence) && !vm.hasEventAbsenceRegularized(item),
     'absent-regularized': vm.hasEventAbsenceRegularized(item),
     'contains-followed-absence': vm.hasFollowedAbsence(item),
    }">&nbsp;
    </div>
    <div class="globalAbsence" ng-if="vm.isGlobalAbsence(item)">&nbsp;</div>
    <div class="globalAbsenceReason" ng-if="vm.isGlobalAbsenceReason(item)">&nbsp;</div>


    <!-- data course item -->
    <div class="course-item"
         data-ng-attr-id="[[vm.isAbsenceOnly(item) || vm.isAbsenceJustifiedOnly(item) ? 'absent' + item.dayOfWeek + '-' + item.hash : null]]"
         ng-class="{
         'contains-followed-absence':  (item.absences.length > 0 || vm.absenceEvents(item).length > 0) && vm.hasFollowedAbsence(item),
         'contains-absence': (item.absences.length > 0 || vm.absenceEvents(item).length > 0) && !vm.hasFollowedAbsence(item),
         'contains-absenceReason': !item.containsAbsence && item.containsReasonAbsence,
         'contains-events': item.events.length > 0 || item.exempted,
         'is-absence': item.hasOwnProperty('hash')
         }">
        <div class="data">
            <!-- label course info -->
            <div class="subject ellipsis cell">[[item.subject_name]]</div>
            <em class="metadata right-magnet"><span ng-repeat="room in item.roomLabels">[[room]]</span> </em>
        </div>

        <!-- side events -->
        <div class="events">
            <div ng-if="item.incident">
                <i class="report incident"></i>
                <!-- hovering incident -->
                <span class="tooltip-top">
                    <span class="ng-binding"><i18n>presences.register.event_type.incident</i18n></span>
                </span>
            </div>

            <div ng-if="item.punishments && item.punishments.length > 0">
                <i class="report punishment-calendar"></i>
                <!-- hovering punishment -->
                <span class="tooltip-top">
                    <span class="ng-binding"><i18n>presences.register.event_type.punishment</i18n></span> <br>
                    <span class="font-bold"><i18n>presences.register.event_type.punishment.type</i18n>&#58;</span>
                    <span>[[item.punishments[0].type.label]]</span>
                </span>
            </div>


            <div class="event event-type-[[event.type_id]]" ng-repeat="event in item.events"
                 ng-click="actionEventForm(event)">&nbsp;
                <!-- hovering events (late, departure) -->
                <span class="tooltip-top">
                    <span>[[vm.getEventType(event)]]</span> <br>
                    <span class="font-bold"><i18n>presences.hour</i18n>&#58;</span>
                    <span>[[vm.getEventTypeDate(event)]]</span>
                </span>
            </div>
        </div>
    </div>

    <!-- side area -->
    <div class="right-side">
        <!-- hovering exemption -->
        <div data-ng-mouseenter="hoverExemption($event, item)" data-ng-mouseleave="hoverOutExemption()"
             class="exemption-label"
             ng-if="item.exempted">
            <i18n>presences.calendar.exemption.code</i18n>
        </div>

        <!-- hovering presence -->
        <div data-ng-mouseenter="hoverPresence($event, item, vm.presences.all)" data-ng-mouseleave="hoverOutPresence()"
             class="exemption-label"
             ng-if="vm.canDisplayPresence(item)">
            <i18n>presences.calendar.presences.code</i18n>
        </div>
    </div>
</div>