<div class="sniplet presences sniplet-presence-form sniplet-massmailing">
    <div class="sniplet-form">
        <!-- massmailing sniplet area -->
        <div class="sniplet-header">
            <span class="sniplet-header-icon"><i class="publipostage" aria-hidden="true"></i></span>
            <h3 class="sniplet-header-title">
                <i18n>massmailing.template.form</i18n>
            </h3>
        </div>

        <!-- description sniplet massmailing global -->
        <div class="sniplet-input">
            <i18n>massmailing.form.description</i18n>
        </div>

        <!-- MAIL -->
        <div ng-include="'/massmailing/public/template/behaviours/sniplet-massmailing-manage/' +
         'sniplet-massmailing-manage-mail/sniplet-template-form-mail.html'"></div>

        <!-- SMS -->
        <div ng-include="'/massmailing/public/template/behaviours/sniplet-massmailing-manage/' +
         'sniplet-massmailing-manage-sms/sniplet-template-form-sms.html'"></div>

        <!-- PDF -->
        <div ng-include="'/massmailing/public/template/behaviours/sniplet-massmailing-manage/' +
         'sniplet-massmailing-manage-pdf/sniplet-template-form-pdf.html'"></div>

    </div>
</div>

<!-- lightbox modal massmailing param -->
<lightbox show="vm.deletion.show">
    <!-- title -->
    <section class="absentLightbox-head head ng-scope">
        <h3>
            <i18n>massmailing.templates.deletion.title</i18n>
        </h3>
    </section>

    <!-- content message -->
    <section class="absentLightbox-body body lightbox-form">
        <p>
            <i18n>massmailing.template.deletion.message.1</i18n>
            [[vm.deletion.template.name]]
            <i18n>massmailing.template.deletion.message.2</i18n>&#46;
        </p>
    </section>

    <!-- button action -->
    <section class="absentLightbox-footer">
        <div class="horizontal-spacing row vertical-spacing">
            <button class="right-magnet" ng-click="vm.delete(vm.deletion.template)">
                <i18n>massmailing.delete</i18n>
            </button>
        </div>
    </section>
</lightbox>