$presences-main: #ffb600;
$presences-red: #e61610;
$presences-pink: #ff8a84;
$presences-purple: #9c29b7;
$presences-green: #24a1ac;
$presences-grey: #aaaaaa;
$presences-grey-light: #f0f0f0;
$presences-grey-light: #FBFBFB;
$presences-grey-smoke: #f7f7f7;
$presences-white: #ffffff;
$presences-middle-grey: #929292;
$presences-black: rgba(0, 0, 0, .87);

$portal-header-height: 64px;
$responsive-portal-header-height: 50px;
$navbar-width: $portal-header-height;

@font-face {
  font-family: 'material-icons';
  src: url('/presences/public/font/material-design/fonts/materialdesignicons-webfont.eot');
  src: url('/presences/public/font/material-design/fonts/materialdesignicons-webfont.eot') format('embedded-opentype'),
  url('/presences/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff2'),
  url('/presences/public/font/material-design/fonts/materialdesignicons-webfont.woff2') format('woff'),
  url('/presences/public/font/material-design/fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body.presences, .sniplet.presences {
  @import "components/index";
  @import "../../../sass/global/common";

  color: $presences-black;

  .toasts {
    z-index: 9001;

    .toast-content {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }
  }

  .lowercase {
    text-transform: lowercase;
  }

  .forbidden {
    cursor: not-allowed;
  }

  .font-bold {
    font-weight: bold;
  }

  .left-magnet {
    float: left;
  }

  .height-100 {
    height: 100%;
  }

  container[template="main"] {
    display: block;
    width: calc(100% - #{$navbar-width});
    margin-left: $navbar-width;
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .radius {
    border-radius: 5px;
  }

  h1 {
    font-size: 28px;
    line-height: 40px;
    color: $black;
    font-weight: bold;
  }

  textarea:focus {
    outline: none;
    border: 2px solid $presences-main;
  }

  label.checkbox {
    input[type=checkbox] {
      + span:before {
        @include fonticon();
        border: 2px solid $presences-main;
        border-radius: 3px;
        color: $white;
        height: 20px;
        width: 20px;
        margin-top: 0;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
      }

      &:checked + span::before {
        content: "\e871";
        transform: rotate(0deg);
        border-color: $presences-main;
        background-color: $presences-main;
      }
    }

    &.half input[type="checkbox"] + span:before {
      content: "\f374";
      transform: rotate(0deg);
      border-color: $presences-main;
      background-color: $presences-main;
    }
  }

  .capitalized {
    text-transform: capitalize;
  }

  .top20 {
    margin-top: 20px;
  }

  .paddingRight {
    padding-right: 15px;
  }

  .paddingLeft {
    padding-left: 15px;
  }

  .no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;;
  }

  .search-input {
    background: #fff;
    padding: 15px;
    vertical-align: middle;

    input {
      margin: auto;
    }

    &.small {
      margin-right: 15px;

      input {
        max-width: 75px;
      }
    }
  }

  ul.search-input-ul {
    padding: 5px;
    margin: 0;
    font-weight: bold;

    li {
      display: inline;
      margin: 0 5px;

    }
  }

  .lightbox-form {
    select {
      border: none;
      border-bottom: solid 1px #aaa;
    }

    .row.spacing {
      .cell.twelve {
        padding: 10px 20px;
      }
    }
  }

  .purple-bar {
    display: block;
    width: 50px;
    height: 10px;
    background: $presences-purple;
    border-radius: 5px;
  }

  .yellow-bar {
    display: block;
    width: 50px;
    height: 10px;
    background: $presences-main;
    border-radius: 5px;
  }

  .red-bar {
    display: block;
    width: 50px;
    height: 10px;
    background: $presences-red;
    border-radius: 5px;
  }
}