.exemptions {
  i {
    text-align: center;
    font-size: 24px;
    line-height: 32px;

    //&.account:before {
    //  content: "\f004";
    //}

    &.account-outline {
      font-size: 32px;

      //&:before {
      //  content: "\e946";
      //}
    }

     &.account-little {
       font-size: 17px !important;
       &:before {
         font-family: 'material-icons';
         content: "\F004";
       }
     }

     &.account-outline-little {
       font-size: 17px !important;
       &:before {
         font-family: 'material-icons';
         content: "\F013";
       }
    }
  }

  .flex-th {
    display: flex;
    align-items: center;
    align-content: center;

    .avatar {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-size: 100%;
      background-position: center center;
      border-radius: 50%;
      margin-right: 15px;
    }
  }

  .exemptions-content-empty {
    img {
      width: 35%;
    }
  }
}

.exemptions-sniplet {

  .start-date {
    margin-right: 8px;
  }

  .type-exemption {
    margin-left: 7px;
    padding: 0;
  }

  /* Select css */
  .timeslot {
    @include select-timeslot(5px, $box-shadow-2);
  }

  .exemption-switch {
    display: flex;
    width: 35%;
    place-content: space-between;
  }
}