<section class="eventFormLightBox-body body lightbox-form">

    <!-- Info -->
    <div class="eventFormLightBox-body-info row spacing">

        <div class="twelve flex-row">
            <!-- date -->
            <div class="eventFormLightBox-body-timeslot-margin-bottom">
                <i18n class="margin-right-sm">presences.the</i18n>

                <span class="card date-picker margin-right-sm">
                <date-picker required ng-model="vm.form.startDate"
                             data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.START_HOUR)"
                             ng-disabled="vm.form.id"></date-picker>
            </span>

                <i18n class="margin-right-sm">presences.at</i18n>
                <label class="eventFormLightBox-body-timeslot">
                    <label class="timeslot-select">
                        <i class="time-picker"></i>
                        <select data-ng-model="vm.timeSlotTimePeriod.start"
                                data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.START_HOUR)"
                                ng-disabled="vm.form.id"
                                ng-options="item.name + ' : ' + item.startHour for item in vm.structureTimeSlot.slots
                                    | orderBy:vm.timeSlotHourPeriod.START_HOUR">
                            <option value="">[[lang.translate('presences.pick.timeslot')]]</option>
                        </select>
                    </label>
                </label>
            </div>
            <!-- time picker -->
            <div class="presenceLightbox-body-info-choice">
                <i18n>presences.registry.csv.lateness.time</i18n>&#58;
                <span class="card eventFormLightBox-body-timepicker margin-left-md">
                    <time-picker required ng-model="vm.form.endDateTime"></time-picker>
                </span>
            </div>
        </div>

        <!-- Reasons -->
        <div class="eventFormLightBox-body-info-reason margin-bottom-md table-reason">
            <label>
                <select data-ng-model="vm.form.reason_id"
                        data-ng-change="vm.selectReason()"
                        ng-options="reason.id as lang.translate(reason.label) disable when reason.hidden for reason in vm.getLatenessReason()">
                    <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                </select>
            </label>
        </div>
    </div>
</section>
