<!-- Date filter -->
<div class="row">
    <div class="cell eight top5">
        <i18n>presences.from</i18n>
        :
        <span class="card date-picker">
             <date-picker ng-change="vm.updateDate();" ng-model="vm.filter.startDate"></date-picker>
        </span>
        <i18n>presences.to</i18n>
        :
        <span class="card date-picker">
            <date-picker ng-change="vm.updateDate();" ng-model="vm.filter.endDate"></date-picker>
        </span>
    </div>

    <div class="cell four top5">
        <!-- export csv/pdf -->
        <export-form display-pdf="true"
                     display-csv="true"
                     is-disabled="vm.events.all.length == 0"
                     on-submit="vm.export"
                     lightbox-preference="'PRESENCE_EXPORT_EVENTS_DISPLAY_POPUP'">
        </export-form>
    </div>
</div>

<!-- Event Type Filter -->
<div class="register registry-eventTypeFilter">

    <div class="cell six vertical-spacing-twice">
        <i class="filter cell" ng-click="vm.lightbox.filter = true">&nbsp;</i>
        <!-- Display selected slots -->
        <div class="cell" ng-show="vm.filter.timeslots.start.startHour && vm.filter.timeslots.end.endHour">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                [[vm.filter.timeslots.start.startHour]]
                &nbsp;-&nbsp;
                [[vm.filter.timeslots.end.endHour]]
            </div>
        </div>
        <!-- Display selected events -->
        <div class="cell" ng-show="vm.filter.absences">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n>presences.absence.absences</i18n>
            </div>
        </div>
        <div class="cell" ng-show="vm.filter.late">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n>presences.absence.lateness</i18n>
            </div>
        </div>
        <div class="cell" ng-show="vm.filter.departure">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n>presences.register.event_type.departure</i18n>
            </div>
        </div>
        <!-- Display selected states -->
        <div class="cell" ng-show="vm.filter.noReasons">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n>presences.absence.unjustified</i18n>
            </div>
        </div>
        <div class="cell" ng-show="vm.filter.notRegularized">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n>presences.absence.types.justified.not.regularized</i18n>
            </div>
        </div>
        <div class="cell" ng-show="vm.filter.regularized">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n ng-show="vm.filter.regularized">presences.absence.types.justified.regularized</i18n>
            </div>
        </div>
        <div class="cell" ng-show="vm.filter.followed">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n ng-show="vm.filter.followed">presences.absence.types.followed</i18n>
            </div>
        </div>
        <div class="cell" ng-show="vm.filter.notFollowed">
            <div class="card horizontal-margin-small horizontal-spacing margin-bottom-md">
                <i18n ng-show="vm.filter.notFollowed">presences.absence.types.not.followed</i18n>
            </div>
        </div>
    </div>

    <!-- EVENT LEGENDS -->
    <div class="events-legend-event-list">
        <events-legend absence-no-reason="true" absence-not-regularized="true" absence-regularized="true" absence-followed="true"
                       lateness="true" departure="true">
        </events-legend>
    </div>
</div>

<events-filter-form display="vm.lightbox.filter"
                    filter="vm.filter"
                    absences-only="false">
</events-filter-form>

<lightbox class="actionLightbox" show="vm.lightbox.action" on-close="vm.lightbox.action = false">
    <div ng-include="'/presences/public/template/events/header_actions.html'"></div>
</lightbox>