<lightbox class="sniplet presences sniplet-presence-form sniplet-form-lightbox"
          show="vm.editIncidentsManageLightbox"
          on-close="vm.closeIncidentsManageLightbox()">

    <!-- Header -->
    <section class="sniplet-form-lightbox-head head">
        <h3>
            [[lang.translate(vm.header)]]
        </h3>
    </section>

    <!-- Body -->
    <section class="sniplet-form-lightbox-body body lightbox-form">

        <!-- Warning -->
        <span class="sniplet-form-lightbox-body-warning">
           [[lang.translate(vm.description)]]
        </span>

        <!-- Input -->
        <div class="cell ten search-input sniplet-form-lightbox-body-input">
            <input type="text" data-ng-model="vm.form.label" class="twelve cell">
        </div>

        <!-- Color mode if sniplet is on seriousness -->
        <div ng-if="vm.seriousnessMode " class="sniplet-form-lightbox-body-color">
            <label>
                <i18n>incident.seriousness.form.input.color</i18n>
            </label>

            <!-- list color -->
            <ul>
                <li class="seriousness-form-[[i]]"
                    ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"
                    ng-class="{active: vm.form.level === i}"
                    data-ng-click="vm.chooseLevel(i)">&nbsp;</li>
            </ul>
        </div>

    </section>

    <!-- Footer -->
    <section class="sniplet-form-lightbox-footer">
        <!-- Button/submit -->
        <div class="sniplet-form-lightbox-footer-button row">

            <!-- Submit mode -->
            <button class="right-magnet" data-ng-click="vm.updateIncidentsManageLightbox()" data-ng-disabled="!vm.form.label">
                <i18n>edit</i18n>
            </button>

            <!-- Cancel mode  -->
            <button class="right-magnet cancel" data-ng-click="vm.closeIncidentsManageLightbox()">
                <i18n>evaluations.devoir.annuler</i18n>
            </button>
        </div>
    </section>

</lightbox>
