<div class="ten sniplet presences sniplet-presence-form">
    <div class="sniplet-form">

        <!-- header -->
        <div class="sniplet-header">
            <span class="sniplet-header-icon"><i class="events" aria-hidden="true"></i></span>
            <h3 class="sniplet-header-title">
                <i18n>incident.place.title</i18n>
            </h3>
        </div>

        <!-- Form input -->
        <div class="sniplet-input">

            <!-- Title -->
            <label class="sniplet-input-title">
                <i18n>incident.place.form.input</i18n>
            </label>

            <!-- Form -->
            <div class="incident-sniplet-form">
                <!-- Input -->
                <div class="cell four search-input sniplet-input-form">
                    <input type="text" data-ng-model="vm.form.label" class="twelve cell" i18n-placeholder="incident.place.form.input.placeholder">
                </div>

                <!-- Submit -->
                <button data-ng-click="vm.create()" data-ng-disabled="!vm.form.label">
                    <i18n>add</i18n>
                </button>
            </div>
        </div>

        <!-- Lists -->
        <div class="sniplet-addList">
            <div class="sniplet-addList-content" ng-if="vm.hasPlaces()">
                <i18n>incident.place.lists</i18n>
                <ul class="sniplet-addList-content-list">
                    <li class="sniplet-addList-content-list-item"
                        ng-repeat="place in vm.places | orderBy:'id'">

                        <div class="sniplet-addList-content-list-item-title">
                            <label class="sniplet-addList-content-list-item-title-label">[[place.label]]</label>
                            <i class="presence-edit" data-ng-click="vm.openIncidentsManageLightbox(place)"></i>
                        </div>

                        <div class="sniplet-addList-content-list-item-icons">
                            <i class="visible" data-ng-show="place.used && !place.hidden"
                               data-ng-click="vm.toggleVisibility(place)"></i>
                            <i class="hidden" data-ng-show="place.hidden && place.used"
                               data-ng-click="vm.toggleVisibility(place)"></i>
                            <i class="delete" data-ng-show="!place.used"
                               data-ng-click="vm.delete(place)"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>