<div class="ten sniplet presences sniplet-presence-form">
    <div class="sniplet-form">

        <!-- header -->
        <div class="sniplet-header">
            <span class="sniplet-header-icon"><i class="events" aria-hidden="true"></i></span>
            <h3 class="sniplet-header-title">
                <i18n>incident.type.title</i18n>
            </h3>
        </div>

        <!-- Form input -->
        <div class="sniplet-input">

            <!-- Title -->
            <label class="sniplet-input-title">
                <i18n>incident.type.form.input</i18n>
            </label>

            <!-- Form -->
            <div class="incident-sniplet-form">
                <!-- Input -->
                <div class="cell four search-input sniplet-input-form">
                    <input type="text" data-ng-model="vm.form.label" class="twelve cell" i18n-placeholder="incident.type.form.input.placeholder">
                </div>

                <!-- Submit -->
                <button data-ng-click="vm.createIncidentType()" data-ng-disabled="!vm.isFormValid(vm.form)">
                    <i18n>add</i18n>
                </button>
            </div>
        </div>

        <!-- Lists -->
        <div class="sniplet-addList">
            <div class="sniplet-addList-content" ng-if="vm.hasIncidentsType()">
                <i18n>incident.type.lists</i18n>
                <ul class="sniplet-addList-content-list">
                    <li class="sniplet-addList-content-list-item"
                        ng-repeat="incidentType in vm.incidentsType | orderBy:'id'">

                        <div class="sniplet-addList-content-list-item-title">
                            <label class="sniplet-addList-content-list-item-title-label">[[incidentType.label]]</label>
                            <i class="presence-edit" data-ng-click="vm.openIncidentsManageLightbox(incidentType)"></i>
                        </div>

                        <div class="sniplet-addList-content-list-item-icons">
                            <i class="visible" data-ng-show="incidentType.used && !incidentType.hidden"
                               data-ng-click="vm.toggleVisibility(incidentType)"></i>
                            <i class="invisible" data-ng-show="incidentType.hidden && incidentType.used"
                               data-ng-click="vm.toggleVisibility(incidentType)"></i>
                            <i class="delete" data-ng-show="!incidentType.used"
                               data-ng-click="vm.deleteIncidentType(incidentType)"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>