<div class="ten sniplet presences sniplet-presence-form">
    <div class="sniplet-form">

        <!-- header -->
        <div class="sniplet-header">
            <span class="sniplet-header-icon"><i class="events" aria-hidden="true"></i></span>
            <h3 class="sniplet-header-title">
                <i18n>incident.seriousness.title</i18n>
            </h3>
        </div>

        <!-- Input -->
        <div class="sniplet-input">
            <label class="sniplet-input-title">
                <i18n>incident.seriousness.form.input</i18n>
            </label>
            <div class="cell four search-input sniplet-input-form">
                <input type="text" data-ng-model="vm.form.label" class="twelve cell"
                       i18n-placeholder="incident.seriousness.form.input.placeholder">
            </div>
        </div>

        <!-- Color level form -->
        <div class="sniplet-input">
            <label class="sniplet-input-title">
                <i18n>incident.seriousness.form.input.color</i18n>
            </label>

            <!-- list color -->
            <ul class="sniplet-input-color">
                <li class="seriousness-form-[[i]]"
                    ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"
                    ng-class="{active: vm.seriousnessLevel === i}"
                    data-ng-click="vm.chooseLevel(i)">&nbsp;</li>
            </ul>
        </div>

        <!-- Lists -->
        <div class="sniplet-addList">

            <button data-ng-click="vm.create()" data-ng-disabled="!vm.form.label">
                <i18n>add</i18n>
            </button>

            <div class="sniplet-addList-content" ng-if="vm.hasSeriousnesses()">
                <i18n>incident.seriousness.lists</i18n>
                <ul class="sniplet-addList-content-list">
                    <li class="sniplet-addList-content-list-item"
                        ng-repeat="seriousness in vm.seriousnesses | orderBy:'id'">

                        <div class="sniplet-addList-content-list-item-title">
                            <label class="sniplet-addList-content-list-item-title-label">[[seriousness.label]]</label>
                            <span class="sniplet-addList-content-list-item-title-color seriousness-form-[[seriousness.level]]">&nbsp;</span>
                            <i class="presence-edit" data-ng-click="vm.openIncidentsManageLightbox(seriousness)"></i>
                        </div>

                        <div class="sniplet-addList-content-list-item-icons">
                            <i class="visible" data-ng-show="!seriousness.hidden"
                               data-ng-click="vm.toggleVisibility(seriousness)"></i>
                            <i class="hidden" data-ng-show="seriousness.hidden && seriousness.used"
                               data-ng-click="vm.toggleVisibility(seriousness)"></i>
                            <i class="delete" data-ng-show="seriousness.hidden && !seriousness.used"
                               data-ng-click="vm.delete(seriousness)"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>