<div class="calendar" ng-controller="CalendarController as vm">
    <script>
        window.entcore.calendar.dayHeight = 47;
    </script>
    <h1>
        <i18n>presences.event.calendar.title</i18n>
    </h1>
    <div class="row search-toolbar">
        <div class="cell four search-input">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.filter.search.item"
                                ng-change="vm.selectItem"
                                on-search="vm.searchItem"
                                options="vm.filter.search.items"
                                placeholder="presences.dashboard.search.placeholder"
                                search="vm.filter.search.item"></async-autocomplete>
        </div>
        <div class="cell eight">
            <div class="right-magnet">
                <span class="horizontal-margin">
                    <i18n>presences.input</i18n> :
                </span>
                <sniplet workflow="presences.createEvent" template="absence-form" application="presences"></sniplet>
                <sniplet template="exemption-form" application="presences"></sniplet>
                <sniplet template="incident-form" application="incidents"></sniplet>
                <sniplet template="punishment-form" application="incidents"></sniplet>
                <sniplet template="forgotten-notebook-form" application="presences"></sniplet>
            </div>
        </div>
    </div>
    <div ng-include="'/presences/public/template/calendar/user-card.html'"></div>
    <div class="calendar-container row">
        <!--        item-tooltip-template="calendar/course-tooltip"-->
        <calendar enable-display-modes="true"
                  readonly="false"
                  display-template="calendar/course-item"
                  items="vm.courses.list"
                  slots="vm.slots.list"
                  show-quarter-hours="true"
                  show-next-previous-button="true"/>
        <loader ng-show="vm.show.loader" title="lang.translate('presences.register.loading.text')"/>
    </div>

    <!-- exemption hovered card -->
    <div id="exemption-hover">
        <div>
            <div>
                <i18n>presences.exemption</i18n>
            </div>
            <div class="lowercase">
                <i18n>presences.from</i18n>
                [[vm.formatExemptionDate(vm.show.exemption.start_date)]]
            </div>
            <div class="lowercase">
                <i18n>presences.to</i18n>
                [[vm.formatExemptionDate(vm.show.exemption.end_date)]]
            </div>
        </div>
        <div style="padding: 0 5px 0 10px;" class="exemptions">
            <i ng-show="!vm.show.exemption.attendance" class="account-outline"></i>
            <i ng-show="vm.show.exemption.attendance" class="account"></i>
        </div>
    </div>

    <!-- presence hovered card -->
    <div id="presences-hover">
        <div>
            <div>
                <i18n>presence.title</i18n>
            </div>
            <span class="font-bold">[[vm.show.presences.displayName]]</span>
            <span class="lowercase">
                [[vm.formatPresenceDate(vm.show.presences.startDate)]] -
                [[vm.formatPresenceDate(vm.show.presences.endDate)]]
            </span>
        </div>
    </div>

    <!-- event absence hovered card -->
    <div id="event-absence-hover">
        <div>
            <div>
                <i18n>presences.register.event_type.absences</i18n>
            </div>
            <span>
                <i18n class="font-bold">presences.absence.reason</i18n>&nbsp;&#58;&nbsp;
                <span class="lowercase">[[vm.reasonsMap.get(vm.show.event.reason_id).label]]</span>
            </span>
        </div>
    </div>


</div>