<div class="dashboard" ng-controller="DashboardController as vm">
    <div class="row presences-title">
        <div>
            <img src="/presences/public/img/uni-presence.svg" alt="Présences">
        </div>
        <h1 class="horizontal-spacing-twice">
            <i18n>presences.title</i18n>
        </h1>
        <div class="structure">
            [[structure.name]]
        </div>
    </div>
    <div class="dashboard-search-row">
        <div class="six centered">
            <async-autocomplete ng-disabled="false"
                                ng-model="vm.filter.student"
                                ng-change="vm.selectStudent"
                                on-search="vm.searchStudent"
                                options="vm.filter.students"
                                placeholder="presences.exemptions.search.student"
                                search="vm.filter.student"></async-autocomplete>
        </div>
    </div>
</div>