<div class="dashboard-student dashboard" data-ng-controller="DashboardStudentController as vm">

    <loader data-ng-show="vm.isLoading"
            min-height="'250px'"></loader>

    <div class="empty-state flex-inline twelve top-spacing-25vh justify-center"
         ng-if="!vm.isLoading && !vm.hasInitializedStructure() && vm.isChildrenEmpty">
        <div class="tick-color red">&nbsp;</div>
        <div class="empty-title">
            <i18n>presences.init.state.warning.noChildren</i18n>
        </div>
        <div class="tick-color purple">&nbsp;</div>
    </div>

    <div class="empty-state flex-inline twelve top-spacing-25vh justify-center"
         ng-if="!vm.isLoading && !vm.hasInitializedStructure() && !vm.isChildrenEmpty">
        <div class="tick-color red">&nbsp;</div>
        <div class="empty-title">
            <i18n>presences.init.state.warning</i18n>
        </div>
        <div class="tick-color purple">&nbsp;</div>
    </div>

    <presences-nav-bar data-ng-if="!vm.isLoading && vm.isRelative() && vm.hasInitializedStructure()"
                       routing-keys="vm.routing"
                       mobile-mode="true">
    </presences-nav-bar>

    <div class="presences-flex" data-ng-show="!vm.isLoading && vm.hasInitializedStructure()">
        <div class="dashboard-student-main margin-right-lg" data-ng-show="vm.isCurrentMobileRoute(vm.routing[0])">
            <!-- content dashboard inside -->
            <div ng-include="'/presences/public/template/dashboard/dashboard-student/header.html'"></div>

            <!-- content dashboard inside -->
            <div ng-include="'/presences/public/template/dashboard/dashboard-student/content.html'"></div>
        </div>

        <!-- form via relative -->
        <statements-absence-form data-ng-show="vm.isRelative() && vm.isCurrentMobileRoute(vm.routing[1])"
                                 class="dashboard-student-statementAbsence"
                                 timeslots="vm.structureTimeSlot"
                                 student="vm.filter.selectedChildren">
        </statements-absence-form>
    </div>

</div>
