/* ----------------------------
    Colors
---------------------------- */
$white: #fff;
$whitesmoke: #F5F5F5;
$incident-light-grey: #f7f7f7;
$incident-select-color: #aaaaaa26;
$grey-light: #7a7a7a;
$grey: #929292;
$purple: #9c29b7;

/* ----------------------------
    Seriousness type colors
---------------------------- */
$dark-red: #b70f0a;
$deep-red: #e61610;
$severe-red: #ff3823;
$red: #fc2727;
$medium-red: #fc4f4f;
$light-red: #ff8a84;


/* ----------------------------
    Spacing
---------------------------- */
$select-size: 172px;
$space-collapsible-protagonist: 78px;
$spacing-XXL: 68px;
$spacing-XML: 60px;
$spacing-XM: 48px;
$spacing-XL: 42px;
$spacing-L: 24px;
$spacing-M: 16px;
$spacing-S: 12px;
$spacing-XLXS: 10px;
$spacing-LXS: 8px;
$spacing-XXS: 4px;