/* ----------------------------
    Colors
---------------------------- */
$white: #fff;
$whitesmoke: #F5F5F5;
$incident-grey: #FBFBFB;
$incidents-grey-average: #aaaaaa;
$incident-light-grey: #f7f7f7;
$incident-select-color: #aaaaaa26;
$orange: #FF8500;
$grey-light: #7a7a7a;
$grey: #929292;
$purple: #9c29b7;
$green: #98dfd6;
$deep-green: #46bfaf;
$yellow-main: #ffb600;
$yellow-sand: #d68227;
$incident-light-green: #98dfd6;


/* ----------------------------
    Seriousness type colors
---------------------------- */

$dark-red: #b70f0a;
$deep-red: #e61610;
$severe-red: #ff3823;
$red: #fc2727;
$medium-red: #fc4f4f;
$light-red: #ff8a84;

$level-one: #ffdad8;
$level-two: #ffb4ad;
$level-three: #ff8a84;
$level-four: #ff5d55;
$level-five: #ff3823;
$level-six: #e61610;
$level-seven: #b70f0a;
$level-height: #840705;


/* ----------------------------
    Spacing
---------------------------- */
$select-size: 172px;
$space-collapsible-protagonist: 78px;
$spacing-XXL: 68px;
$spacing-XML: 60px;
$spacing-XM: 48px;
$spacing-XL: 42px;
$spacing-L: 24px;
$spacing-M: 16px;
$spacing-S: 12px;
$spacing-XLXS: 10px;
$spacing-LXS: 8px;
$spacing-XXS: 4px;