/* content */
.incident-content {
  &-empty {
    text-align: center;

    &-description {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: $spacing-L;

      &-title {
        color: $grey;
        padding: 0 $spacing-S;
      }
    }

    img {
      width: 32%;
    }
  }

  &-table {
    &-body {
      &-row {
        display: none;
        background: $incident-grey;

        &:hover {
          background: $incident-light-grey !important;
        }

        &.open {
          display: table-row;
        }

        &-collapsible {
          display: flex;
          align-content: center;

          &-edit {
            cursor: pointer;
            align-self: center;
            text-align: center;
            flex: 0.04;
          }

          &-protagonist {
            flex: 0.61;
            padding-left: 0;

            li {
              list-style-type: none;

              &:hover {
                background: $incident-light-grey !important;
              }
            }
          }

          &-description {
            flex: 1;
          }
        }
      }

      &-seriousness {
        display: flex;
        align-items: center;

        &-label {
          flex: 0.9;
        }
      }

      &-treated {
        switch {
          .switch {
            float: none;

            input[type=checkbox]:checked + .tick {
              background: $green;
            }

            input[type=checkbox]:checked + .tick:before {
              background: $deep-green;
            }
          }
        }
      }
    }
  }

  &-bold {
    font-weight: bold;
  }
}