.flex-column {
  display: flex;
  flex-direction: column;
}

i {
  &.minus-sign {
    font-size: 30px;
  }

  &.plus-sign{
    font-size: 30px;
  }
}

.format-input {
  width: 60px;
  height: 30px;
  text-align: center;
  border-bottom: 1px solid $presences-grey-incident;
  border-bottom-width: thin;
  border-top: none;
  border-right: none;
  border-left: none;
}

.flex-center-input {
  display: flex;
  align-items: center;
}

.flex-center-text-input {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}