.sniplet-manage-punishment {
  .sniplet-flex {
    display: flex;
  }

  .sniplet-select-width {
    width: 300px;
  }

  .sniplet-input-margin {
    margin: 25px 0 30px;
  }

  .sniplet-punishment-margin-top-xlg {
    margin-top: 50px;
  }
}