i{
  &.home::before {
    content: "\e82b";
  }

  &.register::before {
    content: "\f0e6";
  }

  &.absence::before {
    content: "\f413";
  }

  &.presence:before {
    content: "\f5c7";
  }

  &.events:before {
    content: "\f005";
  }

  &.group-absence::before {
    content: "\e7fb";
  }

  &.permission::before {
    content: "\f02f";
  }

  &.incident::before {
    content: "\e903";
  }

  &.punishment::before {
    content: "\e862";
  }

  &.sanction::before {
    content: "\f29b";
  }

  &.mass-mailing::before {
    content: "\fab8";
  }

  &.testimony::before {
    content: "\f362";
  }

  &.group-absence::before {
    content: "\fb34";
  }
}