table {
  width: 100%;
  font-size: 15px;
  text-align: left;
  .text-center {text-align: center;}
  thead tr {
    background: $presences-white;
    -webkit-box-shadow: 0px 1px 1px #eeeded;
    -moz-box-shadow: 0px 1px 1px #eeeded;
    box-shadow: 0px 10px 10px #eeeded;
    th {
      color: $presences-grey;
      text-align: center;
      font-weight: normal;
      font-size: 17px;
    }
  }
  tbody tr {
    th {
      padding: 15px 20px;
      font-weight: normal;
      font-size: 15px;
      &.uppercase {
        text-transform: uppercase;
      }
      &.highlight {
        color: $presences-white;;
        background: $presences-main;
      }

      &.playdown {
        padding: 5px 10px;
        font-size: 12px;
      }
      span.right {
          float: right;
      }
    }
  }
}