table {
  width: 100%;
  font-size: 15px;
  text-align: left;

  .text-center {
    text-align: center;
  }

  .padding-sm {
    padding: 5px;
  }

  thead tr {
    background: $presences-white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);

    th {
      color: $presences-grey;
      text-align: center;
      font-weight: normal;
      font-size: 17px;
    }
  }

  tbody tr {
    &:first-child {
      border-top: none;
    }

    th {
      padding: 5px 20px;
      font-weight: normal;
      font-size: 15px;

      &.uppercase {
        text-transform: uppercase;
      }

      &.highlight {
        color: $presences-white;;
        background: $presences-main;
      }

      &.playdown {
        padding: 5px 10px;
        font-size: 12px;
      }

      span.right {
        float: right;
      }
    }
  }
}