.dashboard-student {

  /**
   * Remove navbar spacing
   */
  margin-left: $navbar-width-removed;

  &-main {
    flex: 1;

    &-header {
      display: flex;
      align-items: center;

      &-title {
        display: flex;
      }

      h1 {
        margin: 0;
      }
    }
  }

  &-statementAbsence {
    width: 350px;
    @include mobile {
      width: stretch;
    }
  }

}