<div class="absences absences-widget height-100" ng-controller="AbsenceController as vm">
    <div class="widget-filters">
        <div class="row">
            <div class="cell six">
                <i18n>presences.from</i18n>
            </div>
            <div class="cell six">
                <i18n>presences.to</i18n>
            </div>
        </div>
        <div class="row">
            <div class="cell six">
                <span class="date-picker">
                    <date-picker ng-change="vm.load();" ng-model="vm.params.start"></date-picker>
                </span>
            </div>
            <div class="cell six">
                <span class="date-picker">
                    <date-picker ng-change="vm.load();" ng-model="vm.params.end"></date-picker>
                </span>
            </div>
        </div>
    </div>
    <div class="search-field">
        <div class="twelve search-input">
            <async-autocomplete data-ng-disabled="false"
                                data-ng-model="vm.params.search"
                                data-ng-change="vm.selectStudentOrGroup"
                                data-on-search="vm.searchStudentOrGroup"
                                data-options="vm.searchResults"
                                data-placeholder="presences.exemptions.search.student.group"
                                data-search="vm.params.search">
            </async-autocomplete>
        </div>
        <div class="cell twelve absence-widget-student-list">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="group in vm.params.groups">
                    [[group.toString()]] <i class="close"
                                              data-ng-click="vm.removeGroup(group)"></i>
                </li>
                <li ng-repeat="student in vm.params.students">
                    [[student.toString()]] <i class="close"
                                              data-ng-click="vm.removeStudent(student)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="absence-list" ng-show="vm.absences.length > 0">
        <div ng-repeat="absence in vm.absences | orderBy:['student.name', 'start_date']" class="event">
            <div>
                <div>
                    <div>[[absence.student.name]]</div>
                    <div><em class="metadata">[[absence.student.className]]</em></div>
                </div>
                <div>
                    <select data-ng-model="absence.reason_id"
                            data-ng-change="vm.updateReasonAbsenceEvent(absence); vm.setAbsenceRegularisation(absence)"
                            ng-options="reason.id as reason.label for reason in vm.reasons"
                            options-disabled="reason.hidden for reason in vm.reasons">
                        <option value="" label="[[lang.translate('presences.absence.select.empty')]]">
                            [[lang.translate('presences.absence.select.empty')]]
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <em class="metadata">
                    [[vm.showAbsenceRange(absence)]]
                </em>
                <div ng-style="{opacity: event.reason.id !== null && !vm.provingReasonsMap[event.reason.id] ? 1 : 0}">
                    <i18n>presences.widgets.absences.regularized</i18n>
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="absence.counsellor_regularisation"
                               ng-disabled="!(absence.reason_id !== null && !vm.provingReasonsMap[absence.reason_id])"
                               data-ng-change="vm.updateRegularisationAbsenceEvent(absence); vm.regularizeAbsence(absence)">
                        <span ng-style="{cursor: absence.reason_id !== null && !vm.provingReasonsMap[absence.reason_id] ? 'pointer' : 'default'}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="absence-list empty" ng-show="vm.absences.length === 0">
        <div class="tick-color red">&nbsp;</div>
        <div class="empty-title">
            <i18n>presences.widgets.absences.empty</i18n>
        </div>
        <div class="tick-color purple">&nbsp;</div>
    </div>
</div>