<div class="widget-alerts">
    <div class="ten centered grid">
        <div class="widget-alert absences">
            <div class="value">En cours</div>
            <div class="subtitle">
                <i18n>presences.widgets.alerts.absences</i18n>
            </div>
        </div>
        <div class="widget-alert lateness">
            <div class="value">de</div>
            <div class="subtitle">
                <i18n>presences.widgets.alerts.lateness</i18n>
            </div>
        </div>
        <div class="widget-alert incidents">
            <div class="value">dévelop-</div>
            <div class="subtitle">
                <i18n>presences.widgets.alerts.incidents</i18n>
            </div>
        </div>
        <div class="widget-alert textbooks">
            <div class="value">-pement</div>
            <div class="subtitle">
                <i18n>presences.widgets.alerts.textbooks</i18n>
            </div>
        </div>
    </div>
</div>