<div class="presences-widget registers" ng-controller="PresencesController as vm">
    <h2>
        <i18n>presences.widgets.day_presences</i18n>
    </h2>
    <div class="presences-cards row card-slider">
        <div class="card cell" ng-repeat="presence in vm.presences.all" data-ng-click="vm.openPresence(presence)">
            <div class="row hour">[[::vm.formatHour(presence.startDate)]] -
                [[::vm.formatHour(presence.endDate)]]
            </div>
            <div class="row classes ellipsis">
                <span>[[::presence.discipline.label]]</span>
            </div>

            <!-- several students -->
            <span class="row subject" data-ng-show="presence.markedStudents.length > 1">
                [[::presence.markedStudents.length]] <i18n>presences.students</i18n>
            </span>

            <!-- only one student -->
            <span class="row subject" data-ng-show="presence.markedStudents.length === 1">
                [[::presence.markedStudents.length]] <i18n>presences.student</i18n>
            </span>
        </div>
    </div>
    <sniplet workflow="presences.createPresences" template="presence-form" application="presences"></sniplet>
</div>