<div class="statement-absence">

    <loader data-ng-show="vm.statementsAbsences.loading" min-height="'250px'"/>

    <div data-ng-show="!vm.statementsAbsences.loading">

        <!-- Empty state -->
        <div class="empty-content" data-ng-show="vm.statementsAbsences.statementAbsenceResponse.all.length === 0">
            <div class="five description">
                <span class="red-bar bar"></span>
                <i18n>incidents.punishments.empty.state</i18n>
                <span class="yellow-bar bar"></span>
            </div>
            <img data-ng-src="/incidents/public/img/girl-book.svg" class="four" alt="">
        </div>

        <!-- board/content -->
        <div ng-include="'/presences/public/template/statements-absences/board.html'" class="vertical-spacing"
             data-ng-show="vm.statementsAbsences.statementAbsenceResponse.all &&
             vm.statementsAbsences.statementAbsenceResponse.all.length > 0"></div>

        <!-- pagination punishment/sanction list -->
        <pagination data-page-count="vm.statementsAbsences.statementAbsenceResponse.page_count"
                    data-page-number="vm.statementsAbsences.statementAbsenceResponse.page"
                    data-ng-click="vm.changePagination()"
                    class="vertical-spacing pagination">
        </pagination>
    </div>

</div>