<div class="massmailing-card">
    <!-- title section -->
    <section class="massmailing-card-header">
       <span class="massmailing-card-header-title">
           [[lang.translate(vm.getMailingTypeText(vm.selectedMailing))]]&nbsp;[[vm.selectedMailing.recipient.info]]
       </span>
    </section>

    <!-- body section -->
    <section class="massmailing-card-body">
        <span class="massmailing-card-body-descriptionHTML" ng-bind-html="vm.selectedMailing.content"></span>
    </section>
</div>