<div class="card vertical-spacing" id="memento-absence-sniplet">
    <div class="disabled" ng-show="vm.disabled">
        <h4>
            <i18n>presences.memento.widget.unavailable</i18n>
        </h4>
    </div>
    <div class="section-title">
        <i18n>presences.memento.absence.title</i18n>
    </div>
    <div class="content">
        <div>
            <div class="centered eleven vertical-spacing-four">
                <div class="row vertical-spacing-four absence-rate">
                    <i18n>presences.memento.absence.absence_rate</i18n>
                    : [[vm.graphSummary.absence_rate]] %
                </div>
                <div class="row vertical-spacing-four">
                    <select ng-options="period as period.label for period in vm.periods" ng-change="vm.loadPeriodData()"
                            ng-model="vm.selected.period"></select>
                </div>
                <div class="summary flex">
                    <div class="UNJUSTIFIED">
                        <div class="centered-text">
                            <div ng-bind="vm.summary.UNJUSTIFIED" class="number"></div>
                            <div>
                                <i18n>presences.memento.absence.type.UNJUSTIFIED</i18n>
                            </div>
                        </div>
                    </div>
                    <div class="JUSTIFIED">
                        <div class="centered-text">
                            <div ng-bind="vm.summary.JUSTIFIED" class="number"></div>
                            <div>
                                <i18n>presences.memento.absence.type.JUSTIFIED</i18n>
                            </div>
                        </div>
                    </div>
                    <div class="LATENESS">
                        <div class="centered-text">
                            <div ng-bind="vm.summary.LATENESS" class="number"></div>
                            <div>
                                <i18n>presences.memento.absence.type.LATENESS</i18n>
                            </div>
                        </div>
                    </div>
                    <div class="DEPARTURE">
                        <div class="centered-text">
                            <div ng-bind="vm.summary.DEPARTURE" class="number"></div>
                            <div>
                                <i18n>presences.memento.absence.type.DEPARTURE</i18n>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="absence-chart" class="eleven centered"></div>
        </div>
    </div>
</div>