<!--  mail codes content -->
<div class="content">

    <!-- Codes for absences -->
    <div class="sniplet-input-title font-bold">
        <i18n>massmailing.codes.for.absences</i18n>&#58;
    </div>

    <!-- Student name [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailName"
                  data-ng-click="vm.copyCode('codeMailName', 'tooltipMailName')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailName')">
                <i18n>massmailing.codes.child.name</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailName" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>&#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.students.name.label</i18n>
    </div>

    <!-- Class name [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailClass"
                  data-ng-click="vm.copyCode('codeMailClass', 'tooltipMailClass')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailClass')">
                <i18n>massmailing.codes.class.name</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailClass" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.class.label</i18n>
    </div>

    <!-- Absence number [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailAbsence"
                  data-ng-click="vm.copyCode('codeMailAbsence', 'tooltipMailAbsence')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailAbsence')">
                <i18n>massmailing.codes.absence.number</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailAbsence" class="tooltiptext tooltipDoubleLine"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.absences.number.label</i18n>
    </div>

    <!-- lateness number [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailLateness"
                  data-ng-click="vm.copyCode('codeMailLateness', 'tooltipMailLateness')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailLateness')">
                <i18n>massmailing.codes.lateness.number</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailLateness" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.lateness.number.label</i18n>
    </div>

    <!-- Summary events [CODE] -->
    <div class="margin-bottom-lg">
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailSummary"
                  data-ng-click="vm.copyCode('codeMailSummary', 'tooltipMailSummary')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailSummary')">
                <i18n>massmailing.codes.summary</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailSummary" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.summary.label</i18n>
    </div>

    <!-- Codes for mailing info -->
    <div class="sniplet-input-title font-bold">
        <i18n>massmailing.codes.mail.info</i18n>&#58;
    </div>

    <!-- Today's date [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codeDate"
                  data-ng-click="vm.copyCode('codeDate', 'tooltipDate')"
                  data-ng-mouseleave="vm.outCopy('tooltipDate')">
                <i18n>massmailing.codes.today.date</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipDate" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.today.date.label</i18n>
    </div>

    <!-- Legal responsible address [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codeAddress"
                  data-ng-click="vm.copyCode('codeAddress', 'tooltipAddress')"
                  data-ng-mouseleave="vm.outCopy('tooltipAddress')">
                <i18n>massmailing.codes.address.legal.responsible</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipAddress" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.address.legal.responsible.label</i18n>
    </div>

    <!-- Legal responsible zipcode-city [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codeZipCity"
                  data-ng-click="vm.copyCode('codeZipCity', 'tooltipZipCity')"
                  data-ng-mouseleave="vm.outCopy('tooltipZipCity')">
                <i18n>massmailing.codes.zipcode.city.legal.responsible</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipZipCity" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.zipcode.city.legal.responsible.label</i18n>
    </div>

    <!-- Legal responsible name [CODE] -->
    <div class="margin-bottom-lg">
        <div class="codeMassmailing">
            <!-- PDF : code -->
            <span id="codeResponsibleName"
                  data-ng-click="vm.copyCode('codeResponsibleName', 'tooltipResponsibleName')"
                  data-ng-mouseleave="vm.outCopy('tooltipResponsibleName')">
                <i18n>massmailing.codes.legal.name</i18n>
            </span>
            <!-- PDF : tooltip feedback copy -->
            <span id="tooltipResponsibleName" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- PDF : code description -->
        <i18n>massmailing.codes.legal.name.label</i18n>
    </div>

    <!-- Codes for unique punishment/sanction -->
    <div class="sniplet-input-title font-bold">
        <i18n>massmailing.codes.unique.punishment.sanction</i18n>&#58;
    </div>

    <!-- punishment type [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailPunitionType"
                  data-ng-click="vm.copyCode('codeMailPunitionType', 'tooltipMailPunitionType')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailPunitionType')">
                <i18n>massmailing.codes.punishment.type</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailPunitionType" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.type.label</i18n>
    </div>

    <!-- Sanction type [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailSanctionType"
                  data-ng-click="vm.copyCode('codeMailSanctionType', 'tooltipMailSanctionType')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailSanctionType')">
                <i18n>massmailing.codes.sanction.type</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailSanctionType" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.sanction.type.label</i18n>
    </div>

    <!-- Responsible [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailResponsible"
                  data-ng-click="vm.copyCode('codeMailResponsible', 'tooltipMailResponsible')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailResponsible')">
                <i18n>massmailing.codes.punishment.responsible</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailResponsible" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.responsible.label</i18n>
    </div>

    <!-- Description punishment/sanction [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailDescriptionPunishment"
                  data-ng-click="vm.copyCode('codeMailDescriptionPunishment', 'tooltipMailDescriptionPunishment')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailDescriptionPunishment')">
                <i18n>massmailing.codes.punishment.description</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailDescriptionPunishment" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.description.label</i18n>
    </div>

    <!-- Date punishment/sanction [CODE] -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailDatePunishment"
                  data-ng-click="vm.copyCode('codeMailDatePunishment', 'tooltipMailDatePunishment')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailDatePunishment')">
                <i18n>massmailing.codes.punishment.date</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailDatePunishment" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.date.label</i18n>
    </div>

    <!-- Punishment Day number [CODE] -->
    <div class="margin-bottom-lg">
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailPunishmentDayNumber"
                  data-ng-click="vm.copyCode('codeMailPunishmentDayNumber', 'tooltipMailPunishmentDayNumber')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailPunishmentDayNumber')">
                <i18n>massmailing.codes.punishment.day.number</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailPunishmentDayNumber" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.day.number.label</i18n>
    </div>

    <!-- Codes for multiples punishments/sanctions -->
    <div class="sniplet-input-title font-bold">
        <i18n>massmailing.codes.multiple.punishments.sanctions</i18n>&#58;
    </div>

    <!-- Punishment Summary -->
    <div>
        <div class="codeMassmailing">
            <!-- Mail : code -->
            <span id="codeMailSummaryPunishment"
                  data-ng-click="vm.copyCode('codeMailSummaryPunishment', 'tooltipMailSummaryPunishment')"
                  data-ng-mouseleave="vm.outCopy('tooltipMailSummaryPunishment')">
                <i18n>massmailing.codes.punishment.summary</i18n>
            </span>
            <!-- Mail : tooltip feedback copy -->
            <span id="tooltipMailSummaryPunishment" class="tooltiptext"> <i18n>massmailing.copy</i18n> </span>
        </div>
        &#58;
        <!-- Mail : code description -->
        <i18n>massmailing.codes.punishment.summary.label</i18n>
    </div>

</div>