#memento-incidents-sniplet {
  position: relative;

  .disabled {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
  }

  .text-align-center {
    text-align: center;
  }

  .background-yellow {
    background-color: $yellow-main;
  }

  .text-white {
    color: $white;
  }

  .min-height-60 {
    min-height: 60px !important;
  }

  .max-height-80 {
    max-height: 80px !important;
  }

  .overflow-y {
    overflow: auto;
    max-height: 200px;
  }

  .pagination-sniplet {
    > ul {
      float: none !important;
      text-align: right;
    }
  }

}