<div class="row">
    <!--Title-->
    <h1 class="cell paddingRight">
        <i18n>presences.alerts.title</i18n>
    </h1>

    <!-- Student search bar -->
    <div class="cell four paddingRight">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-change="vm.selectStudent()"
                                data-ng-disabled="false"
                                data-ng-model="vm.filter.student"
                                data-on-search="vm.searchStudent"
                                data-options="vm.filter.students"
                                data-placeholder="presences.exemptions.search.student"
                                data-search="vm.filter.student">
            </async-autocomplete>
        </div>

        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-click="vm.dropFilter(student, 'students')"
                    ng-repeat="student in vm.filter.selected.students">
                    [[student.displayName]]
                    <i class="close"></i>
                </li>
            </ul>
        </div>

    </div>

    <!-- Classes/Groups search bar -->
    <div class="cell four paddingLeft">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-change="vm.selectClass()"
                                data-ng-disabled="false"
                                data-ng-model="vm.filter.class"
                                data-on-search="vm.searchClass"
                                data-options="vm.filter.classes"
                                data-placeholder="presences.exemptions.search.audience"
                                data-search="vm.filter.class">
            </async-autocomplete>

        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <li ng-repeat="class in vm.filter.selected.classes">
                    [[class.name]]
                    <i class="close" ng-click="vm.dropFilter(class, 'classes')"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row top5">
    <!-- Reset / Switch -->
    <div>
        <button class="right-magnet" data-ng-click="vm.exportAlertCSV()">
            <i18n>presences.export.tocsv</i18n>
        </button>
        <sniplet application="incidents" template="punishment-form"></sniplet>
        <button class="right-magnet" data-ng-click="vm.reset()"
                ng-disabled="!vm.someSelectedAlert()">
            <i18n>presences.reset</i18n>
        </button>
    </div>

    <!-- Alert Type Filter -->
    <div class="display-flex flex-column">
        <div class="cell top5 margin-bottom-md">
            <i18n>presences.from</i18n>
            :
            <span class="card date-picker">
                <date-picker ng-change="vm.getStudentAlert();" ng-model="vm.filter.startDate"></date-picker>
            </span>
            <i18n>presences.to</i18n>
            :
            <span class="card date-picker">
                <date-picker ng-change="vm.getStudentAlert();" ng-model="vm.filter.endDate"></date-picker>
            </span>
        </div>
        <div class="chips cell margin-bottom-lg">
            <label class="chip" ng-class="{selected: vm.filter.types[filter]}"
                   ng-click="vm.switchFilter(filter)"
                   ng-repeat="filter in vm.filters"
            >
                <span class="no-style">[[lang.translate('presences.alerts.filter.' + filter)]]</span>
            </label>
        </div>
    </div>
</div>


<!-- Checkbox selectAll -->
<div class="row">
    <label class="checkbox">
        <input ng-change="vm.selectAll()" ng-model="vm.selection.all" type="checkbox">
        <span><i18n>presences.select.all</i18n></span>
    </label>
</div>