<div class="widget-alerts">
    <div class="twelve grid-block">
        <div class="widget-alert padding-10 card-alert position-alert-color [[alert.type]]"
             ng-repeat="alert in vm.listAlert"
             ng-init="alert.selected = false"
             ng-class="{selected: alert.selected}"
             ng-click="alert.selected = !alert.selected">
            <div class="twelve flex space-between">
                <div class="bold">[[alert.name]]</div>
                <div>[[alert.audience]]</div>
            </div>
            <div class="twelve flex margin-top-5 subtitle">
                <div class="margin-right-5">[[alert.count]]</div>
                <div>[[lang.translate('presences.alerts.type.' + alert.type)]]</div>
            </div>
        </div>
    </div>
</div>