<!-- board -->
<div class="punishment-board flex-table">
    <!-- Add 14 instead of 16 in order to hide incident -->
    <div class="flex-row punishment-board-title flex-head row__16">
        <div class="flex-col col__3 text-center">
            <i18n>presences.exemptions.student</i18n>
        </div>
        <div class="flex-col col__1 text-center">
            <i18n>presences.exemptions.audience</i18n>
        </div>
        <div class="flex-col col__2 text-center">
            <i18n>incidents.csv.header.type</i18n>
        </div>
        <div class="flex-col col__3 text-center">
            <i18n>incidents.csv.header.date</i18n>
        </div>
        <div class="flex-col col__2 text-center">
            <i18n>incidents.punishments.csv.header.slots</i18n>
        </div>
        <div class="flex-col col__2 text-center">
            <i18n>presences.responsible</i18n>
        </div>
        <!--        <div class="flex-col col__2 text-center">-->
        <!--            <i18n>incidents.linked</i18n>-->
        <!--        </div>-->
        <div class="flex-col col__2 text-center">
            <i18n>incidents.massmailed</i18n>
        </div>
        <div class="flex-col col__1 text-center">
            <i18n>incidents.done</i18n>
        </div>
    </div>

    <!-- list student -->
    <div class="flex-row" data-ng-show="vm.punishments.punishmentResponse.all.length > 0">
        <div class="flex-body" ng-repeat="punishment in vm.punishments.punishmentResponse.all track by $index"
             data-ng-click="vm.openPunishment(punishment)">
            <div class="flex-content">
                <!-- student info -->
                <!-- Add 14 instead of 16 in order to hide incident -->
                <div class="flex-row row__16">
                    <div class="flex-col col__1">
                        <!-- student picture -->
                        <img ng-src="/viescolaire/structures/[[punishment.structure_id]]/students/[[punishment.student.id]]/picture"
                             height="30" width="30">
                    </div>
                    <!-- student name -->
                    <div class="flex-col student student col__2">
                        <student-name data-ng-click="vm.stopPropagation($event)"
                                      name="punishment.student.name"
                                      id="punishment.student.id"></student-name>
                    </div>
                    <!-- student class -->
                    <div class="flex-col col__1">
                        <span>[[punishment.student.className]]</span>
                    </div>
                    <!-- type punishment -->
                    <div class="flex-col col__2 punishment-type-[[punishment.type.type.toLowerCase()]]">
                        <span>[[punishment.type.label]]</span>
                    </div>
                    <!-- date -->
                    <div class="flex-col col__3">
                        <span>[[vm.getPunishmentDate(punishment)]]</span>
                    </div>
                    <!-- heure -->
                    <div class="flex-col col__2">
                        <span>[[vm.getPunishmentTime(punishment)]]</span>
                    </div>
                    <!-- responsible -->
                    <div class="flex-col col__2">
                        <span>[[punishment.owner.displayName]]</span>
                    </div>
                    <!-- linked incidents -->
                    <!--                    <div class="flex-col col__2">-->

                    <!--                    </div>-->
                    <!-- massmailed -->
                    <div class="flex-col col__2">
                        
                    </div>
                    <!-- done  -->
                    <div class="flex-col col__1">
                        <switch ng-model="punishment.processed"
                                data-ng-click="vm.stopPropagation($event)"
                                ng-change="vm.updateProcessPunishment(punishment)">
                            <label class="switch"></label>
                        </switch>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>