<div class="calendar-user-card" ng-init="userCard = { 'show': false }" ng-class="{open: userCard.show}">
    <div class="calendar-user-card-container">
        <div class="user-cards">
            <div class="user-card">
                <img class="avatar" ng-src="[[ vm.getStudentPicture(vm.presences.structureId, vm.filter.student.id) ]]"
                     alt="">
                <div>
                    <h2 class="ng-binding">
                        <student-name name="vm.filter.student.displayName" id="vm.filter.student.id"></student-name>
                    </h2>
                </div>
            </div>
        </div>
        <div class="user-cards-student-list">
            <div class="user-cards-student-list-show-button" ng-click="userCard.show = !userCard.show">
                [[vm.filter.student.groupName]]
            </div>
        </div>
        <div class="list">
            <div class="student" ng-click="vm.reloadCalendarByStudent(student); userCard.show = false;"
                 ng-repeat="student in vm.filter.students"
                 ng-show="userCard.show">
                <img class="avatar" ng-src="[[vm.getStudentPicture(vm.presences.structureId, student.id)]]" alt="">
                <div>
                    [[student.displayName]]
                </div>
            </div>
        </div>
    </div>
</div>