<div class="card vertical-spacing margin-bottom-md" id="memento-incidents-sniplet">

    <div class="disabled" ng-show="vm.disabled">
        <h4>
            <i18n>incidents.memento.widget.unavailable</i18n>
        </h4>
    </div>

    <div class="incident-flex">
        <div class="section-title">
            <i18n>incidents.memento.punishment.sanction.title</i18n>
        </div>

        <!-- Filters -->
        <div class="incident-filters">
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.filter.incident" ng-change="vm.loadStudentYearIncidents()">
                <span><i18n><span>incidents.title</span></i18n></span>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.filter.punishment" ng-change="vm.loadStudentYearIncidents()">
                <span><i18n><span>incidents.punishments</span></i18n></span>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.filter.sanction" ng-change="vm.loadStudentYearIncidents()">
                <span><i18n><span>incidents.sanctions</span></i18n></span>
            </label>
        </div>
    </div>

    <div class="twelve empty-content" ng-show="vm.mementoIncidents.length === 0 && !vm.disabled">
        <div class="twelve description max-height-80">
            <span class="red-bar bar"></span>
            <i18n>incident.nothing.to.report</i18n>
            <span class="purple-bar bar"></span>
        </div>
    </div>

    <div class="content vertical-spacing" ng-show="vm.mementoIncidents.length > 0">
        <!-- header -->
        <div class="flex-table">
            <div class="flex-row flex-head row__15">
                <div class="flex-col col__3 text-center">
                    <i18n>incidents.csv.header.date</i18n>
                </div>
                <div class="flex-col col__3 text-center">
                    <i18n>presences.punishments.category.title</i18n>
                </div>
                <div class="flex-col col__3 text-center">
                    <i18n>incidents.type</i18n>
                </div>
                <div class="flex-col col__3 text-center">
                    <i18n>incidents.done</i18n>
                </div>
                <div class="flex-col col__3 text-center">
                    <i18n>incidents.link</i18n>
                </div>
            </div>

            <!-- content -->
            <div class="flex-row overflow-y">
                <div class="flex-body" ng-repeat="mementoIncident in vm.mementoIncidents">
                    <div class="flex-content">
                        <div class="flex-row row__15">
                            <!-- date -->
                            <div class="flex-col col__3 min-height-45">
                                <span>[[vm.formatDate(mementoIncident)]]</span>
                            </div>
                            <!-- category -->
                            <div class="flex-col col__3 min-height-45">
                                <span>[[vm.getCategory(mementoIncident.type, mementoIncident)]]</span>
                            </div>
                            <!-- type -->
                            <div class="flex-col col__3 min-height-45 background-yellow text-white">
                                <span>[[vm.getType(mementoIncident.type, mementoIncident)]]</span>
                            </div>
                            <!-- status -->
                            <div class="flex-col col__3 padding-lg">
                                <label ng-if="vm.isPunishment(mementoIncident.type)">
                                    <i ng-class="mementoIncident.item.processed ? 'check-circle' : 'absences'"></i>
                                </label>
                            </div>
                            <!-- link -->
                            <div class="flex-col col__3 padding-lg">
                                <label>
                                    <!-- ng-href only work to redirect to other page -->
                                    <a ng-href="[[vm.redirectTo(mementoIncident)]]">
                                        <!-- redirect in click only work to the same page (it's like refresh) -->
                                        <i class="open-in-new" data-ng-click="vm.refreshPage(mementoIncident)"></i>
                                    </a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <pagination data-page-count="vm.incidents.pageCount" data-page-number="vm.incidents.page"
                    class="pagination-sniplet">
        </pagination>
    </div>
</div>