<div class="card vertical-spacing" id="memento-incidents-sniplet">

    <div class="disabled" ng-show="vm.disabled">
        <h4>
            <i18n>incidents.memento.widget.unavailable</i18n>
        </h4>
    </div>

    <div class="section-title">
        <i18n>incidents.memento.punishment.sanction.title</i18n>
    </div>

    <div class="twelve empty-content" ng-show="vm.incidents.all.length === 0 && !vm.disabled">
        <div class="twelve description max-height-80">
            <span class="red-bar bar"></span>
            <i18n>incident.nothing.to.report</i18n>
            <span class="purple-bar bar"></span>
        </div>
    </div>

    <div class="content vertical-spacing" ng-show="vm.incidents.all.length > 0">
        <!-- header -->
        <div class="flex-table">
            <div class="flex-row flex-head row__15">
                <div class="flex-col col__2 text-center">
                    <i18n>incidents.csv.header.date</i18n>
                </div>
                <div class="flex-col col__2 text-center">
                    <i18n>incidents.csv.header.type</i18n>
                </div>
                <div class="flex-col col__8 text-center">
                    <i18n>incidents.informations</i18n>
                </div>
                <div class="flex-col col__3 text-center">
                    <i18n>incidents.done</i18n>
                </div>
            </div>

            <!-- content -->
            <div class="flex-row overflow-y">
                <div class="flex-body" ng-repeat="incident in vm.incidents.all track by $index">
                    <div class="flex-content">
                        <div class="flex-row row__15">
                            <!-- date -->
                            <div class="flex-col col__2 min-height-45">
                                <span>[[vm.formatIncident(incident.date)]]</span>
                            </div>
                            <!-- type -->
                            <div class="flex-col col__2 min-height-45 background-yellow text-white">
                                <span><i18n>incidents.incident</i18n></span>
                            </div>
                            <!-- information -->
                            <div class="flex-col col__8 min-height-45">
                                <span>[[incident.description]]</span>
                            </div>
                            <!-- status -->
                            <!-- display if punition / sanction -->
                            <!--                            <div class="flex-col col__3 padding-lg">-->
                            <!--                                <label class="switch">-->
                            <!--                                    <input type="checkbox" ng-model="" ng-change="" ng-disabled="ngDisabled">-->
                            <!--                                </label>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <pagination data-page-count="vm.incidents.pageCount" data-page-number="vm.incidents.page"
                    class="pagination-sniplet">
        </pagination>
    </div>
</div>