<section class="eventFormLightBox-body body lightbox-form">
    <!-- Info Date/reason -->
    <div class="eventFormLightBox-body-info row spacing">

        <!-- date -->
        <div class="twelve eventFormLightBox-body-timeslot-margin-bottom">
            <i18n class="margin-right-sm">presences.from</i18n>
            <span class="card date-picker margin-right-sm">
                <date-picker required ng-model="vm.form.startDate"
                             data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.START_HOUR)"></date-picker>
            </span>

            <span ng-show="vm.display.isFreeSchedule"
                  class="card incident-lightbox-body-dateAndPlace-date-content-timePicker
                        eventFormLightBox-body-info-endDate-datepicker">
                <time-picker required ng-model="vm.form.startDateTime"
                             data-ng-change="vm.hourInput(vm.timeSlotHourPeriod.START_HOUR)"></time-picker>
            </span>

            <label ng-show="!vm.display.isFreeSchedule"
                   class="eventFormLightBox-body-timeslot">
                <label class="timeslot-select">
                    <i class="time-picker"></i>
                    <select data-ng-model="vm.timeSlotTimePeriod.start"
                            data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.START_HOUR)"
                            ng-options="item.name + ' : ' + item.startHour for item in vm.structureTimeSlot.slots
                                    | orderBy:vm.timeSlotHourPeriod.START_HOUR">
                        <option value="">[[lang.translate('presences.pick.timeslot')]]</option>
                    </select>
                </label>
            </label>

            <i18n class="margin-right-sm">presences.to</i18n>
            <span class="card date-picker margin-right-sm">
                <date-picker required ng-model="vm.form.endDate"
                             data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.END_HOUR)"></date-picker>
            </span>

            <span ng-show="vm.display.isFreeSchedule"
                  class="card incident-lightbox-body-dateAndPlace-date-content-timePicker">
                <time-picker required ng-model="vm.form.endDateTime"
                             data-ng-change="vm.hourInput(vm.timeSlotHourPeriod.END_HOUR)"></time-picker>
            </span>

            <label ng-show="!vm.display.isFreeSchedule" class="eventFormLightBox-body-timeslot">
                <label class="timeslot-select">
                    <i class="time-picker"></i>
                    <select data-ng-model="vm.timeSlotTimePeriod.end"
                            data-ng-change="vm.selectTimeSlot(vm.timeSlotHourPeriod.END_HOUR)"
                            ng-options="item.name + ' : ' + item.endHour for item in vm.structureTimeSlot.slots
                                | orderBy:vm.timeSlotHourPeriod.END_HOUR">
                        <option value="">[[lang.translate('presences.pick.timeslot')]]</option>
                    </select>
                </label>
            </label>
        </div>

        <div class="presenceLightbox-body-info-choice">
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.display.isFreeSchedule"/>
                <span class="presenceLightbox-body-info-checkbox">
                    <i18n>incidents.choice.time.slot</i18n>
                </span>
            </label>
        </div>

        <!-- Reasons -->
        <div class="eventFormLightBox-body-info-reason margin-bottom-md table-reason">
            <label>
                <select data-ng-model="vm.form.reason_id"
                        data-ng-change="vm.selectReason()"
                        ng-options="reason.id as lang.translate(reason.label) disable when reason.hidden for reason in vm.getAbsenceReason()">
                    <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                </select>
            </label>
        </div>

        <!-- Regularisation and follow checkboxes -->
        <div class="presenceLightbox-body-info-choice">
            <label class="checkbox">
                <input type="checkbox"
                       data-ng-model="vm.form.counsellor_regularisation"
                       data-ng-change="vm.toUpdateRegularisation()"
                       data-ng-disabled="(vm.form.reason_id == null || !vm.canRegularize)"/>
                <span class="presenceLightbox-body-info-checkbox">
                    <i18n>presences.widgets.absences.regularized</i18n>
                </span>
            </label>


            <label class="checkbox follow-checkbox">
                <input type="checkbox"
                       data-ng-model="vm.form.followed"/>
                <span class="presenceLightbox-body-info-checkbox">
                    <i18n>presences.widgets.absences.followed</i18n>
                </span>
            </label>
        </div>
    </div>
</section>
