<!-- lightbox modal for filter massmailing -->

<!-- Header title -->
<section class="head massmailing-lightbox-header">
    <h3>
        <i18n>massmailing.filters</i18n>
    </h3>
</section>

<section class="massmailing-lightbox-body body lightbox-form">
    <div class="row vertical-spacing">
        <div class="cell six paddingRight">
            <div class="cell twelve search-input">
                <async-autocomplete ng-disabled="false"
                                    ng-model="vm.formFilter.studentsSearch.student"
                                    ng-change="vm.selectStudent"
                                    on-search="vm.searchStudent"
                                    options="vm.formFilter.studentsSearch.students"
                                    placeholder="massmailing.search.student"
                                    search="vm.formFilter.studentsSearch.student">
                </async-autocomplete>
            </div>
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="student in vm.formFilter.studentsSearch.getSelectedStudents()"
                        ng-click="vm.dropFilter(student, 'students')">
                        [[student.toString()]]
                        <i class="close"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell six paddingLeft">
            <div class="cell twelve search-input">
                <async-autocomplete ng-disabled="false"
                                    ng-model="vm.formFilter.groupsSearch.group"
                                    ng-change="vm.selectGroup"
                                    on-search="vm.searchGroup"
                                    options="vm.formFilter.groupsSearch.groups"
                                    placeholder="massmailing.search.group"
                                    search="vm.formFilter.groupsSearch.group">
                </async-autocomplete>
            </div>
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="group in vm.formFilter.groupsSearch.getSelectedGroups()"
                        ng-click="vm.dropFilter(group, 'groups')">
                        [[group.toString()]]
                        <i class="close"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- events type -->
    <div class="row vertical-spacing">
        <h4>
            <i18n>massmailing.filters.type</i18n>
        </h4>
        <div class="chips">
            <!-- filter no reason -->
            <div class="chip" ng-class="{ selected: vm.formFilter.status.NO_REASON }"
                 data-ng-click="vm.switchToAbsencesWithoutReason()">
                <i18n>massmailing.types.NO_REASON</i18n>
            </div>
            <!-- filter regularized absences -->
            <div class="chip" ng-class="{ selected: vm.formFilter.status.REGULARIZED }"
                 data-ng-click="vm.switchToRegularizedAbsences()">
                <i18n>massmailing.types.REGULARIZED</i18n>
            </div>
            <!-- filter unregularized absences -->
            <div class="chip" ng-class="{ selected: vm.formFilter.status.UNREGULARIZED }"
                 data-ng-click="vm.switchToUnregularizedAbsences()">
                <i18n>massmailing.types.UNREGULARIZED</i18n>
            </div>
            <!-- filter lateness -->
            <div class="chip" ng-class="{ selected: vm.formFilter.status.LATENESS }"
                 data-ng-click="vm.switchToLatenessReason()">
                <i18n>massmailing.types.LATENESS</i18n>
            </div>
            <!-- filter punishment -->
            <div class="chip" ng-class="{ selected: vm.formFilter.status.PUNISHMENT }"
                 data-ng-click="vm.togglePunishmentSanctionFormFilter('PUNISHMENT')">
                <i18n>massmailing.types.PUNISHMENT</i18n>
            </div>
            <!-- filter sanction -->
            <div class="chip" ng-class="{ selected: vm.formFilter.status.SANCTION }"
                 data-ng-click="vm.togglePunishmentSanctionFormFilter('SANCTION')">
                <i18n>massmailing.types.SANCTION</i18n>
            </div>
        </div>
    </div>

    <!-- massmailed or not filter -->
    <div class="row vertical-spacing">
        <h4>
            <i18n>massmailing.filters.massmailing</i18n>
        </h4>
        <div class="chips">
            <div class="chip" ng-class="{ selected: vm.formFilter.massmailing_status.mailed }"
                 data-ng-click="vm.formFilter.massmailing_status.mailed = !vm.formFilter.massmailing_status.mailed">
                <i18n>massmailing.massmailed.mailed</i18n>
            </div>
            <div class="chip" ng-class="{ selected: vm.formFilter.massmailing_status.waiting }"
                 data-ng-click="vm.formFilter.massmailing_status.waiting = !vm.formFilter.massmailing_status.waiting">
                <i18n>massmailing.massmailed.waiting</i18n>
            </div>
        </div>
    </div>

    <!-- reason absences list -->
    <div class="row vertical-spacing"
         ng-show="vm.formFilter.status.REGULARIZED || vm.formFilter.status.UNREGULARIZED">
        <h4 class="row">
            <i18n class="cell">massmailing.filters.reasons.absence</i18n>
            <div class="horizontal-spacing card cell horizontal-margin">
                [[vm.getActivatedAbsenceCount()]]/[[vm.getAbsenceCount()]]
            </div>
        </h4>
        <div class="chips">
            <div class="chip" ng-class="{selected: vm.formFilter.allAbsenceReasons}" data-ng-click="vm.switchAllAbsenceReasons()">
                <i18n>massmailing.all.none</i18n>
            </div>
            <div class="chip" ng-show="vm.formFilter.status.REGULARIZED || vm.formFilter.status.UNREGULARIZED"
                 ng-repeat="reason in vm.getAbsenceReasons() | orderBy:'label' track by $index"
                 ng-class="{ selected: vm.formFilter.reasons[reason.id]}"
                 data-ng-click="vm.formFilter.reasons[reason.id] = !vm.formFilter.reasons[reason.id]">
                <span class="no-style">[[reason.label]]</span>
            </div>
        </div>
    </div>

    <!-- reason lateness list -->
    <div class="row vertical-spacing"
         ng-show="vm.formFilter.status.LATENESS">
        <h4 class="row">
            <i18n class="cell">massmailing.filters.reasons.lateness</i18n>
            <div class="horizontal-spacing card cell horizontal-margin">
                [[vm.getActivatedLatenessCount()]]/[[vm.getLatenessCount()]]
            </div>
        </h4>
        <div class="chips">
            <div class="chip" ng-class="{selected: vm.formFilter.allLatenessReasons}" data-ng-click="vm.switchAllLatenessReasons()">
                <i18n>massmailing.all.none</i18n>
            </div>
            <div class="chip" ng-class="{selected: vm.formFilter.noLatenessReasons}"
                 data-ng-click="vm.switchNoLatenessReasons()">
                <i18n>massmailing.lateness.none</i18n>
            </div>
            <div class="chip" ng-show="vm.formFilter.status.LATENESS"
                 ng-repeat="reason in vm.getLatenessReasons() | orderBy:'label' track by $index"
                 ng-class="{ selected: vm.formFilter.reasons[reason.id]}"
                 data-ng-click="vm.formFilter.reasons[reason.id] = !vm.formFilter.reasons[reason.id]">
                <span class="no-style">[[reason.label]]</span>
            </div>
        </div>
    </div>

    <!-- punishment types list -->
    <div class="row vertical-spacing"
         ng-show="vm.formFilter.status.PUNISHMENT || vm.formFilter.status.SANCTION">
        <h4 class="row">
            <i18n class="cell">massmailing.filters.punishment.types</i18n>
            <div class="horizontal-spacing card cell horizontal-margin">
                [[vm.getActivatedPunishmentTypes()]]/[[vm.punishmentsTypes.length]]
            </div>
        </h4>
        <div class="chips">
            <div class="chip" ng-class="{selected: vm.formFilter.allPunishments}"
                 data-ng-click="vm.switchAllPunishmentTypes()">
                <i18n>massmailing.all.none</i18n>
            </div>
            <div class="chip" ng-show="vm.formFilter.status.PUNISHMENT || vm.formFilter.status.SANCTION"
                 ng-repeat="punishmentType in vm.punishmentsTypes | orderBy:'label' track by $index"
                 ng-class="{ selected: punishmentType.isSelected}"
                 data-ng-click="vm.setSelectedPunishmentType(punishmentType)">
                <span class="no-style">[[punishmentType.label]]</span>
            </div>
        </div>
    </div>

    <!-- start displaying -->
    <div class="row vertical-spacing">
        <h4>
            <i18n>massmailing.filters.display.from</i18n>
            <input type="number" ng-model="vm.formFilter.start_at">
            <i18n>massmailing.filter.display.absences.lateness</i18n>
        </h4>
    </div>
</section>

<!-- confirm form -->
<section class="massmailing-lightbox-footer">
    <div class="row horizontal-spacing">
        <div class="massmailing-lightbox-footer-submit twelve cell">
            <button class="right-magnet" ng-click="vm.validForm()">
                <i18n>massmailing.validate</i18n>
            </button>
            <button class="right-magnet cancel" ng-click="vm.lightbox.filter = false">
                <i18n>massmailing.cancel</i18n>
            </button>
        </div>
    </div>
</section>