<div ng-controller="HomeController as vm">
    <!--  Header -->
    <div class="row">
        <!--  Date picker filter -->
        <div class="date-filters cell">
            <span><i18n>massmailing.from</i18n></span>
            <span class="card date-picker">
            <date-picker ng-model="vm.filter.start_date"
                         ng-change="vm.fetchData()"></date-picker>
        </span>
            <span><i18n>massmailing.to</i18n></span>
            <span class="card date-picker">
            <date-picker ng-model="vm.filter.end_date"
                         ng-change="vm.fetchData()"></date-picker>
        </span>
        </div>

        <!--  Button send PDF | SMS | MAIL MODE -->
        <div class="right-magnet">
            <!--  SMS button send -->
            <button ng-disabled="!vm.canMassmail()" ng-click="vm.prefetch('SMS')" class="vertical-spacing-twice">
                <i18n>massmailing.massmail.sms</i18n>
            </button>

            <!--  MAIL button send -->
            <button ng-disabled="!vm.canMassmail()" ng-click="vm.prefetch('MAIL')" class="vertical-spacing-twice">
                <i18n>massmailing.massmail.mail</i18n>
            </button>

            <!--  PDF button send -->
            <button ng-disabled="!vm.canMassmail()" ng-click="vm.prefetch('PDF')" class="vertical-spacing-twice">
                <i18n>massmailing.massmail.pdf</i18n>
            </button>
        </div>
    </div>

    <!-- Filter content -->
    <div class="row vertical-spacing-twice">
        <!-- Icon to open filters lightbox (...filter.html) -->
        <i class="filter cell" ng-click="vm.openForm()">&nbsp;</i>
        <div class="cell" ng-repeat="(type, val) in vm.filter.status">
            <div class="card horizontal-margin-small horizontal-spacing" ng-if="vm.filter.status[type]">
                [[lang.translate('massmailing.types.' + type)]]
            </div>
        </div>

        <!--  filter cards to show what filter is activate  -->
        <div class="cell" ng-repeat="(massmailState, val) in vm.filter.massmailing_status">
            <div class="card horizontal-margin-small horizontal-spacing"
                 ng-if="vm.filter.massmailing_status[massmailState]">
                [[lang.translate('massmailing.massmailed.' + massmailState)]]
            </div>
        </div>
        <div class="cell">
            <div class="card horizontal-margin-small horizontal-spacing">
                ⩾ [[vm.filter.start_at]]
                <i18n>massmailing.filter.display.absences.lateness</i18n>
            </div>
        </div>
    </div>


    <!--  card content displaying stats of event -->
    <div class="grid horizontal-spacing-twice massmail-status row vertical-spacing-six massmailing-card-stats"
         ng-show="!vm.filterInError()">
        <div ng-repeat="(status, val) in vm.massmailingStatus" class="cell">
            <div class="card [[status]] massmailing-card-stats-item">
                <span class="value">[[val]]</span>
                <p class="subtitle">
                    [[lang.translate('massmailing.alerts.' + status + '.text')]]
                </p>
            </div>
        </div>
    </div>

    <!-- empty state of card content displaying stats of event -->
    <div class="empty horizontal-spacing-twice massmail-status row vertical-spacing-six" ng-show="vm.filterInError()">
        <div class="twelve empty-content">
            <div class="description">
                <span class="red-bar bar"></span>
                <div class="title">
                    <i18n>massmailing.filter.empty.no.filter</i18n>
                    <span class="red-text">[[vm.getErrorMessage()]]</span>
                    <i18n>massmailing.filter.empty.selected</i18n>
                </div>
                <span class="purple-bar bar"></span>
            </div>
        </div>
    </div>

    <!-- table content -->
    <div class="horizontal-spacing-twice massmail-anomalies row vertical-spacing-six">
        <div class="hr">&nbsp;</div>
        <div class="row">
            <h4 class="title">
                <i18n>massmailing.anomalies.title</i18n>
            </h4>
        </div>
        <div class="row chips">
            <div class="chip" ng-repeat="type in vm.getKeys(vm.massmailingCount)"
                 ng-class="{ selected: vm.filter.anomalies[type]}"
                 data-ng-click="vm.filter.anomalies[type] = !vm.filter.anomalies[type]">
                <span class="no-style">
                    <i class="incident">&nbsp;</i> [[ vm.massmailingCount[type] ]]
                    <i18n>massmailing.anomalies</i18n>
                    [[ type ]]
                </span>
            </div>
        </div>
        <div class="row vertical-spacing">
            <table>
                <thead>
                <th width="20%" class="text-align-left">
                    <i18n>massmailig.student</i18n>
                </th>
                <th width="10%">
                    <i18n>massmailing.class</i18n>
                </th>
                <th width="10%">
                    <i18n>massmailing.number</i18n>
                </th>
                <th width="20%" ng-repeat="type in vm.getKeys(vm.massmailingCount)">
                    [[lang.translate('massmailing.anomalies.' +
                    type)]]
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="anomaly in vm.massmailingAnomalies|filter:vm.filterAnomalies">
                    <td>
                        <student-name name="anomaly.displayName" id="anomaly.id"/>
                    </td>
                    <td class="text-center">[[anomaly.className]]</td>
                    <td class="text-center counters-cell">
                        <div class="counters">
                            <div ng-repeat="countType in vm.getKeys(anomaly.count)" class="[[countType]] counter">
                                [[anomaly.count[countType] ]]
                            </div>
                        </div>
                    </td>
                    <td class="text-center" ng-repeat="type in vm.getKeys(vm.massmailingCount)">
                        <span ng-if="anomaly.bug[type]">[[lang.translate('massmailing.anomalies.student.' + type)]]</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- lightbox modal for filters -->
    <lightbox show="vm.lightbox.filter" on-close="vm.lightbox.filter = false" class="massmailing-filters">
        <div ng-include="'/massmailing/public/template/home/home_filters.html'"></div>
    </lightbox>

    <!-- lightbox modal for sending template (PDF | SMS | MAIL) -->
    <lightbox show="vm.lightbox.massmailing" on-close="vm.lightbox.massmailing = false" class="massmailing-prefetch">
        <div ng-include="'/massmailing/public/template/home/home_prefetch.html'"></div>
    </lightbox>
</div>