<section class="head">
    <h3>
        <i18n>presences.absence.actions.concern.absence</i18n>
    </h3>
</section>
<section class="body lightbox-form">

</section>
<section>
    <div class="row horizontal-spacing">
        <div class="twelve cell">
            <button class="right-magnet" ng-click="vm.validActionForm()">
                <i18n>presences.exemptions.form.submit</i18n>
            </button>
            <button class="right-magnet cancel" ng-click="vm.lightbox.action = false">
                <i18n>presences.exemptions.form.cancel</i18n>
            </button>
        </div>
    </div>
</section>