<section class="head">
    <h3>
        <i18n>presences.filters</i18n>
    </h3>
</section>
<section class="body lightbox-form">
    <div class="row vertical-spacing">
        <div class="cell six paddingRight">
            <div class="cell twelve search-input">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="vm.studentSearchInputLightbox"
                                    data-ng-change="vm.selectStudentFromLightbox"
                                    data-on-search="vm.searchByStudentFromLightbox"
                                    data-options="vm.studentsLightbox.all"
                                    data-placeholder="presences.exemptions.search.student"
                                    data-search="vm.studentSearchInputLightbox">
                </async-autocomplete>
            </div>
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="student in vm.formFilter.students">
                        [[student.displayName]]
                        <i class="close" data-ng-click="vm.excludeStudentFromFilterLightbox(student)"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell six paddingLeft">
            <div class="cell twelve search-input">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="vm.classesSearchInputLightbox"
                                    data-ng-change="vm.selectClassFromLightbox"
                                    data-on-search="vm.searchByClassFromLightbox"
                                    data-options="vm.classesFilteredLightbox"
                                    data-placeholder="presences.exemptions.search.audience"
                                    data-search="vm.classesSearchInputLightbox">
                </async-autocomplete>
            </div>
            <div class="cell twelve">
                <ul class="cell twelve search-input-ul">
                    <li ng-repeat="class in vm.formFilter.classes">
                        [[class.name]]
                        <i class="close" data-ng-click="vm.excludeClassFromFilterLightbox(class)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row vertical-spacing">
        <!-- Event Type Filter -->
        <h4>
            <i18n>presences.events.title</i18n>
        </h4>
        <div class="chips cell">
            <label class="chip" ng-class="{selected: vm.formFilter.absences}"
                   data-ng-click="vm.switchAbsencesFilter()">
                <i18n>presences.absence.absences</i18n>
            </label>
            <label class="chip" ng-class="{selected: vm.formFilter.late}"
                   data-ng-click="vm.switchLateFilter()">
                <i18n>presences.absence.lateness</i18n>
            </label>
            <label class="chip" ng-class="{selected: vm.formFilter.departure}"
                   data-ng-click="vm.switchDepartureFilter()">
                <i18n>presences.register.event_type.departure</i18n>
            </label>
        </div>
    </div>
    <div class="row vertical-spacing" ng-if="vm.formFilter.absences">
        <!-- State Filter -->
        <h4 class="row">
            <i18n class="cell">presences.absence.state.absence</i18n>
        </h4>
        <div class="chips">
            <label class="chip" ng-class="{selected: vm.formFilter.unjustified}"
                   data-ng-click="vm.switchUnjustifiedFilter(); vm.adaptEvent();">
                <i18n>massmailing.types.UNJUSTIFIED</i18n>
            </label>
            <label class="chip" ng-class="{selected: vm.formFilter.justifiedNotRegularized}"
                   data-ng-click="vm.switchjustifiedNotRegularizedFilter(); vm.adaptEvent();">
                <i18n>presences.absence.types.justified.not.regularized</i18n>
            </label>
            <label class="chip" ng-class="{selected: vm.formFilter.justifiedRegularized}"
                   data-ng-click="vm.switchjustifiedRegularizedFilter(); vm.adaptEvent();">
                <i18n>presences.absence.types.justified.regularized</i18n>
            </label>
        </div>
    </div>
    <div class="row vertical-spacing" ng-if="vm.formFilter.absences">
        <!-- Reason Type Filter -->
        <h4>
            <i18n>presences.absence.reason.absence</i18n>
        </h4>
        <div class="chips cell overflow-y">
            <label class="chip" ng-class="{ selected: vm.formFilter.allReasons &&
                   (!vm.formFilter.unjustified ||
                   (vm.formFilter.unjustified &&
                   (vm.formFilter.justifiedNotRegularized || vm.formFilter.justifiedRegularized)))}"
                   data-ng-click="vm.switchAllReasons()">
                <i18n>presences.all.none</i18n>
            </label>
            <label class="chip"
                   ng-repeat="reason in vm.eventReasonsType track by $index|orderBy: 'label'"
                   ng-class="{ selected: reason.isSelected &&
                   (!vm.formFilter.unjustified ||
                   (vm.formFilter.unjustified &&
                   (vm.formFilter.justifiedNotRegularized || vm.formFilter.justifiedRegularized)))}"
                   ng-click="vm.switchReason(reason)">
                <span ng-show="[[reason.id]] !== 0 && !reason.hidden"
                      ng-disabled="vm.formFilter.unjustified &&
                      (!vm.formFilter.justifiedNotRegularized && !vm.formFilter.justifiedRegularized)">
                    [[reason.label]]
                </span>
            </label>
        </div>
    </div>
</section>
<section>
    <div class="row horizontal-spacing">
        <div class="twelve cell">
            <button class="right-magnet" ng-click="vm.validForm()">
                <i18n>presences.exemptions.form.submit</i18n>
            </button>
            <button class="right-magnet cancel" ng-click="vm.lightbox.filter = false">
                <i18n>presences.exemptions.form.cancel</i18n>
            </button>
        </div>
    </div>
</section>