<table class="events-table table table-hover"
       data-ng-show="vm.events.all && vm.events.all.length > 0">
    <!-- main title -->
    <thead>
    <tr>
        <th width="54%">
            <i18n>presences.exemptions.student</i18n>
        </th>
        <th width="22%">
            <i18n>presences.exemptions.dates</i18n>
        </th>
        <th width="4%">
            <i18n>presences.absence.period</i18n>
        </th>
        <th width="8%">
            <i18n>presences.absence.reason</i18n>
        </th>
        <th width="4%">
            <i18n>presences.absence.file</i18n>
        </th>
        <th width="4%">
            <i18n>presences.absence.action</i18n>
        </th>
        <th width="4%">
            <i18n>presences.absence.regularise</i18n>
        </th>
    </tr>
    </thead>

    <!-- event list -->
    <tbody class="events-table-body" data-ng-repeat="event in vm.events.all track by $index">
    <tr data-id="[[$index]]" data-ng-click="vm.toggleCollapse($event)">

        <!-- Profile -->
        <th class="events-table-body-student">
            <img src="/userbook/avatar/[[event.studentId]]" height="43" width="43">

            <div class="events-table-body-student-content">
                <student-name name="event.displayName" id="event.studentId"/>
                <span class="class-name">[[event.className]]</span>
            </div>
        </th>

        <!-- Date -->
        <th class="events-table-body-date uppercase text-center">[[event.date | date: 'dd/MM/yyyy']]</th>

        <!-- Period -->
        <th class="events-table-body-period text-center">
            <ul class="period">
                <!-- planning  -->
                <li ng-repeat="periods in event.dayHistory track by $index"
                    class="[[vm.eventTypeState(periods, event)]]"
                    tooltip="[[periods.name]]">
                </li>
                <li><i class="tableEdit" data-ng-click="vm.editPeriod($event, event)"></i></li>
            </ul>
        </th>

        <!-- Select reason-->
        <th class="table-reason text-center">
            <label>
                <select data-ng-model="event.globalReason"
                        data-ng-click="vm.reasonSelect($event)"
                        data-ng-change="vm.changeAllReason(event)"
                        ng-options="reason.id as reason.label for reason in vm.filterSelect(vm.eventReasonsType, event)"
                        options-disabled="reason.hidden for reason in vm.eventReasonsType">
                    <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                </select>
            </label>
        </th>

        <!-- Download file-->
        <th class="events-table-body-file text-center">
            <i class="attach forbidden" data-ng-click="vm.downloadFile($event)"></i>
        </th>

        <!-- Action -->
        <th class="text-center">
            <i ng-show="event.actionAbbreviation == null && event.events.length <= 1" class="add"
               data-ng-click="vm.doAction($event, event)">
            </i>
            <i ng-show="event.events.length > 1" class="addMultiple"></i>
            <span ng-show="event.events.length <= 1" class="events-table-body-color">
                [[event.actionAbbreviation]]
            </span>
        </th>

        <!-- Absence regularised -->
        <th class="text-center">
            <label class="checkbox"
                   ng-show="!vm.hideGlobalCheckbox(event)"
                   ng-style="{
                        'pointer-events': 'all'
                    }"
                   ng-class="{half: vm.regularizedChecked(event)}"
                   data-ng-click="vm.stopAbsencePropagation($event)">
                <input type="checkbox" data-ng-model="event.globalCounsellorRegularisation"
                       data-ng-change="vm.toggleAllEventsRegularised(event)">
                <span></span>
            </label>
        </th>
    </tr>


    <!-- description content -->
    <tr data-ng-show="event.events.length !== 0" ng-class="{open: vm.isCollapsibleOpen($parent.$index)}"
        class="events-table-body-description" ng-repeat="history in event.events | orderBy:'+end_date'">
        <td class="text-center" width="54%">&nbsp;</td>
        <td class="events-table-body-date uppercase text-center" width="22%">
            [[history.start_date | date:'HH:mm']] - [[history.end_date | date:'HH:mm']]
        </td>
        <td class="text-center" width="4%">&nbsp;</td>
        <td class="text-center" width="8%">
            <span class="events-table-body-description-content-select table-reason">
                 <label>
                    <select data-ng-model="history.reason_id"
                            data-ng-change="vm.changeReason(history, event)"
                            ng-options="reason.id as reason.label for reason in vm.eventReasonsTypeDescription"
                            options-disabled="reason.hidden for reason in vm.eventReasonsType">
                        <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                    </select>
                </label>
            </span>
        </td>
        <td class="text-center" width="4%">
            &nbsp;
        </td>
        <td class="text-center" width="4%">
            <i ng-class="{add : history.actionAbbreviation == null}"
               data-ng-click="vm.doAction($event, history)">
            </i>
            <span class="events-table-body-color" ng-click="vm.doAction($event, history)">
                    [[history.actionAbbreviation]]
                </span>
        </td>
        <td class="text-center" width="4%">
            <label class="events-table-body-description-content-checkbox checkbox"
                   ng-style="{
                      opacity: !vm.provingReasonsMap[history.reason_id] && history.reason_id !== null ? 1 : 0,
                      'pointer-events': history.reason_id !== null && !vm.provingReasonsMap[history.reason_id] ? 'all' : 'none'
                   }">
                <input type="checkbox" data-ng-model="history.counsellor_regularisation"
                       ng-disabled="!(history.reason_id !== null && !vm.provingReasonsMap[history.reason_id]) && history.counsellor_regularisation"
                       data-ng-change="vm.toggleEventRegularised(history)">
                <span ng-style="{cursor: history.reason_id !== null && !vm.provingReasonsMap[history.reason_id] ? 'pointer' : 'default'}"></span>
            </label>
        </td>
    </tr>
    </tbody>
</table>