<table class="events-table table table-hover"
       data-ng-show="vm.events.all && vm.events.all.length > 0">
    <!-- main title -->
    <thead>
    <tr>
        <th style="width: 20%">
            <i18n>presences.exemptions.student</i18n>
        </th>
        <th style="width: 10%">
            <i18n>presences.exemptions.dates</i18n>
        </th>
        <th style="width:15%">
            <i18n>presences.absence.period</i18n>
        </th>
        <th style="width: 22%">
            <i18n>presences.absence.reason</i18n>
        </th>
        <th style="width: 4%">
            <i18n>presences.absence.action</i18n>
        </th>
        <th style="width: 4%">
            <i18n>presences.absence.regularise</i18n>
        </th>
        <th style="width: 4%">
            <i18n>presences.absence.massmailed</i18n>
        </th>
    </tr>
    </thead>

    <!-- event list -->
    <tbody class="events-table-body" data-ng-repeat="event in vm.events.all track by $index">
    <tr data-id="[[$index]]" data-ng-click="vm.toggleCollapse($event)">

        <!-- Profile -->
        <th class="events-table-body-student">
            <img ng-src="/viescolaire/structures/[[vm.events.structureId]]/students/[[event.student.id]]/picture"
                 height="43" width="43">
            <div class="events-table-body-student-content">
                <student-name name="event.student.displayName" id="event.student.id"></student-name>
                <span class="class-name">[[event.student.classeName]]</span>
            </div>
        </th>

        <!-- Date -->
        <th class="events-table-body-date uppercase text-center">[[vm.formatMainDate(event.date)]]</th>

        <!-- Period -->
        <th class="events-table-body-period text-center">
            <ul class="period" ng-click="vm.preventCollapse($event)">
                <!-- planning  -->
                <li data-ng-repeat="periods in event.student.day_history track by $index"
                    data-ng-if="periods.name != undefined"
                    class="[[vm.eventTypeState(periods, $parent.$index, $index)]]"
                    data-ng-click="vm.openEventForm($event, periods, event.student.id)"
                    data-ng-mousedown="vm.dragSlotStart($event, periods, event.student.id, $parent.$index, $index)"
                    data-ng-mouseup="vm.dragSlotEnd($event, periods, event.student.id, $parent.$index)"
                    data-ng-mouseenter="vm.dragSlotMove($event, $parent.$index, $index)">
                    <!-- tooltip hovered -->
                    <span class="tooltip-top"
                          ng-if="vm.findEvent(periods.events) != undefined">
                        <span class="font-bold">[[vm.formatHourTooltip(periods.start)]] - [[vm.formatHourTooltip(periods.end)]]</span>
                        <br><i18n>presences.created.by</i18n>&nbsp;&#58;<br>
                        <span class="font-bold">[[vm.findEvent(periods.events).owner.displayName]]</span>
                    </span>
                </li>
                <li><i class="tableEdit" data-ng-click="vm.editPeriod($event, event)"></i></li>
            </ul>
        </th>

        <!-- Select reason-->
        <th class="table-reason text-center">
            <label ng-if="vm.isEachEventAbsence(event)">
                <select data-ng-model="event.reason.id"
                        data-ng-click="vm.reasonSelect($event)"
                        data-ng-change="vm.changeAllReason(event, event.student.id)"
                        ng-options="reason.id as reason.label for reason in vm.filterSelect(vm.eventReasonsType, event)"
                        options-disabled="reason.hidden for reason in vm.eventReasonsType">
                    <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                </select>
            </label>
        </th>
        <!-- Action -->
        <th class="text-center">
            <!-- Display simple add and doAction open lightbox if only one event -->
            <i ng-show="event.action_abbreviation == null" class="add" data-ng-click="vm.doAction($event, event)"></i>
            <!-- Display multiple add if has different actions (doAction do not open lightbox, only show details)  -->
            <i ng-show="event.action_abbreviation === 'MULTIPLES'" class="addMultiple"></i>
            <!-- Display last action abbreviation if only one event or has multiple events and they all have same actions (doAction open lightbox)  -->
            <span ng-show="event.action_abbreviation && event.action_abbreviation !== 'MULTIPLES'"
                  class="events-table-body-color"
                  data-ng-click="vm.doAction($event, event)">
                [[event.action_abbreviation]]
            </span>
        </th>

        <!-- Absence regularised -->
        <th class="text-center">
            <label class="checkbox"
                   ng-show="!vm.hideGlobalCheckbox(event)"
                   ng-style="{
                        'pointer-events': 'all'
                    }"
                   ng-class="{half: vm.regularizedChecked(event)}"
                   data-ng-click="vm.stopAbsencePropagation($event)">
                <input type="checkbox" data-ng-model="event.counsellor_regularisation"
                       data-ng-change="vm.toggleAllEventsRegularised(event, event.student.id)">
                <span></span>
            </label>
        </th>

        <!-- Absence massmailed -->
        <th class="text-center">
            <label>
                <i class="massmail-status" ng-class="event.massmailed ? 'check-circle' : 'cross-circle'"></i>
            </label>
        </th>
    </tr>

    <!-- description content -->
    <tr data-ng-show="event.events.length !== 0" ng-class="{open: vm.isCollapsibleOpen($parent.$index)}"
        class="events-table-body-description"
        ng-repeat="history in event.events | orderBy:'+end_date' track by $index ">
        <td class="text-center padding-sm" style="width: 20%">&nbsp;</td>

        <!-- description under events time report -->
        <td class="events-table-body-date uppercase text-center" style="width: 10%">
            [[history.start_date | date:'HH:mm']] - [[history.end_date | date:'HH:mm']]
        </td>

        <!-- description under events owner -->
        <td class="text-center padding-sm" style="width: 15%">
            <span>
                <i class="account"></i>
                <span>[[lang.translate('presences.created.by')]] [[history.owner.displayName]]</span>
            </span>
        </td>

        <!-- description under events select reason -->
        <td class="text-center padding-sm" style="width: 18%">
            <span class="events-table-body-description-content-select table-reason">
                 <label ng-if="history.type_id == 1">
                    <select data-ng-model="history.reason_id"
                            data-ng-change="vm.changeReason(history, event, event.student.id)"
                            ng-options="reason.id as reason.label for reason in vm.eventReasonsTypeDescription"
                            options-disabled="reason.hidden for reason in vm.eventReasonsType">
                        <option value="">[[lang.translate('presences.absence.select.empty')]]</option>
                    </select>
                </label>
            </span>
        </td>
        <!-- description under events action abbreviation -->
        <td class="text-center padding-sm" style="width: 4%">
            <i ng-class="{add : history.actionAbbreviation == null}"
               data-ng-click="vm.doAction($event, history)">
            </i>
            <span class="events-table-body-color" ng-click="vm.doAction($event, history)">
                    [[history.actionAbbreviation]]
                </span>
        </td>

        <!-- description under events regularized -->
        <td class="text-center padding-sm" style="width: 4%">
            <label class="events-table-body-description-content-checkbox checkbox"
                   ng-style="{
                      opacity: !vm.provingReasonsMap[history.reason_id] && history.reason_id !== null ? 1 : 0,
                      'pointer-events': history.reason_id !== null && !vm.provingReasonsMap[history.reason_id] ? 'all' : 'none'
                   }">
                <input type="checkbox" data-ng-model="history.counsellor_regularisation"
                       ng-disabled="!(history.reason_id !== null && !vm.provingReasonsMap[history.reason_id]) && history.counsellor_regularisation"
                       data-ng-change="vm.toggleEventRegularised(history, event, event.student.id)">
                <span ng-style="{cursor: history.reason_id !== null && !vm.provingReasonsMap[history.reason_id] ? 'pointer' : 'default'}"></span>
            </label>
        </td>


        <!-- description under events massmailed -->
        <td class="text-center padding-sm" style="width: 4%">
            <label>
                <i class="massmail-status"
                   ng-class="history.massmailed ? 'check-circle' : 'cross-circle'"></i>
            </label>
        </td>
    </tr>
    </tbody>

    <sniplet workflow="presences.createEvent" template="event-form/sniplet-events-form"
             application="presences"></sniplet>
</table>