$alert-height: 117px;

.widget-alerts {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-template-rows: $alert-height;
  }

  .widget-alert {
    border-radius: 7px;
    background-color: $white;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:after {
      content: ' ';
      width: 100%;
      height: 10px;
      position: absolute;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      display: block;
      bottom: 0;
      right: 0;
    }

    &.absences:after, &.UNJUSTIFIED:after, &.ABSENCE:after {
      background-color: $presences-red;
    }

    &.JUSTIFIED:after {
      background-color: $presences-pink;
    }

    &.lateness:after, &.LATENESS:after {
      background-color: $presences-purple;
    }

    &.incidents:after, &.INCIDENT:after {
      background-color: $presences-grey;
    }

    &.textbooks:after, &.FORGOTTEN_NOTEBOOK:after {
      background-color: $presences-water-green;
    }

    &.bold {
      font-weight: bold;
    }

    .value {
      font-size: 50px;
      font-weight: bold;
      margin-top: 25px;
    }

    .subtitle {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }


  .grid-block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .padding-10 {
    padding: 10px;
  }

  .padding-13 {
    padding: 13px;
  }

  .margin-top-5 {
    margin-top: 5px;
  }

  .margin-right-5 {
    margin-right: 5px;
  }

  .card-alert {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 245px;
    height: 90px;
    display: inline-table;
    margin: 10px;

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  .space-between {
    justify-content: space-between;
  }

  .selected {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    &:after {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.ABSENCE {
      box-shadow: 0 0 0 5px $presences-red;
    }

    &.LATENESS {
      box-shadow: 0 0 0 5px $presences-purple;
    }

    &.INCIDENT {
      box-shadow: 0 0 0 5px $presences-grey;
    }

    &.FORGOTTEN_NOTEBOOK {
      box-shadow: 0 0 0 5px $presences-water-green;
    }
  }

}