<!-- header / searchbar -->
<div class="row">
    <h1 class="cell paddingRight">
        <i18n>statistics-presences.title</i18n>
    </h1>

    <!-- Student search bar -->
    <div class="cell four paddingRight">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-disabled="false"
                                data-ng-model="vm.filter.studentsSearch.student"
                                data-ng-change="vm.selectStudent"
                                data-on-search="vm.searchStudent"
                                data-options="vm.filter.studentsSearch.students"
                                data-placeholder="statistics-presences.search.student"
                                data-search="vm.filter.studentsSearch.student">
            </async-autocomplete>
        </div>

        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <span data-ng-show="vm.filter.studentsSearch.getSelectedStudents().length === 0">&nbsp;</span>
                <li ng-repeat="student in vm.filter.studentsSearch.getSelectedStudents()">
                    [[student.displayName]] <i class="close"
                                               data-ng-click="vm.removeStudent(student)"></i>
                </li>
            </ul>
        </div>
    </div>

    <!-- Classes/Groups search bar -->
    <div class="cell four paddingLeft">
        <div class="cell twelve search-input">
            <async-autocomplete data-ng-disabled="false"
                                data-ng-model="vm.filter.groupsSearch.group"
                                data-ng-change="vm.selectAudience"
                                data-on-search="vm.searchAudience"
                                data-options="vm.filter.groupsSearch.groups"
                                data-placeholder="statistics-presences.search.audience"
                                data-search="vm.filter.groupsSearch.group">
            </async-autocomplete>
        </div>
        <div class="cell twelve">
            <ul class="cell twelve search-input-ul">
                <span data-ng-show="vm.filter.groupsSearch.getSelectedGroups().length === 0">&nbsp;</span>
                <li ng-repeat="audience in vm.filter.groupsSearch.getSelectedGroups()">
                    [[audience.name]] <i class="close"
                                         data-ng-click="vm.removeGroup(audience)"></i>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- filter area -->
<div class="row margin-bottom-md margin-top-md">
    <!-- main content header -->
    <div class="row">
        <div class="filter-row cell">
            <!-- select indicator type -->
            <div class="cell right-spacing-twice indicator-switch" data-ng-show="vm.indicators.length > 1">
                <select data-ng-model="vm.indicator"
                        ng-change="vm.switchIndicator()"
                        ng-options="indicator as indicator.i18nName() for indicator in vm.indicators"></select>
            </div>

            <!-- date picker -->
            <div class="date-filters cell">
                <span><i18n>massmailing.from</i18n></span>
                <span class="card date-picker">
                    <date-picker ng-model="vm.filter.from" ng-change="vm.updateDate();"></date-picker>
                </span>
                <span><i18n>massmailing.to</i18n></span>
                <span class="card date-picker">
                    <date-picker ng-model="vm.filter.to" ng-change="vm.updateDate();"></date-picker>
                </span>
            </div>
        </div>

        <div class="right-magnet">
            <!-- export CSV -->
            <button class="left-spacing-twice no-margin" data-ng-click="vm.openCSVOptions()" data-ng-disabled="vm.isWeekly(vm.indicator)">
                <i18n>statistics-presences.csv.export</i18n>
            </button>
        </div>
    </div>

    <div class="filter-row">
        <!-- icon to open filter -->
        <div ng-if="vm.indicator._display !== vm.displayType.GRAPH" class="cell right-spacing">
            <i class="filter" data-ng-click="vm.openFilter()">&nbsp;</i>
        </div>
        <!-- display absence rate -->
        <!-- switch stat default/rate absence -->
        <div ng-if="vm.isGlobal(vm.indicator) && vm.setting.event_recovery_method !== 'HOUR'"
             class="right-spacing displayRate"
             ng-class="{selected: vm.indicator.rateDisplay}">
            <i class="percent" data-ng-click="vm.indicator.rateDisplay = !vm.indicator.rateDisplay">
                <span class="tooltip-top"><i18n>statistics-presences.display.absences.rate</i18n></span>
            </i>
        </div>

        <!-- option display -->
        <!-- this component set display mode to indicator on interaction (onChange) -->
        <display-statistics-mode on-change="vm.onSwitchDisplay()"
                                 indicator="vm.indicator"
                                 ng-show="true"
                                 ng-if="vm.isMonthly(vm.indicator)"
                                 class="right-spacing">
        </display-statistics-mode>
        <!-- tagged filter -->
        <tagged-filter ng-if="vm.indicator._display !== vm.displayType.GRAPH"
                       class="vertical-spacing-twice"
                       labels="vm.getSelectedFilterLabel()">
        </tagged-filter>
    </div>
</div>

<!-- empty state -->
<div data-ng-show="!vm.loading && vm.indicator.isEmpty()">
    <div class="empty-content">
        <div class="five description">
            <span class="red-bar bar"></span>
            <span class="text-center">[[vm.indicator.getEmptyMessage()]]</span>
            <span class="yellow-bar bar"></span>
        </div>
        <img data-ng-src="/statistics-presences/public/images/girl-book.svg" class="four" alt="">
    </div>
</div>

<!-- lightbox for export option -->
<div ng-include="'/statistics-presences/public/template/export-lightbox/monthly/export-option-lightbox.html'"></div>

<!-- indicator -->
<container template="indicator" data-ng-show="!vm.indicator.isEmpty()"></container>

<!-- loading state -->
<loader data-ng-show="vm.loading && (vm.indicator._display !== vm.displayType.GRAPH)" min-height="'250px'"></loader>