.punishment-exclude-form {
  &-date {
    padding-bottom: $spacing-M;

    date-picker {
      margin-right: $spacing-L;
    }
  }

  &-mandatory {
    padding: $spacing-LXS 0 $spacing-L 0;
    display: inline-flex;
    align-items: center;
  }

  &-absence {
    display: inline-flex;
    align-items: center;
    margin-bottom: $spacing-L;

    &.add-absence {
      margin-bottom: $spacing-XXS;
    }

  }

  &-absence-anomaly {
    color: $deep-red;
    span {
      font-weight: bold;
      color: $dark-red;
    }
  }

  &-absence-reason {
    margin-top: $spacing-LXS;
    margin-bottom: $spacing-L;

    &-follow {
      padding-left: $spacing-M;
    }
  }

  switch {
    .switch {
      input[type=checkbox]:checked + .tick {
        background: $green;
      }

      input[type=checkbox]:checked + .tick:before {
        background: $deep-green;
      }
    }
  }
}