name: dev-check-repository

on: [push]

jobs:
  build-node-test:
    runs-on: ubuntu-latest

    container:
      image: opendigitaleducation/node:16-alpine
      options: --user root -v ${{ github.workspace }}:/home/node/:rw

    steps:
      - uses: actions/checkout@v1
      - name: Run yarn install
        run: yarn install
      - name: Run build node with Gulp
        run: node_modules/gulp/bin/gulp.js build
      - name: Run test
        run: yarn test
      - name: Run build node sass
        run: yarn run build:sass

  build-maven-test:
    runs-on: ubuntu-latest

    container:
      image: maven:3.8.6-jdk-8
      options: --user root -v ${{ github.workspace }}:/home/maven/:rw

    steps:
      - uses: actions/checkout@v1
      - name: Run build maven
        run: mvn -Duser.home=/var/maven clean install
      - name: Run maven test
        run: mvn -Duser.home=/var/maven test
